@inherits AdminCompontentBase

<ExpansionWrapperUnique ValueChanged="ValueChangedAsync"
                        Value="ExpansionWrapperUniqueValue"
                        Checkable
                        Categories=_categories
                        FavoriteNavs=new()
                        TagIdPrefix="@($"{TagIdPrefix}Configure")"
                        Class="@Class"
                        Style="@Style" />

<DefaultSheetDialog Value="Preview" ValueChanged="PreviewChanged" Title="@T("Preview Permissions")">
    <AutoHeight>
        <AutoHeightContent>
            <div class="global-nav" style="display: flex;height: auto;">
                <ExpansionWrapperUnique Value="ExpansionWrapperUniqueValue"
                                        Categories=_categories
                                        InPreview=Preview
                                        TagIdPrefix="@($"{TagIdPrefix}Preview")"
                                        Style="max-height:calc(100vh - 250px);" />
            </div>
        </AutoHeightContent>
        <FooterContent>
            <div class="d-flex mt-6">
                <MSpacer />
                <SButton OnClick="async() => await PreviewChanged.InvokeAsync(false)" Medium Outlined>
                    @T("Back")
                </SButton>
            </div>
        </FooterContent>
    </AutoHeight>
</DefaultSheetDialog>