@inherits AdminCompontentBase

<SGroupBox Class="@Class" Style="Style" Title="@T("RoleOwner")">
    <div style="min-height:48px;">
         @if (Role.Users.Count > 0)
        {
            <div class="caption">@T("Member")</div>
            <div class="ml-4 mt-3">
                @foreach (var user in Role.Users)
                {
                    <MChip Class="mr-3 pl-0" Style="height:28px;">
                        <MAvatar Size=24>
                            <img src="@user.Avatar" />
                        </MAvatar>
                        <span class="body2 regular--text ml-1">@user.Name</span>
                    </MChip>
                }
            </div>
        }
        @if (Role.Teams.Count > 0)
        {
            <div class="caption mt-3">@T("Team")</div>
            <div class="ml-4 mt-3">
                @foreach (var team in Role.Teams)
                {
                    <MChip Class="mr-3" Style="height:28px;">
                        <MAvatar Left Size=24>
                            <img src="@team.Avatar" />
                        </MAvatar>
                        <span class="body2 regular--text">@team.Name</span>
                    </MChip>
                }
            </div>
        }
    </div>
</SGroupBox>
