@inherits AdminCompontentBase

<DefaultSheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("Add UserClaim")">
    <MForm Model=UserClaim EnableValidation EnableI18n>
        <AutoHeight Overflow>
            <AutoHeightContent>
                <DefaultTitle Class="mb-4">@T("Basic Information")</DefaultTitle>
                <STextField @bind-Value="UserClaim.Name" Required Label="@T("Name")" Class="mb-12" />
                <STextarea @bind-Value="UserClaim.Description" Required Label="@T("Description")" Class="mb-12" />
            </AutoHeightContent>
            <FooterContent>
                <div class="d-flex mt-6">
                    <MSpacer></MSpacer>
                    <SButton Medium OnClick="async () => await AddUserClaimAsync(context)">@T("Submit")</SButton>
                </div>
            </FooterContent>
        </AutoHeight>
    </MForm>
</DefaultSheetDialog>