@inherits AdminCompontentBase

<DefaultSheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("Add UserClaim")">
    <MForm Model=UserClaim EnableValidation @ref="Form">
        <AutoHeight Overflow>
            <AutoHeightContent>
                <div class="font-14-bold">@T("Basic Information")</div>
                <MRow Class="mt-4">
                    <MCol>
                        <DefaultTextField @bind-Value="UserClaim.Name" Label="@T("UserClaim.Name")" />
                    </MCol>
                </MRow>
                <MRow Class="mt-1">
                    <MCol>
                        <MTextarea @bind-Value="UserClaim.Description" Outlined Label="@T("Description")" />
                    </MCol>
                </MRow>
            </AutoHeightContent>
            <FooterContent>
                <div class="d-flex mt-6">
                    <MSpacer></MSpacer>
                    <DefaultButton Medium OnClick="async () => await AddUserClaimAsync(context)">@T("Submit")</DefaultButton>
                </div>
            </FooterContent>
        </AutoHeight>
    </MForm>
</DefaultSheetDialog>