@page "/sso/userClaim"
@inherits AdminCompontentBase

<PageTitle>
    @T("UserClaim")
</PageTitle>

<DefaultCard>
    <AutoHeight>
        <HeaderContent>
            <div class="d-flex mb-6">
                <SearchTextField @bind-Value="Search" />
                <MSpacer />
                <DefaultButton Small OnClick="() => AddStandardUserClaimsAsync()">
                    <MIcon Size=18>@IconConstants.Setting</MIcon>
                    <span class="ml-2 btn">@T("Create standard userClaims")</span>
                </DefaultButton>
                <DefaultButton Small Class="ml-4" OnClick="() => OpenAddApiResourceDialog()">
                    <MIcon Size=18>@IconConstants.Add</MIcon>
                    <span class="ml-2 btn">@T("Add")</span>
                </DefaultButton>
            </div>
        </HeaderContent>
        <AutoHeightContent>
            <DefaultDataTable Headers="GetHeaders()" Items="UserClaims" TItem="UserClaimDto" ItemsPerPage="PageSize">
                <HeaderColContent Context="header">
                    <span>@header.Text</span>
                </HeaderColContent>
                <ItemColContent>
                    @switch (context.Header.Value)
                    {
                        case nameof(UserClaimDto.Name):
                            <div class="hover-pointer" @onclick="()=> OpenUpdateApiResourceDialog(context.Item)">
                                <span>@context.Item.Name</span>
                            </div>
                            break;
                        case (nameof(UserClaimDto.Description)):
                            <span>@context.Item.Description</span>
                            break;
                        case nameof(UserClaimDto.UserClaimType):
                            <span>@T(context.Item.UserClaimType.ToString())</span>
                            break;
                        case "Action":
                            <MIcon Size="20" OnClick="()=> OpenUpdateApiResourceDialog(context.Item)">@IconConstants.Update</MIcon>
                            <MIcon Size="20" Class="ml-6" OnClick="()=> OpenRemoveUserClaimDialog(context.Item)">@IconConstants.Remove</MIcon>
                            break;
                        default:
                            <span>@context.Value</span>
                            break;
                    }
                </ItemColContent>
            </DefaultDataTable>
        </AutoHeightContent>
        <FooterContent>
            <Pagination Class="mt-5" @bind-Page="Page" @bind-PageSize=PageSize Total=Total />
        </FooterContent>
    </AutoHeight>
</DefaultCard>

<AddUserClaimDialog @bind-Visible="AddUserClaimDialogVisible" OnSubmitSuccess=GetUserClaimsAsync />
<UpdateUserClaimDialog @bind-Visible="UpdateUserClaimDialogVisible" UserClaimId=CurrentUserClaimId OnSubmitSuccess=GetUserClaimsAsync />