@page "/sso/userClaim"
@inherits AdminCompontentBase

<MCard Class="pa-6">
    <div class="d-flex mb-6">
        <DefaultTextField @bind-Value="Search" Color="primary" Class="rounded-2 search" Style="max-width:340px;" Placeholder="@T("Search")" HideDetails="@("auto")" Flat Dense Solo BackgroundColor="fill-lighten-1">
            <PrependInnerContent>
                <MIcon Size=16 Class="mr-2 default-emphasis-secondary--text">mdi-magnify</MIcon>
            </PrependInnerContent>
        </DefaultTextField>
        <MSpacer />
        <MButton Color="primary" Class="ml-6 medium-button" OnClick="() => AddStandardUserClaimsAsync()">
            <MIcon Size=18>mdi-cog-outline</MIcon>
            <span class="ml-2">@T("Create standard userClaims")</span>
        </MButton>
        <MButton Color="primary" Class="ml-6 medium-button" OnClick="() => OpenAddApiResourceDialog()">
            <MIcon Size=18>mdi-plus</MIcon>
            <span class="ml-2">@T("Add")</span>
        </MButton>
    </div>
    <MDataTable Headers="Headers" Items="UserClaims" TItem="UserClaimDto" ItemsPerPage="PageSize" HideDefaultFooter Class="user table-border-none">
        <HeaderColContent Context="header">
            <span class="text-btn">@header.Text</span>
        </HeaderColContent>
        <ItemColContent>
            @switch (context.Header.Value)
            {
                case nameof(UserClaimDto.Name):
                    <div class="hover-pointer" @onclick="()=> OpenUpdateApiResourceDialog(context.Item)">
                        <span class="text-body3 default--text">@context.Item.Name</span>
                    </div>
                    break;
                case (nameof(UserClaimDto.Description)):
                    <span class="font-16 default-regular--text">@context.Item.Description</span>
                    break;
                case nameof(UserClaimDto.UserClaimType):
                    <span class="font-16 default-regular--text">@T(context.Item.UserClaimType.ToString())</span>
                    break;
                case "Action":
                    <MIcon Small Color="default-regular" OnClick="()=> OpenUpdateApiResourceDialog(context.Item)">mdi-pencil</MIcon>
                    <MIcon Small Color="default-regular" Class="ml-7" OnClick="()=> OpenRemoveUserClaimDialog(context.Item)">mdi-delete</MIcon>
                    break;
                default:
                    <span class="text-body3">@context.Value</span>
                    break;
            }
        </ItemColContent>
        <FooterContent>
            <DefaultPagination Class="mt-5" @bind-Page="Page" @bind-PageSize=PageSize Total=Total />
        </FooterContent>
    </MDataTable>
</MCard>

<AddUserClaimDialog @bind-Visible="AddUserClaimDialogVisible" OnSubmitSuccess=GetUserClaimsAsync />
<UpdateUserClaimDialog @bind-Visible="UpdateUserClaimDialogVisible" UserClaimId=CurrentUserClaimId OnSubmitSuccess=GetUserClaimsAsync />