@page "/sso/userClaim"
@inherits AdminCompontentBase

<DefaultCard>
    <AutoHeight>
        <HeaderContent>
            <div class="d-flex mb-6">
                <SearchTextField @bind-Value="Search" />
                <MSpacer />
                <DefaultButton Small OnClick="() => AddStandardUserClaimsAsync()">
                    <MIcon Size=18>mdi-cog-outline</MIcon>
                    <span class="ml-2">@T("Create standard userClaims")</span>
                </DefaultButton>
                <DefaultButton Small Class="ml-6" OnClick="() => OpenAddApiResourceDialog()">
                    <MIcon Size=18>@IconConstants.Add</MIcon>
                    <span class="ml-2">@T("Add")</span>
                </DefaultButton>
            </div>
        </HeaderContent>
        <AutoHeightContent>
            <DefaultDataTable Headers="Headers" Items="UserClaims" TItem="UserClaimDto" ItemsPerPage="PageSize">
                <HeaderColContent Context="header">
                    <span class="font-14-medium">@header.Text</span>
                </HeaderColContent>
                <ItemColContent>
                    @switch (context.Header.Value)
                    {
                        case nameof(UserClaimDto.Name):
                            <div class="hover-pointer" @onclick="()=> OpenUpdateApiResourceDialog(context.Item)">
                                <span class="text-body3 default--text">@context.Item.Name</span>
                            </div>
                            break;
                        case (nameof(UserClaimDto.Description)):
                            <span class="font-16 default-regular--text">@context.Item.Description</span>
                            break;
                        case nameof(UserClaimDto.UserClaimType):
                            <span class="font-16 default-regular--text">@T(context.Item.UserClaimType.ToString())</span>
                            break;
                        case "Action":
                            <MIcon Small Color="default-regular" OnClick="()=> OpenUpdateApiResourceDialog(context.Item)">mdi-pencil</MIcon>
                            <MIcon Small Color="default-regular" Class="ml-7" OnClick="()=> OpenRemoveUserClaimDialog(context.Item)">mdi-delete</MIcon>
                            break;
                        default:
                            <span class="text-body3">@context.Value</span>
                            break;
                    }
                </ItemColContent>
            </DefaultDataTable>
        </AutoHeightContent>
        <FooterContent>
            <Pagination Class="mt-5" @bind-Page="Page" @bind-PageSize=PageSize Total=Total />
        </FooterContent>
    </AutoHeight>
</DefaultCard>

<AddUserClaimDialog @bind-Visible="AddUserClaimDialogVisible" OnSubmitSuccess=GetUserClaimsAsync />
<UpdateUserClaimDialog @bind-Visible="UpdateUserClaimDialogVisible" UserClaimId=CurrentUserClaimId OnSubmitSuccess=GetUserClaimsAsync />