@page "/organization/position"
@inherits AdminCompontentBase

<DefaultCard>
    <AutoHeight>
        <HeaderContent>
            <div class="d-flex mb-6">
                <SearchTextField @bind-Value="Search" />
                <MSpacer />
                <DefaultButton Small Color="primary" OnClick="() => OpenAddApiResourceDialog()">
                    <MIcon Size=18>@IconConstants.Add</MIcon>
                    <span class="ml-2">@T("Add")</span>
                </DefaultButton>
            </div>
        </HeaderContent>
        <AutoHeightContent>
            <DefaultDataTable Headers="Headers" Items="Positions" TItem="PositionDto" ItemsPerPage="PageSize">
                <HeaderColContent Context="header">
                    <span class="body2">@header.Text</span>
                </HeaderColContent>
                <ItemColContent>
                    @switch (context.Header.Value)
                    {
                        case nameof(PositionDto.Name):
                            <div class="hover-pointer" @onclick="()=> OpenUpdateApiResourceDialog(context.Item)">
                                <span class="subtitle neutral--text">@context.Item.Name</span>
                            </div>
                            break;
                        case "Action":
                            <MIcon Small Color="neutral-lighten-2" OnClick="()=> OpenUpdateApiResourceDialog(context.Item)">mdi-pencil</MIcon>
                            <MIcon Small Color="neutral-lighten-2" Class="ml-7" OnClick="()=> OpenRemovePositionDialog(context.Item)">mdi-delete</MIcon>
                            break;
                        default:
                            <span class="subtitle">@context.Value</span>
                            break;
                    }
                </ItemColContent>
            </DefaultDataTable>
        </AutoHeightContent>
        <FooterContent>
            <Pagination Class="mt-5" @bind-Page="Page" @bind-PageSize=PageSize Total=Total />
        </FooterContent>
    </AutoHeight>
</DefaultCard>

<AddPositionDialog @bind-Visible="AddPositionDialogVisible" OnSubmitSuccess=GetPositionsAsync />
<UpdatePositionDialog @bind-Visible="UpdatePositionDialogVisible" PositionId=CurrentPositionId OnSubmitSuccess=GetPositionsAsync />