@page "/organization/position"
@inherits AdminCompontentBase

<PageTitle>
    @T("Position")
</PageTitle>

<DefaultCard>
    <AutoHeight>
        <HeaderContent>
            <div class="d-flex mb-6">
                <SSearch @bind-Value="Search" />
                <MSpacer />
                <SButton Small Color="primary" OnClick="() => OpenAddApiResourceDialog()" BorderRadiusClass="rounded-lg">
                    <SIcon Size=18 IsDefaultToolTip="false">@IconConstants.Add</SIcon>
                    <span class="ml-2 btn">@T("Add")</span>
                </SButton>
            </div>
        </HeaderContent>
        <AutoHeightContent>
            <SDataTable
                FixedHeader
                Height="@("calc(100vh - 288px)")"
                Headers="GetHeaders()" 
                Items="Positions" 
                TItem="PositionDto" 
                ItemsPerPage="PageSize">
                <HeaderColContent Context="header">
                    <span>@header.Text</span>
                </HeaderColContent>
                <ItemColContent>
                    @switch (context.Header.Value)
                    {
                        case "Index":
                            <span>@((_oldPage - 1) * PageSize + 1 + Positions.IndexOf(context.Item))</span>
                            break;
                        case nameof(PositionDto.Name):
                            <div class="hover-pointer" @onclick="()=> OpenUpdateApiResourceDialog(context.Item)">
                                <span>@context.Item.Name</span>
                            </div>
                            break;
                        case "Action":
                            <div class="d-flex">
                                <MButton Class="mr-4" Icon OnClick="()=> OpenUpdateApiResourceDialog(context.Item)">
                                    <SIcon Tooltip="@T("Edit")">@IconConstants.Update</SIcon>
                                </MButton>
                                <MButton Class="mr-4" Icon OnClick="()=> OpenRemovePositionDialog(context.Item)">
                                    <SIcon Tooltip="@T("Delete")">@IconConstants.Remove</SIcon>
                                </MButton>
                            </div>
                            break;
                        default:
                            <span>@context.Value</span>
                            break;
                    }
                </ItemColContent>
            </SDataTable>
        </AutoHeightContent>
        <FooterContent>
            <SPagination Class="mt-5" @bind-Page="Page" @bind-PageSize=PageSize Total=Total />
        </FooterContent>
    </AutoHeight>
</DefaultCard>

<AddPositionDialog @bind-Visible="AddPositionDialogVisible" OnSubmitSuccess=GetPositionsAsync />
<UpdatePositionDialog @bind-Visible="UpdatePositionDialogVisible" PositionId=CurrentPositionId OnSubmitSuccess=GetPositionsAsync />