@inherits AdminCompontentBase

<MRow Class="full-height pt-4">
    <MCol Md=12>
        <DefaultTextField @bind-Value="Dto.ClientId" Disabled Label="@T("ClientId")" />
    </MCol>
    <MCol Md=12>
        <DefaultTextField @bind-Value="Dto.ClientName" Label="@T("ClientName")" />
    </MCol>
    <MCol Md=12>
        <DefaultTextField @bind-Value="Dto.Description" Label="@T("Description")" />
    </MCol>
    <MCol Md=12 Class="py-0">
        <MCheckbox @bind-Value="Dto.Enabled" Label="@T("Enabled")"></MCheckbox>
    </MCol>
    <MCol Md=12 Class="py-0 pb-2">
        <MCheckbox @bind-Value="Dto.RequireRequestObject" Label="@T("RequireRequestObject")"></MCheckbox>
    </MCol>
    <MCol Md=12>
        <DefaultTextField @bind-Value="Dto.AllowedCorsOrigin" Label="AllowedCorsOrigins" AppendOuterIcon="@IconConstants.Add" />
    </MCol>
    @foreach (var origin in Dto.AllowedCorsOrigins)
    {
        <MCol Md=12 Class="d-flex">
            <DefaultTextField Dense HideDetails="true" Value="origin" Disabled Class="flex-grow-1" />
            <MIcon Class="ml-2" OnClick="()=>RemoveAllowedCorsOrigin(origin)">mdi-close-circle</MIcon>
        </MCol>
    }
    <MCol Md=12>
        <h5 class="subtitle2 default--text mb-4">Properties</h5>
        <MRow>
            <MCol>
                <DefaultTextField @bind-Value="@Dto.Property.Key" Label="Key" />
            </MCol>
            <MCol>
                <DefaultTextField @bind-Value="@Dto.Property.Value" Label="Value" />
            </MCol>
            <MCol Md="@("auto")" Class="d-flex align-center">
                <MIcon Size=32 OnClick="AddProperty" Color="primary" Style="color: white;">@IconConstants.Add</MIcon>
            </MCol>
            <MCol Md=12>
                <MDataTable Headers="_headers" Dense Items="Dto.Properties" TItem="ClientPropertyDto" HideDefaultFooter DisablePagination Class="margin-border">
                    <HeaderColContent Context="header">
                        <span class="body2">@header.Text</span>
                    </HeaderColContent>
                    <ItemColContent>
                        @switch (context.Header.Value)
                        {
                            case "Action":
                                <MIcon Size=20 OnClick="()=>Dto.Properties.Remove(context.Item)" Color="regular">mdi-close</MIcon>
                                break;
                            default:
                                <span class="subtitle">@context.Value</span>
                                break;
                        }
                    </ItemColContent>
                </MDataTable>
            </MCol>
        </MRow>
    </MCol>
</MRow>

@code {
    [Parameter]
    public ClientBasicDto Dto { get; set; } = new();

    [Parameter]
    public EventCallback<ClientBasicDto> DtoChanged { get; set; }

    public List<DataTableHeader<ClientPropertyDto>> _headers { get; set; } = new()
        {
            new() { Text = "Key", Value = nameof(ClientPropertyDto.Key), Sortable = false },
            new() { Text = "Value", Value = nameof(ClientPropertyDto.Value), Sortable = false },
            new() { Text = "Action", Value = "Action", Sortable = false, Align = "center" },
        };

    private void RemoveAllowedCorsOrigin(string val)
    {
        Dto.AllowedCorsOrigins.Remove(val);
    }

    private void AddProperty()
    {
        if (string.IsNullOrWhiteSpace(Dto.Property.Key) || string.IsNullOrWhiteSpace(Dto.Property.Value))
        {
            return;
        }
        if (Dto.Properties.Any(p => p.Key == Dto.Property.Key.Trim()))
        {
            return;
        }
        Dto.Properties.Add(Dto.Property);
        Dto.Property = new();
    }
}
