@inherits AdminCompontentBase

<SheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("Add CustomLogin")">
    <MForm Model=CustomLogin EnableValidation @ref="Form">
        <div class="sheetDialogPadding full-height flex-column">
            <div class="d-flex">
                <div class="mx-auto">
                    <MButtonGroup Dense Mandatory Borderless @bind-Value="Tab" Class="rounded-lg elevation-tab" Style="margin-left:10px">
                        <MButton Ripple=false Value="@CustomLoginTab.BasicInformation" Class="rounded-lg" MinWidth=70 Height=36>
                            @T(CustomLoginTab.BasicInformation)
                        </MButton>
                        <MButton Ripple=false Value="@CustomLoginTab.Login" Class="rounded-lg" MinWidth=70 Height=36>
                            @T(CustomLoginTab.Login)
                        </MButton>
                        <MButton Ripple=false Value="@CustomLoginTab.Register" Class="rounded-lg" MinWidth=70 Height=36>
                            @T(CustomLoginTab.Register)
                        </MButton>
                    </MButtonGroup>
                </div>
            </div>
            <MWindow Value="Tab" Reverse Class="flex-grow-1">
                <div class="mt-6 flex-height-auto overflow-y">
                    <MWindowItem Value="CustomLoginTab.BasicInformation">
                        @if (ClientSelectRef?.Client?.LogoUri is not null)
                        {
                            <div class="d-flex">
                                <MAvatar Class="mx-auto" Size=80>
                                    <img src="@ClientSelectRef?.Client?.LogoUri" />
                                </MAvatar>
                            </div>
                        }
                        <MRow Class="my-4">
                            <MCol>
                                <MTextField @bind-Value="CustomLogin.Name" Label="@T("CustomLogin.Name")" HideDetails="@("auto")" Outlined />
                            </MCol>
                            <MCol>
                                <MTextField @bind-Value="CustomLogin.Title" Label="@T("Title")" HideDetails="@("auto")" Outlined />                               
                            </MCol>
                        </MRow>
                        <MRow>
                            <MCol>
                               <ClientSelect @ref="ClientSelectRef" @bind-Value="CustomLogin.ClientId" /> 
                            </MCol>
                        </MRow>
                    </MWindowItem>
                    <MWindowItem Value="CustomLoginTab.Login">
                        <ConfigLogin @bind-Value="CustomLogin.ThirdPartyIdps" Logo="@ClientSelectRef?.Client?.LogoUri" Title="@CustomLogin.Title" />
                    </MWindowItem>
                    <MWindowItem Value="CustomLoginTab.Register">
                        <ConfigRegister @bind-Value="CustomLogin.RegisterFields" Logo="@ClientSelectRef?.Client?.LogoUri" Title="@CustomLogin.Title" />
                    </MWindowItem>
                </div>
            </MWindow>
            <div class="d-flex mt-6">
                <MSwitch @bind-Value="CustomLogin.Enabled" Inset Class="label" Label="@(CustomLogin.Enabled ? T("Enable"):T("Disabled"))" />
                <MSpacer></MSpacer>
                @if (Tab != CustomLoginTab.BasicInformation)
                {
                    <MButton OnClick="AddConfig" Color="primary" Class="small-button">
                        <MIcon Size=18>mdi-plus</MIcon>
                        <span class="ml-2">@T("Add")</span>
                    </MButton>
                }
                <MButton OnClick="async () => await AddCustomLoginAsync(context)" Color="primary" Class="small-button ml-6">@T("Submit")</MButton>
            </div>
        </div>
    </MForm>
</SheetDialog>