@inherits AdminCompontentBase

<div class="d-flex" style="height:685px;">
    <LoginRegisterTemplate Tab=@CustomLoginTab.Login Logo="@Logo" Title="@Title" ThirdPartyIdps="ThirdPartyIdps.Where(tp => Value.Any(v => tp.Id == v.Id)).ToList()" />
    <div style="border: 1px solid #E2E7F4;" class="mx-12 full-height" />
    <div class="mt-5 full-height flex-column" style="width:100%">
        <div class="overflow-y">
            <MRow>
                <MCol Cols="6">
                    <span class="body2 regular3--text">
                        @T("Name")
                    </span>
                </MCol>
                <MCol Cols="2">
                    <span class="body2 regular3--text">
                        @T("Category")
                    </span>
                </MCol>
                <MCol>
                    <span class="body2 regular3--text">
                        @T("Action")
                    </span>
                </MCol>
            </MRow>
            <div class="mt-5">
                @foreach (var thirdPartyIdp in Value)
                {
                    <MRow Class="mb-6">
                        <MCol Cols="6">
                            <ThirdPartyIdpSelect @bind-Value="thirdPartyIdp.Id" ThirdPartyIdps="ThirdPartyIdps" Excludes="Value.Select(v => v.Id).ToList()" />
                        </MCol>
                        <MCol Cols="2" Class="d-flex">
                            <div class="my-auto">
                                @T(ThirdPartyIdps.FirstOrDefault(tp => tp.Id == thirdPartyIdp.Id)?.AuthenticationType.ToString()??"")
                            </div>                           
                        </MCol>
                        <MCol Class="d-flex">
                            <div class="my-auto">
                                <SIcon Tooltip="@T("Up")" OnClick="async () =>await Up(thirdPartyIdp)" Disabled="thirdPartyIdp.Sort == Value.Min(v => v.Sort)" Class="mr-8">mdi-menu-up</SIcon>
                                <SIcon Tooltip="@T("Down")" OnClick="async () =>await Down(thirdPartyIdp)" Disabled="thirdPartyIdp.Sort == Value.Max(v => v.Sort)" Class="mr-8">mdi-menu-down</SIcon>
                                <SIcon Tooltip="@T("Delete")" OnClick="async () =>await Remove(thirdPartyIdp)" Class="mr-8">mdi-delete-outline</SIcon>
                            </div>
                        </MCol>
                    </MRow>
                }
            </div>
        </div>
    </div>
</div>