@page "/sso/customLogin"
@inherits AdminCompontentBase

<DefaultCard>
    <AutoHeight>
        <HeaderContent>
            <div class="d-flex mb-6">
                <SearchTextField @bind-Value="Search" />
                <MSpacer />
                <DefaultButton Small OnClick="() => OpenAddCustomLoginDialog()">
                    <MIcon Size=18>@IconConstants.Add</MIcon>
                    <span class="ml-2">@T("Add")</span>
                </DefaultButton>
            </div>
        </HeaderContent>
        <AutoHeightContent>
            <DefaultDataTable Headers="Headers" Items="CustomLogins" TItem="CustomLoginDto" ItemsPerPage="PageSize">
                <HeaderColContent Context="header">
                    <span class="body2">@header.Text</span>
                </HeaderColContent>
                <ItemColContent>
                    @switch (context.Header.Value)
                    {
                        case nameof(ClientDto.LogoUri):
                            <MAvatar Size=48>
                                <img src="@context.Item.Client.LogoUri" />
                            </MAvatar>
                            break;
                        case nameof(CustomLoginDto.Name):
                            <span class="subtitle default--text">@context.Item.Name</span>
                            break;
                        case (nameof(ClientDto.ClientName)):
                            <span class="font-16 regular--text">@context.Item.Client.ClientName</span>
                            break;
                        case (nameof(CustomLoginDto.CreationTime)):
                            <span class="font-16 regular--text">@context.Item.CreationTime.ToString(T("$DateTimeFormat"))</span>
                            break;
                        case nameof(CustomLoginDto.ModificationTime):
                            <span class="font-16 regular--text">@context.Item.ModificationTime?.ToString(T("$DateTimeFormat"))</span>
                            break;
                        case (nameof(CustomLoginDto.Modifier)):
                            <span class="font-16 regular--text">@context.Item.Modifier</span>
                            break;
                        case nameof(CustomLoginDto.Enabled):
                            <EnableChip Value="@context.Item.Enabled" />
                            break;
                        case "Action":
                            <MIcon Small Color="regular" OnClick="()=> OpenUpdateCustomLoginDialog(context.Item)">mdi-pencil</MIcon>
                            <MIcon Small Color="regular" Class="ml-7" OnClick="()=> OpenRemoveCustomLoginDialog(context.Item)">mdi-delete</MIcon>
                            break;
                        default:
                            <span class="subtitle">@context.Value</span>
                            break;
                    }
                </ItemColContent>
            </DefaultDataTable>
        </AutoHeightContent>
        <FooterContent>
            <Pagination Class="mt-5" @bind-Page="Page" @bind-PageSize=PageSize Total=Total />
        </FooterContent>
    </AutoHeight>
</DefaultCard>

<AddCustomLoginRegisterDialog @key="Guid.NewGuid()" @bind-Visible="AddCustomLoginRegisterDialogVisible" OnSubmitSuccess=GetCustomLoginsAsync />
<UpdateCustomLoginRegisterDialog @key="Guid.NewGuid()" @bind-Visible="UpdateCustomLoginRegisterDialogVisible" CustomLoginId="CurrentCustomLoginId" OnSubmitSuccess=GetCustomLoginsAsync />