@namespace Masa.Auth.Web.Admin.Rcl.Pages.Component
@inherits Upload

<label class="uploadImage">
    <InputFile @ref="InputFileRef" OnChange=OnInputFileChange accept="@Accept" multiple=@Multiple />
    <div>
        @if (ChildContent is not null)
        {
            @ChildContent(MultipleValue)
        }
        else
        {
            @if (MultipleValue.Count == 0)
            {
                <img src="@Icon" class="@GetClass()" style="@GetStyle()" />
            }
            @foreach (var imageUrl in MultipleValue)
            {
                <img src="@imageUrl" class="@GetClass()" style="@GetStyle()" />
            }
        }
    </div>
</label>
