@inherits AdminCompontentBase

<SheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("Add Staff")">
    <MForm Model="Staff" EnableValidation @ref="Form">
        <MStepper Value="Step" Class="sheetDialogPadding">
            <MStepperItems>
                <MStepperContent Step="1">
                    <div class="full-height flex-column">
                        <div class="d-flex flex-height-auto">
                            <div class="ma-auto text-center">
                                <ButtonGroup @bind-Value="Staff.User.Gender" TValue="GenderTypes" Values="GetEnumMap<GenderTypes>().Select(kv => kv.Value)" />
                                <br />
                                <MAvatar Size=120 Class="mt-12">
                                    <img src="/_content/Masa.Auth.Web.Admin.Rcl/img/subject/user.svg" />
                                </MAvatar>
                                <br />
                                <div class="mt-3 hover-pointer text-body4">
                                    <MIcon Size=18>mdi-autorenew</MIcon><span class="ml-3">@T("Another")</span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <MSpacer></MSpacer>
                            <MButton Color="primary" Class="small-button" OnClick="()=>Step=2">@T("Next step")</MButton>
                        </div>
                    </div>
                </MStepperContent>
                <MStepperContent Step="2">
                    <div class="full-height flex-column">
                        <div class="d-flex">
                            <div class="mt-10 ml-auto mr-auto text-center" style="width:212px;">
                                <MAvatar Size=80>
                                    <img src="/_content/Masa.Auth.Web.Admin.Rcl/img/subject/user.svg" />
                                </MAvatar>
                                <MTextField @bind-Value="Staff.User.DisplayName" Class="mt-0 mx-auto" HideDetails="@("auto")" Placeholder="@T("Give him a nickname!")" />
                            </div>
                        </div>
                        <div class="mt-6 flex-height-auto overflow-y">
                            <div class="text-subtitle2">@T("Basic Information")</div>
                            <MRow Class="my-4">
                                <MCol>
                                    <MTextField @bind-Value="Staff.User.Name" Label="@T("Name")" HideDetails="@("auto")" Outlined />
                                </MCol>
                                <MCol>
                                    <MTextField @bind-Value="Staff.User.PhoneNumber" Label="@T("PhoneNumber")" HideDetails="@("auto")" Outlined />
                                </MCol>
                            </MRow>
                            <MRow Class="my-4">
                                <MCol>
                                    <MTextField @bind-Value="Staff.User.Email" Label="@T("Email")" HideDetails="@("auto")" Outlined />
                                </MCol>
                                <MCol>
                                    <MSelect @bind-Value="Staff.StaffType"
                                             HideDetails="@("auto")"
                                             Outlined
                                             Items="@(GetEnumMap<StaffTypes>())"
                                             ItemText="map => T(map.Key)"
                                             ItemValue="map => map.Value"
                                             Label="@T("StaffType")">
                                    </MSelect>
                                </MCol>
                            </MRow>
                            <MRow Class="my-4">
                                <MCol>
                                    <TeamSelect @bind-Value="Staff.Teams" />
                                </MCol>
                                <MCol>
                                    <MTextField @bind-Value="Staff.User.IdCard" Label="@T("IdCard")" HideDetails="@("auto")" Outlined />
                                </MCol>
                            </MRow>
                            <MRow Class="my-4">
                                <MCol>
                                    <MTextField @bind-Value="Staff.User.Address.Address" Label="@T("Address")" HideDetails="@("auto")" Outlined />
                                </MCol>
                                <MCol>
                                    <DepartmentSelect @bind-Value="Staff.DepartmentId" />
                                </MCol>
                            </MRow>
                            <MRow Class="my-4">
                                <MCol>
                                    <MTextField @bind-Value="Staff.JobNumber" Label="@T("JobNumber")" HideDetails="@("auto")" Outlined />
                                </MCol>
                                <MCol>
                                    <MTextField @bind-Value="Staff.User.Position" Label="@T("Position")" HideDetails="@("auto")" Outlined />
                                </MCol>
                            </MRow>
                            <MRow Class="my-4">
                                <MCol>
                                    <MTextField @bind-Value="Staff.User.Account" Label="@T("Account")" HideDetails="@("auto")" Outlined />
                                </MCol>
                                <MCol>
                                    <MTextField @bind-Value="Staff.User.Password" Label="@T("Password")" HideDetails="@("auto")" Outlined />
                                </MCol>
                            </MRow>
                        </div>
                        <div class="d-flex mt-6 pl-2">
                            <MSwitch @bind-Value="Staff.Enabled" Inset Class="label" Label="@(Staff.Enabled ? T("Enable"):T("Disabled"))" />
                            <MSpacer></MSpacer>
                            <MButton Color="primary" Class="small-button" OnClick="async() => await AddStaffAsync(context)">@T("Save")</MButton>
                        </div>
                    </div>
                </MStepperContent>
            </MStepperItems>
        </MStepper>
    </MForm>
</SheetDialog>