@inherits AdminCompontentBase

<SheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("Add Staff")">
    <MForm Model="Staff" EnableValidation @ref="Form">
        <MStepper Value="Step" Class="sheetDialogPadding">
            <MStepperItems>
                <MStepperContent Step="1">
                    <div class="full-height flex-column">
                        <div class="d-flex flex-height-auto">
                            <div class="ma-auto text-center">
                                <ButtonGroup @bind-Value="Staff.User.Gender" StyleType=StyleTypes.Toggle TValue="GenderTypes" />
                                <br />
                                <UploadImage @bind-Value="Staff.User.Avatar" Avatar Size="120" WhenFileChangeUpload Class="mt-12" />
                                <br />
                                <div class="mt-3 hover-pointer text-body4">
                                    <MIcon Size=18>mdi-autorenew</MIcon><span class="ml-3">@T("Another")</span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <MSpacer></MSpacer>
                            <MButton Color="primary" Class="small-button" OnClick="()=>Step=2">@T("Next step")</MButton>
                        </div>
                    </div>
                </MStepperContent>
                <MStepperContent Step="2">
                    <div class="full-height flex-column">
                        <div class="d-flex">
                            <div class="mt-10 ml-auto mr-auto text-center" style="width:212px;">
                                <MAvatar Size=80>
                                    <img src="/_content/Masa.Auth.Web.Admin.Rcl/img/subject/user.svg" />
                                </MAvatar>
                                <DefaultTextField @bind-Value="Staff.User.DisplayName" Class="mt-0 mx-auto" Placeholder="@T("Give him a nickname!")" />
                            </div>
                        </div>
                        <div class="mt-6 flex-height-auto overflow-y">
                            <div class="text-subtitle2">@T("Basic Information")</div>
                            <MRow Class="my-4">
                                <MCol>
                                    <DefaultTextField @bind-Value="Staff.User.Name" Label="@T("Name")" />
                                </MCol>
                                <MCol>
                                    <DefaultTextField @bind-Value="Staff.User.PhoneNumber" Label="@T("PhoneNumber")" />
                                </MCol>
                            </MRow>
                            <MRow Class="my-4">
                                <MCol>
                                    <DefaultTextField @bind-Value="Staff.User.Email" Label="@T("Email")" />
                                </MCol>
                                <MCol>
                                    <EnumSelect @bind-Value=Staff.StaffType TValue="StaffTypes" Label="@T("StaffType")" />
                                </MCol>
                            </MRow>
                            <MRow Class="my-4">
                                <MCol>
                                    <TeamSelect @bind-Value="Staff.Teams" />
                                </MCol>
                                <MCol>
                                    <DefaultTextField @bind-Value="Staff.User.IdCard" Label="@T("IdCard")" />
                                </MCol>
                            </MRow>
                            <MRow Class="my-4">
                                <MCol>
                                    <DefaultTextField @bind-Value="Staff.User.Address.Address" Label="@T("Address")" />
                                </MCol>
                                <MCol>
                                    <DepartmentSelect @bind-Value="Staff.DepartmentId" />
                                </MCol>
                            </MRow>
                            <MRow Class="my-4">
                                <MCol>
                                    <DefaultTextField @bind-Value="Staff.JobNumber" Label="@T("JobNumber")" />
                                </MCol>
                                <MCol>
                                    <DefaultTextField @bind-Value="Staff.Position" Label="@T("Position")" />
                                </MCol>
                            </MRow>
                            <MRow Class="my-4">
                                <MCol>
                                    <DefaultTextField @bind-Value="Staff.User.Account" Label="@T("Account")" />
                                </MCol>
                                <MCol>
                                    <DefaultTextField @bind-Value="Staff.User.Password" Label="@T("Password")" />
                                </MCol>
                            </MRow>
                        </div>
                        <div class="d-flex mt-6 pl-2">
                            <MSwitch @bind-Value="Staff.Enabled" Inset Class="label" Label="@(Staff.Enabled ? T("Enable"):T("Disabled"))" />
                            <MSpacer></MSpacer>
                            <MButton Color="primary" Class="small-button" OnClick="async() => await AddStaffAsync(context)">@T("Save")</MButton>
                        </div>
                    </div>
                </MStepperContent>
            </MStepperItems>
        </MStepper>
    </MForm>
</SheetDialog>