@inherits AdminCompontentBase

<DefaultSheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("Add Staff")">
    <MForm Model="Staff" EnableValidation EnableI18n>
        <MStepper Value="Step">
            <MStepperItems>
                <MStepperContent Step="1">
                    <AutoHeight AutoClass="d-flex">
                        <AutoHeightContent>
                            <div class="ma-auto text-center">
                                <ButtonGroup @bind-Value="Staff.Gender" StyleType=StyleTypes.Toggle TValue="GenderTypes" />
                                <br />
                                <div class="mt-12">
                                    <DefaultChangeImage @bind-Value="Staff.Avatar" Gender="Staff.Gender" />
                                </div>
                            </div>
                        </AutoHeightContent>
                        <FooterContent>
                            <div class="d-flex">
                                <MSpacer></MSpacer>
                                <SButton Medium OnClick="()=>Step=2">@T("Next step")</SButton>
                            </div>
                        </FooterContent>
                    </AutoHeight>
                </MStepperContent>
                <MStepperContent Step="2">
                    <AutoHeight Overflow AutoClass="mt-6">
                        <HeaderContent>
                            <div class="d-flex mt-10">
                                <div class="mx-auto text-center">
                                    <MAvatar Size=80>
                                        <img src="@Staff.Avatar" />
                                    </MAvatar>
                                    <PlaceholderTextFiled @bind-Value="Staff.DisplayName" Placeholder="@T("Give him a nickname!")" />
                                </div>
                            </div>
                        </HeaderContent>
                        <AutoHeightContent>
                            <DefaultTitle Class="mb-6">@T("Basic Information")</DefaultTitle>
                            <MRow>
                                <MCol>
                                    <STextField @bind-Value="Staff.Name" Label="@T("Name")" />
                                </MCol>
                                <MCol>
                                    <STextField Required @bind-Value="Staff.PhoneNumber" Label="@T("PhoneNumber")" />
                                </MCol>
                            </MRow>
                            <MRow Class="mt-4">
                                <MCol>
                                    <STextField @bind-Value="Staff.Email" Label="@T("Email")" />
                                </MCol>
                                <MCol>
                                    <EnumSelect @bind-Value=Staff.StaffType TValue="StaffTypes" Clearable=false Label="@T("StaffType")" />
                                </MCol>
                            </MRow>
                            <MRow Class="mt-4">
                                <MCol>
                                    <TeamRoleSelect @bind-Value="Staff.Teams" />
                                </MCol>
                                <MCol>
                                    <STextField @bind-Value="Staff.IdCard" Label="@T("IdCard")" />
                                </MCol>
                            </MRow>
                            <MRow Class="mt-4">
                                <MCol>
                                    <STextField @bind-Value="Staff.Address.Address" Label="@T("Address")" />
                                </MCol>
                                <MCol>
                                    <DepartmenCascader @bind-Value="Staff.DepartmentId" />
                                </MCol>
                            </MRow>
                            <MRow Class="mt-4">
                                <MCol>
                                    <STextField @bind-Value="Staff.JobNumber" Label="@T("JobNumber")" />
                                </MCol>
                                <MCol>
                                    <PositionSelect @bind-Value="Staff.Position" />
                                </MCol>
                            </MRow>
                            <MRow Class="mt-4">
                                <MCol>
                                    <STextField Required @bind-Value="Staff.Password" Label="@T("Password")" />
                                </MCol>
                            </MRow>
                        </AutoHeightContent>
                        <FooterContent>
                            <div class="d-flex mt-6">
                                <EnableSwitch Class="ml-1" @bind-Value="Staff.Enabled" />
                                <MSpacer></MSpacer>
                                <SButton Medium OnClick="async() => await AddStaffAsync(context)">@T("Submit")</SButton>
                            </div>
                        </FooterContent>
                    </AutoHeight>
                </MStepperContent>
            </MStepperItems>
        </MStepper>
    </MForm>
</DefaultSheetDialog>