@inherits AdminCompontentBase

<MBottomSheet Value="Visible" ValueChanged=UpdateVisible>
    <MCard Class="pa-6">
        <MForm Model="Staff" EnableValidation>
            <div class="d-flex">
                <div class="mt-10 ml-auto mr-auto text-center" style="width:212px;">
                    <MAvatar Size=80>
                        <img src="/_content/Masa.Auth.Web.Admin.Rcl/img/subject/user.svg" />
                    </MAvatar>
                    <MTextField @bind-Value="Staff.User.DisplayName" Class="mt-0" HideDetails="@("auto")" Placeholder="@T("Give him a nickname!")" />
                </div>
            </div>
            <div class="mt-6 text-subtitle2">@T("Basic Information")</div>
            <MRow Class="my-4">
                <MCol>
                    <MTextField @bind-Value="Staff.User.Name" Label="@T("Name")" HideDetails="@("auto")" Outlined />
                </MCol>
                <MCol>
                    <MTextField @bind-Value="Staff.User.PhoneNumber" Label="@T("PhoneNumber")" HideDetails="@("auto")" Outlined />
                </MCol>
            </MRow>
            <MRow Class="my-4">
                <MCol>
                    <MTextField @bind-Value="Staff.User.Email" Label="@T("Email")" HideDetails="@("auto")" Outlined />
                </MCol>
                <MCol>
                    <MSelect @bind-Value="Staff.StaffType"
                             HideDetails="@("auto")"
                             Outlined
                             Items="@(GetEnumMap<StaffTypes>())"
                             ItemText="map => T(map.Key)"
                             ItemValue="map => map.Value"
                             Label="@T("StaffType")">
                    </MSelect>
                </MCol>
            </MRow>
            <MRow Class="my-4">
                <MCol>
                    <MAutocomplete @bind-Value="Staff.Teams"
                                   Items="Teams"
                                   Outlined
                                   Height=55
                                   Chips
                                   Color="primary"
                                   Label="Team"
                                   HideDetails="@("auto")"
                                   ItemText="t=>t.Name"
                                   ItemValue="t=>t.Id"
                                   Multiple>
                        <SelectionContent Context="data">
                            <MChip Close
                                   OnCloseClick="()=>Staff.Teams.Remove(data.Item.Id)">
                                <MAvatar Left>
                                    <img src="@data.Item.Avatar" />
                                </MAvatar>
                                @data.Item.Name
                            </MChip>
                        </SelectionContent>
                        <ItemContent Context="data">
                            <MListItemAvatar>
                                <img src="@data.Item.Avatar" />
                            </MListItemAvatar>
                            <MListItemContent>
                                <MListItemTitle>
                                    @data.Item.Name
                                </MListItemTitle>
                            </MListItemContent>
                        </ItemContent>
                    </MAutocomplete>
                </MCol>
                <MCol>
                    <MTextField @bind-Value="Staff.User.IdCard" Label="@T("IdCard")" HideDetails="@("auto")" Outlined />
                </MCol>
            </MRow>
            <MRow Class="my-4">
                <MCol>
                    <MTextField @bind-Value="Staff.User.Address.Address" Label="@T("Address")" HideDetails="@("auto")" Outlined />
                </MCol>
                <MCol>
                    <DepartmentSelect @bind-Value="Staff.DepartmentId" />
                </MCol>
            </MRow>
            <MRow Class="my-4">
                <MCol>
                    <MTextField @bind-Value="Staff.JobNumber" Label="@T("JobNumber")" HideDetails="@("auto")" Outlined />
                </MCol>
                <MCol>
                    <MTextField @bind-Value="Staff.User.Position" Label="@T("Position")" HideDetails="@("auto")" Outlined />
                </MCol>
            </MRow>
            <MRow Class="my-4">
                <MCol>
                    <MTextField @bind-Value="Staff.User.Account" Label="@T("Account")" HideDetails="@("auto")" Outlined />
                </MCol>
                <MCol>
                    <MTextField @bind-Value="Staff.User.Password" Label="@T("Password")" HideDetails="@("auto")" Outlined />
                </MCol>
            </MRow>

            <div class="d-flex">
                <MSwitch @bind-Value="Staff.Enabled" Inset Class="label" Label="@(Staff.Enabled ? T("Enable"):T("Disabled"))" />
                <MSpacer></MSpacer>
                <MButton Color="primary" Class="small-button" OnClick="async() => await AddStaffAsync(context)">@T("Save")</MButton>
            </div>
        </MForm>
    </MCard>

</MBottomSheet>