@inherits AdminCompontentBase

<SheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("Add User")">
    <MForm Model=User EnableValidation @ref="Form">
        <MStepper Value="Step" Class="sheetDialogPadding">
            <MStepperItems>
                <MStepperContent Step="1">
                    <AutoHeight Class="d-flex">
                        <AutoHeightContent>
                            <div class="ma-auto text-center">
                                <ButtonGroup @bind-Value="User.Gender" StyleType=StyleTypes.Toggle TValue="GenderTypes" />
                                <br />
                                <div>
                                    <DefaultChangeImage @bind-Value="User.Avatar" Gender="User.Gender" @ref="DefaultUploadImageRef" Class="mt-12" />
                                </div>
                            </div>
                        </AutoHeightContent>
                        <FooterContent>
                            <div class="d-flex">
                                <MSpacer></MSpacer>
                                <DefaultButton Medium OnClick="()=>Step=2">@T("Next step")</DefaultButton>
                            </div>
                        </FooterContent>
                    </AutoHeight>
                </MStepperContent>
                <MStepperContent Step="2">
                    <AutoHeight Overflow Class="mt-6">
                        <HeaderContent>
                            <div class="d-flex">
                                <div class="mx-auto text-center">
                                    <MAvatar Size=80>
                                        <img src="/_content/Masa.Auth.Web.Admin.Rcl/img/subject/user.svg" />
                                    </MAvatar>
                                    <PlaceholderTextFiled @bind-Value="@User.DisplayName" Placeholder="@T("Give him a nickname!")" />
                                </div>
                            </div>
                        </HeaderContent>
                        <AutoHeightContent>
                            <div class="font-14-bold default-regular--text">@T("Basic Information")</div>
                            <DefaultTextField @bind-Value="User.Name" Class="mt-4 mb-9" Label="@T("Name")" />
                            <DefaultTextField @bind-Value="User.PhoneNumber" Class="mb-9" Label="@T("PhoneNumber")" />
                            <DefaultTextField @bind-Value="User.Email" Class="mb-9" Label="@T("Email")" />
                            <DefaultTextField @bind-Value="User.IdCard" Class="mb-9" Label="@T("IdCard")" />
                            <DefaultTextField @bind-Value="User.Account" Class="mb-9" Label="@T("Account")" />
                            <DefaultTextField @bind-Value="User.Password" Label="@T("Password")" />
                            @if (Fill is false)
                            {
                                <div @onclick="() => Fill = true" class="mt-12 hover-pointer" style="text-align:center">
                                    <MIcon>mdi-menu-down</MIcon>
                                    <span>@T("Fill in more")</span>
                                </div>
                            }
                            else
                            {
                                <div class="mt-12 font-14-bold default-regular--text">@T("Detail Information")</div>
                                <DefaultTextField @bind-Value="User.CompanyName" Class="mt-4 mb-9" Label="@T("CompanyName")" />
                                <DefaultTextField @bind-Value="User.Address.Address" Class="mb-9" Label="@T("Address")" />
                                <DefaultTextField @bind-Value="User.Department" Class="mb-9" Label="@T("Department")" />
                                <DefaultTextField @bind-Value="User.Position" Label="@T("Position")" />
                            }
                        </AutoHeightContent>
                        <FooterContent>
                            <div class="d-flex mt-6">
                                <MSpacer></MSpacer>
                                <DefaultButton Medium OnClick="()=>Step=1" Outlined>@T("Previous step")</DefaultButton>
                                <DefaultButton Medium OnClick="()=>NextStep(context)" Class="ml-6">@T("Next step")</DefaultButton>
                            </div>
                        </FooterContent>
                    </AutoHeight>
                </MStepperContent>
                <MStepperContent Step="3">
                    <AutoHeight Overflow>
                        <AutoHeightContent>
                            <RoleSelectForUser @bind-Value="User.Roles" Class="mb-13" />
                            <PermissionsCheck RoleIds=User.Roles
                                              Value="@(User.Permissions.ToDictionary(p => p.PermissionId,p => p.Effect))"
                                              ValueChanged="PermissionsChanged" />
                        </AutoHeightContent>
                        <FooterContent>
                            <div class="d-flex mt-6">
                                <MSpacer></MSpacer>
                                <DefaultButton Medium OnClick="()=>Step=2" Outlined>@T("Previous step")</DefaultButton>
                                <DefaultButton Medium Outlined Color="primary" Class="ml-6">@T("Preview")</DefaultButton>
                                <DefaultButton Medium OnClick="async () => await AddUserAsync(context)" Class="ml-6">@T("Submit")</DefaultButton>
                            </div>
                        </FooterContent>
                    </AutoHeight>
                </MStepperContent>
            </MStepperItems>
        </MStepper>
    </MForm>
</SheetDialog>