@inherits AdminCompontentBase

<SheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("Add User")">
    <MForm Model=User EnableValidation @ref="Form">
        <MStepper Value="Step" Class="sheetDialogPadding">
            <MStepperItems>
                <MStepperContent Step="1">
                    <div class="full-height flex-column">
                        <div class="d-flex flex-height-auto">
                            <div class="ma-auto text-center">
                                <ButtonGroup @bind-Value="User.Gender" StyleType=StyleTypes.Toggle TValue="GenderTypes" />
                                <br />
                                <UploadImage @bind-Value="User.Avatar" Avatar Size="120" WhenFileChangeUpload Class="mt-12" />
                                <br />
                                <div class="mt-3 hover-pointer font-16">
                                    <MIcon Size=18>mdi-autorenew</MIcon><span class="ml-3">@T("Another")</span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <MSpacer></MSpacer>
                            <MButton Color="primary" Class="small-button" OnClick="()=>Step=2">@T("Next step")</MButton>
                        </div>
                    </div>
                </MStepperContent>
                <MStepperContent Step="2">
                    <div class="full-height flex-column">
                        <div class="d-flex">
                            <div class="mx-auto text-center" style="width:212px;">
                                <MAvatar Size=80>
                                    <img src="/_content/Masa.Auth.Web.Admin.Rcl/img/subject/user.svg" />
                                </MAvatar>
                                <MTextField @bind-Value="@User.DisplayName" Class="mx-auto mt-0" Style="width:220px;" Placeholder="@T("Give him a nickname!")" HideDetails="@("auto")" />
                            </div>
                        </div>
                        <div class="mt-6 flex-height-auto overflow-y">
                            <div class="font-14-bold neutral-lighten-2--text">@T("Basic Information")</div>
                            <MTextField @bind-Value="User.Name" Class="mt-4 mb-9" Label="@T("Name")" HideDetails="@("auto")" Outlined />
                            <MTextField @bind-Value="User.PhoneNumber" Class="mb-9" Label="@T("PhoneNumber")" HideDetails="@("auto")" Outlined />
                            <MTextField @bind-Value="User.Email" Class="mb-9" Label="@T("Email")" HideDetails="@("auto")" Outlined />
                            <MTextField @bind-Value="User.IdCard" Class="mb-9" Label="@T("IdCard")" HideDetails="@("auto")" Outlined />
                            <MTextField @bind-Value="User.Account" Class="mb-9" Label="@T("Account")" HideDetails="@("auto")" Outlined />
                            <MTextField @bind-Value="User.Password" Label="@T("Password")" HideDetails="@("auto")" Outlined />
                            @if (Fill is false)
                            {
                                <div @onclick="() => Fill = true" class="mt-12 hover-pointer" style="text-align:center">
                                    <MIcon>mdi-menu-down</MIcon>
                                    <span>@T("Fill in more")</span>
                                </div>
                            }
                            else
                            {
                                <div class="mt-12 font-14-bold neutral-lighten-2--text">@T("Detail Information")</div>
                                <MTextField @bind-Value="User.CompanyName" Class="mt-4 mb-9" Label="@T("CompanyName")" HideDetails="@("auto")" Outlined />
                                <MTextField @bind-Value="User.Address.Address" Class="mb-9" Label="@T("Address")" HideDetails="@("auto")" Outlined />
                                <MTextField @bind-Value="User.Department" Class="mb-9" Label="@T("Department")" HideDetails="@("auto")" Outlined />
                                <MTextField @bind-Value="User.Position" Label="@T("Position")" HideDetails="@("auto")" Outlined />
                            }
                        </div>
                        <div class="d-flex mt-6">
                            <MSpacer></MSpacer>
                            <MButton Outlined Color="primary" Class="small-button" OnClick="()=>Step=1" Text>@T("Previous step")</MButton>
                            <MButton Color="primary" Class="small-button ml-6" OnClick="()=>NextStep(context)">@T("Next step")</MButton>
                        </div>
                    </div>
                </MStepperContent>
                <MStepperContent Step="3">
                    <div class="full-height flex-column">
                        <div class="flex-height-auto overflow-y">
                            <RoleSelectForUser @bind-Value="User.Roles" Class="mb-13" />
                            <PermissionsCheck RoleIds=User.Roles
                                              Value="@(User.Permissions.ToDictionary(p => p.PermissionId,p => p.Effect))"
                                              ValueChanged="PermissionsChanged" />
                        </div>
                        <div class="d-flex mt-6">
                            <MSpacer></MSpacer>
                            <MButton OnClick="()=>Step=2" Text>@T("Previous step")</MButton>
                            <MButton Outlined Color="primary">@T("Preview")</MButton>
                            <MButton OnClick="AddUserAsync" Color="primary" Class="small-button ml-6" Text>@T("Submit")</MButton>
                        </div>
                    </div>
                </MStepperContent>
            </MStepperItems>
        </MStepper>
    </MForm>
</SheetDialog>