@inherits AdminCompontentBase

<DefaultSheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("Add User")">
    <MForm Model=User EnableValidation>
        <MStepper Value="Step">
            <MStepperItems>
                <MStepperContent Step="1">
                    <AutoHeight AutoClass="d-flex">
                        <AutoHeightContent>
                            <div class="ma-auto text-center">
                                <ButtonGroup @bind-Value="User.Gender" StyleType=StyleTypes.Toggle TValue="GenderTypes" />
                                <br />
                                <div>
                                    <DefaultChangeImage @bind-Value="User.Avatar" Gender="User.Gender" WhenFileChangeUpload Class="mt-12" />
                                </div>
                            </div>
                        </AutoHeightContent>
                        <FooterContent>
                            <div class="d-flex">
                                <MSpacer></MSpacer>
                                <DefaultButton Medium OnClick="()=>Step=2">@T("Next step")</DefaultButton>
                            </div>
                        </FooterContent>
                    </AutoHeight>
                </MStepperContent>
                <MStepperContent Step="2">
                    <AutoHeight Overflow AutoClass="mt-9">
                        <HeaderContent>
                            <div class="d-flex">
                                <div class="mx-auto text-center">
                                    <MAvatar Size=80>
                                        <img src="@User.Avatar" />
                                    </MAvatar>
                                    <PlaceholderTextFiled @bind-Value="@User.DisplayName" Placeholder="@T("Give him a nickname!")" />
                                </div>
                            </div>
                        </HeaderContent>
                        <AutoHeightContent>
                            <DefaultTitle Class="mb-6">@T("Basic Information")</DefaultTitle>
                            <DefaultTextField @bind-Value="User.Name" Class="mb-12" Label="@T("Name")" />
                            <DefaultTextField @bind-Value="User.PhoneNumber" Class="mb-12" Label="@T("PhoneNumber")" />
                            <DefaultTextField @bind-Value="User.Email" Class="mb-12" Label="@T("Email")" />
                            <DefaultTextField @bind-Value="User.IdCard" Class="mb-12" Label="@T("IdCard")" />
                            <DefaultTextField @bind-Value="User.Account" Class="mb-12" Label="@T("Account")" />
                            <DefaultTextField @bind-Value="User.Password" Label="@T("Password")" />
                            @if (Fill is false)
                            {
                                <div @onclick="() => Fill = true" class="mt-12 hover-pointer d-flex" style="text-align:center;height:48px;">
                                    <dvi class="ma-auto">
                                        <MIcon Class="emphasis2--text">mdi-menu-down</MIcon>
                                        <span class="regular--text body2">@T("Fill in more")</span>
                                    </dvi>
                                </div>
                            }
                            else
                            {
                                <DefaultTitle Class="mt-12 mb-6">@T("Detail Information")</DefaultTitle>
                                <DefaultTextField @bind-Value="User.CompanyName" Class="mt-4 mb-12" Label="@T("CompanyName")" />
                                <DefaultTextField @bind-Value="User.Address.Address" Class="mb-12" Label="@T("Address")" />
                                <DefaultTextField @bind-Value="User.Department" Class="mb-12" Label="@T("Department")" />
                                <DefaultTextField @bind-Value="User.Position" Label="@T("Position")" />
                            }
                        </AutoHeightContent>
                        <FooterContent>
                            <div class="d-flex mt-6">
                                <MSpacer></MSpacer>
                                <DefaultButton Medium OnClick="()=>Step=1" Outlined>@T("Previous step")</DefaultButton>
                                <DefaultButton Medium OnClick="()=>NextStep(context)" Class="ml-6">@T("Next step")</DefaultButton>
                            </div>
                        </FooterContent>
                    </AutoHeight>
                </MStepperContent>
                <MStepperContent Step="3">
                    <AutoHeight Overflow>
                        <HeaderContent>
                            <div>
                                <RoleSelectForUser @bind-Value="User.Roles" Class="mb-13" />
                            </div>                           
                        </HeaderContent>
                        <AutoHeightContent>
                            <div class="global-nav" style="display: flex;height: auto">
                                <PermissionsCheck RoleIds=User.Roles
                                                  Value="@(User.Permissions.ToDictionary(p => p.PermissionId,p => p.Effect))"
                                                  ValueChanged="PermissionsChanged" />
                            </div>
                        </AutoHeightContent>
                        <FooterContent>
                            <div class="d-flex mt-6">
                                <MSpacer></MSpacer>
                                <DefaultButton Medium OnClick="()=>Step=2" Outlined>@T("Previous step")</DefaultButton>
                                <DefaultButton Medium Outlined OnClick="()=> Preview=true" Class="ml-6">@T("Preview")</DefaultButton>
                                <DefaultButton Medium OnClick="async () => await AddUserAsync(context)" Class="ml-6">@T("Submit")</DefaultButton>
                            </div>
                        </FooterContent>
                    </AutoHeight>
                </MStepperContent>
            </MStepperItems>
        </MStepper>
    </MForm>
</DefaultSheetDialog>

<PermissionsPreview @bind-Show="Preview" Value="User.Permissions.Where(p => p.Effect is true).Select(p => p.PermissionId.ToString()).ToList()" />