@inherits AdminCompontentBase

<AutoHeight>
    <HeaderContent>
        <div class="d-flex">
            <MSpacer />
            <SearchTextField @bind-Value="Search" />
            <div @onclick="() => SyncStaffDialogVisible=true" class="ml-4 d-flex button" style="width: 70px;height:40px;">
                <div class="ma-auto">
                    <MIcon Color="emphasis2" Size=20>@IconConstants.Sync</MIcon>
                    <span class="caption emphasis2--text">@T("Sync")</span>
                </div>
            </div>
            <SButton Small Class="ml-4" OnClick=OpenAddStaffDialog BorderRadiusClass="rounded-lg">
                <MIcon Size=18>@IconConstants.Add</MIcon>
                <span class="ml-2 btn">@T("Add")</span>
            </SButton>
        </div>
    </HeaderContent>
    <AutoHeightContent>
        <SDataTable 
            Class="mt-6"
            Height="@("calc(100vh - 285px)")"
            Headers="GetHeaders()" 
            Items="Staffs" 
            TItem="StaffDto" 
            ItemsPerPage="PageSize">
            <HeaderColContent Context="header">
                <span>@header.Text</span>
            </HeaderColContent>
            <ItemColContent>
                @switch (context.Header.Value)
                {
                    case nameof(UserDto.Avatar):
                        <div class="hover-pointer d-flex" @onclick="()=> OpenUpdateStaffDialog(context.Item)">
                            <MAvatar Size=40>
                                <img src="@context.Item.Avatar" />
                            </MAvatar>
                            <div class="ml-2 my-auto">
                                <div>@ReturnNotNullValue(context.Item.DisplayName,context.Item.Name)</div>
                                <div class="regular2--text caption">@context.Item.PhoneNumber</div>
                            </div>
                        </div>
                        break;
                    case (nameof(StaffDto.Account)):
                        <span>@context.Item.Account</span>
                        break;
                    case (nameof(StaffDto.Department)):
                        <span>@context.Item.Department</span>
                        break;
                    case nameof(StaffDto.JobNumber):
                        <span>@context.Item.JobNumber</span>
                        break;
                    case (nameof(StaffDto.Position)):
                        <span>@context.Item.Position</span>
                        break;
                    case nameof(StaffDto.Enabled):
                        <EnableChip Value="context.Item.Enabled" />
                        break;
                    case "Action":
                        <SIcon Tooltip="@T("Edit")" OnClick="()=> OpenUpdateStaffDialog(context.Item)">@IconConstants.Update</SIcon>
                        <SIcon Tooltip="@T("Authorize")" Class="ml-6" OnClick="()=> OpenAuthorizeDialog(context.Item)">@IconConstants.Authorize</SIcon>
                        break;
                    default:
                        <span class="subtitle">@context.Value</span>
                        break;
                }
            </ItemColContent>
        </SDataTable>
    </AutoHeightContent>
    <FooterContent>
        <SPagination Class="mt-5" @bind-Page="Page" @bind-PageSize=PageSize Total=Total />
    </FooterContent>
</AutoHeight>

<AddStaffDialog @bind-Visible=AddStaffDialogVisible OnSubmitSuccess=GetStaffAsync />
<UpdateStaffDialog @bind-Visible=UpdateStaffDialogVisible StaffId=CurrentStaff.Id OnSubmitSuccess=GetStaffAsync />
<UserAuthorizeDialog UserId=CurrentStaff.UserId @bind-Visible="AuthorizeDialogVisible" OnSubmitSuccess=GetStaffAsync />
<SyncStaffDialog @key=SyncStaffDialogVisible @bind-Visible=SyncStaffDialogVisible OnSubmitSuccess=GetStaffAsync />