@inherits AdminCompontentBase

<AutoHeight>
    <HeaderContent>
        <div class="d-flex">
            <MSpacer />
            <SearchTextField @bind-Value="Search" />
            <div @onclick="() => SyncStaffDialogVisible=true" class="ml-4 d-flex button" style="width: 70px;height:40px;">
                <div class="ma-auto">
                    <MIcon Color="emphasis2" Size=20>mdi-refresh</MIcon>
                    <span class="caption emphasis2--text">@T("Sync")</span>
                </div>
            </div>
            <DefaultButton Small Class="ml-4" OnClick=OpenAddStaffDialog>
                <MIcon Size=18>@IconConstants.Add</MIcon>
                <span class="ml-2 btn">@T("Add")</span>
            </DefaultButton>
        </div>
    </HeaderContent>
    <AutoHeightContent>
        <DefaultDataTable Class="mt-6" Headers="Headers" Items="Staffs" TItem="StaffDto" ItemsPerPage="PageSize">
            <HeaderColContent Context="header">
                <span class="body2 default2--text">@header.Text</span>
            </HeaderColContent>
            <ItemColContent>
                @switch (context.Header.Value)
                {
                    case nameof(UserDto.Avatar):
                        <div class="hover-pointer d-flex my-1" @onclick="()=> OpenUpdateStaffDialog(context.Item)">
                            <MAvatar Size=40>
                                <img src="@context.Item.User.Avatar" />
                            </MAvatar>
                            <div class="ml-2 block-center">
                                <div class="subtitle emphasis2--text">@context.Item.User.Name</div>
                            </div>
                        </div>
                        break;
                    case (nameof(StaffDto.Department)):
                        <span class="body regular--text">@context.Item.Department</span>
                        break;
                    case nameof(StaffDto.JobNumber):
                        <span class="body regular--text">@context.Item.JobNumber</span>
                        break;
                    case (nameof(StaffDto.Position)):
                        <span class="body regular--text">@context.Item.Position</span>
                        break;
                    case nameof(StaffDto.Enabled):
                        <EnableChip Value="context.Item.Enabled" />
                        break;
                    case "Action":
                        <MIcon Small Color="regular" OnClick="()=> OpenUpdateStaffDialog(context.Item)">@IconConstants.Update</MIcon>
                        <MIcon Small Color="regular" Class="ml-7" OnClick="()=> OpenAuthorizeDialog(context.Item)">@IconConstants.Authorize</MIcon>
                        break;
                    default:
                        <span class="subtitle">@context.Value</span>
                        break;
                }
            </ItemColContent>
        </DefaultDataTable>
    </AutoHeightContent>
    <FooterContent>
        <Pagination Class="mt-5" @bind-Page="Page" @bind-PageSize=PageSize Total=Total />
    </FooterContent>
</AutoHeight>

<AddStaffDialog @bind-Visible=AddStaffDialogVisible OnSubmitSuccess=GetStaffAsync />
<UpdateStaffDialog @bind-Visible=UpdateStaffDialogVisible StaffId=CurrentStaff.Id OnSubmitSuccess=GetStaffAsync />
<UserAuthorizeDialog UserId=CurrentStaff.User.Id @bind-Visible="AuthorizeDialogVisible" OnSubmitSuccess=GetStaffAsync />
<SyncStaffDialog @bind-Visible=SyncStaffDialogVisible OnSubmitSuccess=GetStaffAsync />