@inherits AdminCompontentBase

<DefaultSheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("Staff Sync")">
    <AutoHeight Overflow>
        <AutoHeightContent>
            <label class="uploadImage" for="upload">
                 <InputFile accept="text/csv" OnChange="OnFileChange" id="upload" />
                 <STextField Readonly Outlined=false Dense=false Value="File?.Name" Style="pointer-events: none;" PrependIcon="mdi-paperclip" />               
            </label>
            <div class="mt-6">
                <div>@T("Explanation")</div>
                <div>@T("File size limit")：@MaxFileSize Kb</div>
                <div>@T("Gender")：@T("Male/Female")</div>
                <div>@T("StaffType")：@T("InternalStaff/ExternalStaff")</div>
                <div>@T("Password")：@T("New employee: the password is the default password, editing employee: the password remains the same as the original password.")</div>
            </div>
            <div class="d-flex mt-12">
                <a target="_blank" href="https://cdn.masastack.com/stack/auth/csv/StaffSyncTemplate.csv">
                    @T("StaffSyncTemplate.csv")
                </a>
                <MSpacer />               
            </div>
            @if (SyncStaffResults is not null && SyncStaffResults.IsValid)
            {
                foreach (var result in SyncStaffResults.Results)
                {
                    <div class="mt-6">
                        <div>@T("Line")：@(result.Index+1)</div>
                        <div>@T("JobNumber")：@result.JobNumber</div>
                        <div>@T("Error Info")：</div>
                        <div>
                            @foreach (var error in result.Errors)
                            {
                                <div class="error--text">@T(error)</div>
                            }
                        </div>
                    </div>
                }
            }
        </AutoHeightContent>
        <FooterContent>
            <div class="d-flex mt-6">
                <MSpacer></MSpacer>
                <MButton Color="primary" Class="small-button" OnClick=SyncAsync>@T("Upload")</MButton>
            </div>
        </FooterContent>
    </AutoHeight>
</DefaultSheetDialog>