@inherits AdminCompontentBase

<AutoHeight>
    <HeaderContent>
        <div class="d-flex">
            <MSpacer />
            <div>
                <SearchTextField @bind-Value="Search" />
            </div>           
            <div @onclick="() => Filter = !(Filter ?? false)" class="ml-4 d-flex button">
                <MIcon Class="ma-auto" Color="emphasis2" Size=20>
                    @(Filter is true ? IconConstants.FilterOff : IconConstants.Filter)
                </MIcon>
            </div>
            <SButton Small Class="ml-4" OnClick=OpenLdapDialog BorderRadiusClass="rounded-lg">
                <MIcon Size=18>@IconConstants.Add</MIcon>
                <span class="ml-2 btn">@T("Ldap")</span>
            </SButton>
        </div>
        <div id="userFilter2" class="@FilterClass">
            <SDateRangePicker @bind-StartTime=StartTime @bind-EndTime=EndTime />
            <MRow class="ml-6">
                <MCol Md=4>
                    <BooleanSelect @bind-Value="Enabled" Small Placeholder="@T("UserState")" />
                </MCol>
                <MCol Md=4>
                    <ThirdPartyIdpSelect @bind-Value="ThirdPartyId" Small Label="@T("Source")" />
                </MCol>
            </MRow>
        </div>
    </HeaderContent>
    <AutoHeightContent>
        <SDataTable
            Dense
            Height="@(Filter is true?"calc(100vh - 350px)":"calc(100vh - 285px)")"
            Headers="GetHeaders()" 
            Items="ThirdPartyUsers" 
            TItem="ThirdPartyUserDto" 
            ItemsPerPage="PageSize" 
            Class="mt-6">
            <HeaderColContent Context="header">
                <span>@header.Text</span>
            </HeaderColContent>
            <ItemColContent>
                @switch (context.Header.Value)
                {
                    case nameof(UserDto.Avatar):
                        <div class="hover-pointer d-flex" @onclick="()=> OpenViewThirdPartyUserDialog(context.Item)">
                            <MAvatar Size=40>
                                <img src="@context.Item.User.Avatar" />
                            </MAvatar>
                            <div class="ml-2 block-center">
                                <div>@ReturnNotNullValue(context.Item.User.DisplayName,context.Item.User.Name,context.Item.User.Account)</div>
                            </div>
                        </div>
                        break;
                    case (nameof(ThirdPartyUserDto.IdpDetailDto)):
                        if (context.Item.IdpDetailDto.Name == LdapConsts.LDAP_NAME)
                        {
                            <MIcon Size="40">@context.Item.IdpDetailDto.Icon</MIcon>
                        }
                        else
                        {
                            <MAvatar Size=40>
                                <img src="@context.Item.IdpDetailDto.Icon" />
                            </MAvatar>
                        }
                        break;
                    case (nameof(ThirdPartyUserDto.CreationTime)):
                        <SDateTimeTitle Value=context.Item.CreationTime />
                        break;
                    case (nameof(ThirdPartyUserDto.ModificationTime)):
                        <SDateTimeTitle Value=context.Item.ModificationTime />
                        break;
                    case nameof(ThirdPartyUserDto.Creator):
                        <span>@context.Item.Creator</span>
                        break;
                    case nameof(UserDto.Enabled):
                        <EnableChip Value=context.Item.Enabled />
                        break;
                    case "Action":
                        <SIcon Tooltip="@T("Edit")" OnClick="()=> OpenViewThirdPartyUserDialog(context.Item)">@IconConstants.Update</SIcon>
                        break;
                    default:
                        <SItemCol Value="@context.Value"></SItemCol>
                        break;
                }
            </ItemColContent>
        </SDataTable>
    </AutoHeightContent>
    <FooterContent>
        <SPagination Class="mt-4" @bind-Page="Page" @bind-PageSize=PageSize Total=Total />
    </FooterContent>
</AutoHeight>

<ViewThirdPartyUserDialog @bind-Visible=ViewThirdPartyUserDialog ThirdPartyUserId=CurrentThirdPartyUserId />
<LdapDialog @ref="ldapDialog" />