@inherits AdminCompontentBase

<MBottomSheet Value="Visible" ValueChanged=UpdateVisible>
    <MCard Class="pa-6">
        <MForm Model="Staff" EnableValidation>
            <div class="d-flex">
                <div class="mt-10 ml-auto mr-auto text-center" style="width:212px;">
                    <MAvatar Size=80>
                        <img src="/_content/Masa.Auth.Web.Admin.Rcl/img/subject/user.svg" />
                    </MAvatar>
                    <MTextField @bind-Value="Staff.User.DisplayName" Class="mt-0" HideDetails="@("auto")" Placeholder="@T("Give him a nickname!")" />
                </div>
            </div>
            <div class="mt-6 text-subtitle2">@T("Basic Information")</div>
            <MRow Class="my-4">
                <MCol>
                    <MTextField @bind-Value="Staff.User.Name" Label="@T("Name")" HideDetails="@("auto")" Outlined />
                </MCol>
                <MCol>
                    <MTextField @bind-Value="Staff.User.PhoneNumber" Label="@T("PhoneNumber")" HideDetails="@("auto")" Outlined />
                </MCol>
            </MRow>
            <MRow Class="my-4">
                <MCol>
                    <MTextField @bind-Value="Staff.User.Email" Label="@T("Email")" HideDetails="@("auto")" Outlined />
                </MCol>
                <MCol>
                    <MSelect @bind-Value="Staff.StaffType"
                             HideDetails="@("auto")"
                             Outlined
                             Items="@(GetEnumMap<StaffTypes>())"
                             ItemText="map => T(map.Key)"
                             ItemValue="map => map.Value"
                             Label="@T("StaffType")">
                    </MSelect>
                </MCol>
            </MRow>
            <MRow Class="my-4">
                <MCol>
                   <TeamSelect @bind-Value="Staff.Teams" />
                </MCol>
                <MCol>
                    <MTextField @bind-Value="Staff.User.IdCard" Label="@T("IdCard")" HideDetails="@("auto")" Outlined />
                </MCol>
            </MRow>
            <MRow Class="my-4">
                <MCol>
                    <MTextField @bind-Value="Staff.User.Address.Address" Label="@T("Address")" HideDetails="@("auto")" Outlined />
                </MCol>
                <MCol>
                    <DepartmentSelect @bind-Value="Staff.DepartmentId" />
                </MCol>
            </MRow>
            <MRow Class="my-4">
                <MCol>
                    <MTextField @bind-Value="Staff.JobNumber" Label="@T("JobNumber")" HideDetails="@("auto")" Outlined />
                </MCol>
                <MCol>
                    <MTextField @bind-Value="Staff.User.Position" Label="@T("Position")" HideDetails="@("auto")" Outlined />
                </MCol>
            </MRow>
            <MRow Class="my-4">
                <MCol>
                    <MTextField Value="StaffDetail.User.Account" Readonly Label="@T("Account")" HideDetails="@("auto")" Outlined />
                </MCol>
                <MCol>
                    <MTextField @bind-Value="Staff.User.Password" Label="@T("Password")" HideDetails="@("auto")" Outlined />
                </MCol>
            </MRow>

            <div class="mt-6 text-subtitle2">@T("Authorization certification")</div>
            <div class="mt-4">
                @foreach (var avatar in StaffDetail.User.ThirdPartyIdpAvatars)
                {
                    <img src="@avatar" />
                }
            </div>
            <div class="mt-6 text-subtitle2">@T("History record")</div>
            <MTimeline Class="mt-4" Style="margin-left: -600px;">
                <MTimelineItem Color="sample-green" Small>
                    <IconContent>
                        <MAvatar Size=10>
                            <img src="/_content/Masa.Auth.Web.Admin.Rcl/img/subject/timeLineIcon.svg" />
                        </MAvatar>
                    </IconContent>
                    <OppositeContent>
                        <span class="mr-n5">
                            @T("Create")
                        </span>
                    </OppositeContent>
                    <ChildContent>
                        <div class="pb-4 ml-n5">
                            <span>@StaffDetail.Creator</span>
                            <br />
                            <span>@StaffDetail.CreationTime.ToString(T("$DateTimeFormat"))</span>
                        </div>
                    </ChildContent>
                </MTimelineItem>
                @if (StaffDetail.ModificationTime is not null)
                {
                    <MTimelineItem Color="sample-green" Small>
                        <IconContent>
                            <MAvatar Size=10>
                                <img src="/_content/Masa.Auth.Web.Admin.Rcl/img/subject/timeLineIcon.svg" />
                            </MAvatar>
                        </IconContent>
                        <OppositeContent>
                            <div class="pb-4 ml-n5">
                                <span>@StaffDetail.Modifier</span>
                                <br />
                                <span>@StaffDetail.ModificationTime?.ToString(T("$DateTimeFormat"))</span>
                            </div>
                        </OppositeContent>
                        <ChildContent>
                            <div class="d-flex">
                                <MSpacer />
                                <span class="mr-n5">
                                    @T("Update")
                                </span>
                            </div>
                        </ChildContent>
                    </MTimelineItem>
                }
            </MTimeline>
           
            <div class="d-flex">
                <MSwitch @bind-Value="Staff.Enabled" Inset Class="label" Label="@(Staff.Enabled ? T("Enable"):T("Disabled"))" />
                <MSpacer></MSpacer>
                <MButton Class="mr-6" Text Color="error" OnClick=OpenRemoveStaffDialog>@T("Delete Staff")</MButton>
                <MButton Color="primary" Class="small-button" OnClick=UpdateStaffAsync>@T("Save")</MButton>
            </div>
        </MForm>
    </MCard>

</MBottomSheet>