@inherits AdminCompontentBase

<SheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("Update Staff")">
    <MForm Model="Staff" EnableValidation @ref="Form">
        <div style="padding-left:204px;padding-right:204px;padding-bottom:24px;padding-top:24px;height:100%;width: 100%;position: absolute;">
            <div style="position: relative;" class="full-height">
                <div class="d-flex">
                    <div class="ml-auto mr-auto text-center" style="width:212px;">
                        <MAvatar Size=80>
                            <img src="/_content/Masa.Auth.Web.Admin.Rcl/img/subject/user.svg" />
                        </MAvatar>
                        <MTextField @bind-Value="Staff.User.DisplayName" Class="mt-0" HideDetails="@("auto")" Placeholder="@T("Give him a nickname!")" />
                    </div>
                </div>
                <div class="mt-6 text-subtitle2">@T("Basic Information")</div>
                <MRow Class="mt-1">
                    <MCol>
                        <MTextField @bind-Value="Staff.User.Name" Label="@T("Name")" HideDetails="@("auto")" Outlined />
                    </MCol>
                    <MCol>
                        <MTextField @bind-Value="Staff.User.PhoneNumber" Label="@T("PhoneNumber")" HideDetails="@("auto")" Outlined />
                    </MCol>
                </MRow>
                <MRow Class="mt-1">
                    <MCol>
                        <MTextField @bind-Value="Staff.User.Email" Label="@T("Email")" HideDetails="@("auto")" Outlined />
                    </MCol>
                    <MCol>
                        <MSelect @bind-Value="Staff.StaffType"
                                 HideDetails="@("auto")"
                                 Outlined
                                 Items="@(GetEnumMap<StaffTypes>())"
                                 ItemText="map => T(map.Key)"
                                 ItemValue="map => map.Value"
                                 Label="@T("StaffType")">
                        </MSelect>
                    </MCol>
                </MRow>
                <MRow Class="mt-1">
                    <MCol>
                        <TeamSelect @bind-Value="Staff.Teams" />
                    </MCol>
                    <MCol>
                        <MTextField @bind-Value="Staff.User.IdCard" Label="@T("IdCard")" HideDetails="@("auto")" Outlined />
                    </MCol>
                </MRow>
                <MRow Class="mt-1">
                    <MCol>
                        <MTextField @bind-Value="Staff.User.Address.Address" Label="@T("Address")" HideDetails="@("auto")" Outlined />
                    </MCol>
                    <MCol>
                        <DepartmentSelect @bind-Value="Staff.DepartmentId" />
                    </MCol>
                </MRow>
                <MRow Class="mt-1">
                    <MCol>
                        <MTextField @bind-Value="Staff.JobNumber" Label="@T("JobNumber")" HideDetails="@("auto")" Outlined />
                    </MCol>
                    <MCol>
                        <MTextField @bind-Value="Staff.User.Position" Label="@T("Position")" HideDetails="@("auto")" Outlined />
                    </MCol>
                </MRow>
                <MRow Class="mt-1">
                    <MCol>
                        <MTextField Value="StaffDetail.User.Account" Readonly Label="@T("Account")" HideDetails="@("auto")" Outlined />
                    </MCol>
                    <MCol>
                        <MTextField @bind-Value="Staff.User.Password" Label="@T("Password")" HideDetails="@("auto")" Outlined />
                    </MCol>
                </MRow>
                @if (StaffDetail.User.ThirdPartyIdpAvatars.Count > 0)
                {
                    <div class="mt-6 text-subtitle2">@T("Authorization certification")</div>
                    <div class="mt-4">
                        @foreach (var avatar in StaffDetail.User.ThirdPartyIdpAvatars)
                        {
                            <img src="@avatar" />
                        }
                    </div>
                }

                <div class="mt-6 text-subtitle2">@T("History record")</div>
                <MTimeline Class="mt-4" Style="position: absolute;left: -50px;">
                    <MTimelineItem Color="sample-green" Small>
                        <IconContent>
                            <MAvatar Size=10>
                                <img src="/_content/Masa.Auth.Web.Admin.Rcl/img/subject/timeLineIcon.svg" />
                            </MAvatar>
                        </IconContent>
                        <OppositeContent>
                            <span class="mr-n5">
                                @T("Create")
                            </span>
                        </OppositeContent>
                        <ChildContent>
                            <div class="pb-4 ml-n5">
                                <span>@StaffDetail.User.Creator</span>
                                <br />
                                <span>@StaffDetail.User.CreationTime.ToString(T("$DateTimeFormat"))</span>
                            </div>
                        </ChildContent>
                    </MTimelineItem>
                    @if (StaffDetail.User.ModificationTime is not null)
                    {
                        <MTimelineItem Color="sample-green" Small>
                            <IconContent>
                                <MAvatar Size=10>
                                    <img src="/_content/Masa.Auth.Web.Admin.Rcl/img/subject/timeLineIcon.svg" />
                                </MAvatar>
                            </IconContent>
                            <OppositeContent>
                                <div class="pb-4 ml-n5">
                                    <span>@StaffDetail.User.Modifier</span>
                                    <br />
                                    <span>@StaffDetail.User.ModificationTime?.ToString(T("$DateTimeFormat"))</span>
                                </div>
                            </OppositeContent>
                            <ChildContent>
                                <div class="d-flex">
                                    <MSpacer />
                                    <span class="mr-n5">
                                        @T("Update")
                                    </span>
                                </div>
                            </ChildContent>
                        </MTimelineItem>
                    }
                </MTimeline>

                <div class="d-flex" style="bottom:0px;right:0px;width:100%;position:absolute;">
                    <MSwitch @bind-Value="Staff.Enabled" Inset Class="label" Label="@(Staff.Enabled ? T("Enable"):T("Disabled"))" />
                    <MSpacer></MSpacer>
                    <MButton Class="mr-6" Text Color="error" OnClick=OpenRemoveStaffDialog>@T("Delete Staff")</MButton>
                    <MButton Color="primary" Class="small-button" OnClick="async () => await UpdateStaffAsync(context)">@T("Save")</MButton>
                </div>
            </div>
        </div>

    </MForm>
</SheetDialog>