@inherits AdminCompontentBase

<SheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("Update Staff")">
    <MForm Model="Staff" EnableValidation @ref="Form">
        <div Class="flex-column sheetDialogPadding">
            <div class="d-flex">
                <div class="ml-auto mr-auto text-center" style="width:212px;">
                    <UploadImage @bind-Value="Staff.User.Avatar" Avatar Size="120" WhenFileChangeUpload />
                    <MTextField @bind-Value="Staff.User.DisplayName" Class="mt-0 mx-auto" HideDetails="@("auto")" Placeholder="@T("Give him a nickname!")" />
                </div>
            </div>
            <div class="mt-6 flex-height-auto overflow-y">
                <div class="font-14-bold">@T("Basic Information")</div>
                <MRow Class="mt-4">
                    <ButtonGroup @bind-Value="Staff.User.Gender" TValue="GenderTypes" />
                </MRow>
                <MRow Class="mt-6">
                    <MCol>
                        <MTextField @bind-Value="Staff.User.Name" Label="@T("Name")" HideDetails="@("auto")" Outlined />
                    </MCol>
                    <MCol>
                        <MTextField @bind-Value="Staff.User.PhoneNumber" Label="@T("PhoneNumber")" HideDetails="@("auto")" Outlined />
                    </MCol>
                </MRow>
                <MRow Class="mt-1">
                    <MCol>
                        <MTextField @bind-Value="Staff.User.Email" Label="@T("Email")" HideDetails="@("auto")" Outlined />
                    </MCol>
                    <MCol>
                        <EnumSelect @bind-Value=Staff.StaffType TValue="StaffTypes" Label="@T("StaffType")" />
                    </MCol>
                </MRow>
                <MRow Class="mt-1">
                    <MCol>
                        <TeamSelect @bind-Value="Staff.Teams" />
                    </MCol>
                    <MCol>
                        <MTextField @bind-Value="Staff.User.IdCard" Label="@T("IdCard")" HideDetails="@("auto")" Outlined />
                    </MCol>
                </MRow>
                <MRow Class="mt-1">
                    <MCol>
                        <MTextField @bind-Value="Staff.User.Address.Address" Label="@T("Address")" HideDetails="@("auto")" Outlined />
                    </MCol>
                    <MCol>
                        <DepartmentSelect @bind-Value="Staff.DepartmentId" />
                    </MCol>
                </MRow>
                <MRow Class="mt-1">
                    <MCol>
                        <MTextField @bind-Value="Staff.JobNumber" Label="@T("JobNumber")" HideDetails="@("auto")" Outlined />
                    </MCol>
                    <MCol>
                        <MTextField @bind-Value="Staff.Position.Name" Label="@T("Position")" HideDetails="@("auto")" Outlined />
                    </MCol>
                </MRow>
                <MRow Class="mt-1">
                    <MCol>
                        <MTextField Value="StaffDetail.User.Account" Readonly Label="@T("Account")" HideDetails="@("auto")" Outlined />
                    </MCol>
                    <MCol>
                        <CopyPassword @bind-Value="Staff.User.Password" />
                    </MCol>
                </MRow>

                <Authorization Avatars=StaffDetail.User.ThirdPartyIdpAvatars />
                <Record Creator="@StaffDetail.User.Creator" CreationTime="@StaffDetail.User.CreationTime" Modifier="@StaffDetail.User.Modifier" ModificationTime="@StaffDetail.User.ModificationTime" />
            </div>

            <div class="d-flex mt-6">
                <MSwitch @bind-Value="Staff.Enabled" Inset Class="label" Label="@(Staff.Enabled ? T("Enable"):T("Disabled"))" />
                <MSpacer></MSpacer>
                <MButton Class="mr-6" Text Color="error" OnClick=OpenRemoveStaffDialog>@T("Delete Staff")</MButton>
                <MButton Color="primary" Class="small-button" OnClick="async () => await UpdateStaffAsync(context)">@T("Save")</MButton>
            </div>
        </div>
    </MForm>
</SheetDialog>