@inherits AdminCompontentBase

<SheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("Update User")">
    <MForm Model=User EnableValidation @ref="Form">
        <div style="padding-left:204px;padding-right:204px;padding-bottom:24px;padding-top:24px;height:100%;width: 100%;position: absolute;">
             <div style="position: relative;" class="full-height">    
                <div class="d-flex">
                    <div class="mx-auto text-center" style="width:212px;">
                        <MAvatar Size=80>
                            <img src="/_content/Masa.Auth.Web.Admin.Rcl/img/subject/user.svg" />
                        </MAvatar>
                        <MTextField @bind-Value="User.DisplayName" Class="mt-0" HideDetails="@("auto")" Placeholder="@T("Give him a nickname!")" />
                    </div>
                </div>
                <div class="mt-6 text-subtitle2">@T("Basic Information")</div>
                <MRow Class="mt-4">
                    <MButtonGroup Dense Mandatory Borderless Value="User.GenderType.ToString()" Class="rounded-lg elevation-tab" Style="margin-left:10px">
                         <MButton OnClick="()=> User.GenderType=GenderTypes.Male" Ripple=false Value="@GenderTypes.Male.ToString()" Class="rounded-lg" MinWidth=70 Height=36>
                               @T(GenderTypes.Male.ToString())
                           </MButton>    
                          <MButton OnClick="()=> User.GenderType=GenderTypes.Female" Ripple=false Value="@GenderTypes.Female.ToString()" Class="rounded-lg" MinWidth=70 Height=36>
                               @T(GenderTypes.Female.ToString())
                           </MButton> 
                    </MButtonGroup>
                </MRow>
                <MRow Class="mt-6">
                    <MCol>
                        <MTextField @bind-Value="User.Name" Label="@T("Name")" HideDetails="@("auto")" Outlined />
                    </MCol>
                    <MCol>
                        <MTextField @bind-Value="User.PhoneNumber" Label="@T("PhoneNumber")" HideDetails="@("auto")" Outlined />
                    </MCol>
                </MRow>
                <MRow Class="mt-1">
                    <MCol>
                        <MTextField @bind-Value="User.CompanyName" Label="@T("CompanyName")" HideDetails="@("auto")" Outlined />
                    </MCol>
                    <MCol>
                        <MTextField @bind-Value="User.Email" Label="@T("Email")" HideDetails="@("auto")" Outlined />
                    </MCol>
                </MRow>
                <MRow Class="mt-1">
                    <MCol>
                        <MTextField Readonly Value="UserDetail.Account" Label="@T("Account")" HideDetails="@("auto")" Outlined />
                    </MCol>
                    <MCol>
                        <MTextField @bind-Value="User.Password" Label="@T("Password")" HideDetails="@("auto")" Outlined />
                    </MCol>
                </MRow>
                <div class="mt-6 text-subtitle2">@T("Detail Information")</div>
                <MRow Class="mt-1">
                    <MCol>
                        <MTextField @bind-Value="User.IdCard" Label="@T("IdCard")" HideDetails="@("auto")" Outlined />
                    </MCol>
                    <MCol>
                        <MTextField @bind-Value="User.Address.Address" Label="@T("Address")" HideDetails="@("auto")" Outlined />
                    </MCol>
                </MRow>
                <MRow Class="mt-1">
                    <MCol>
                        <MTextField @bind-Value="User.Department" Label="@T("Department")" HideDetails="@("auto")" Outlined />
                    </MCol>
                    <MCol>
                        <MTextField @bind-Value="User.Position" Label="@T("Position")" HideDetails="@("auto")" Outlined />
                    </MCol>
                </MRow>
                @if(UserDetail.ThirdPartyIdpAvatars.Count>0)
                {
                    <div class="mt-6 text-subtitle2">@T("Authorization certification")</div>
                    <div class="mt-4">
                        @foreach (var avatar in UserDetail.ThirdPartyIdpAvatars)
                        {
                            <img src="@avatar" />
                        }
                    </div>
                }
                <div class="mt-6 text-subtitle2">@T("History record")</div>
                <MTimeline Class="mt-4" Style="position: absolute;left: -50px;">
                    <MTimelineItem Color="sample-green" Small>
                        <IconContent>
                            <MAvatar Size=10>
                                <img src="/_content/Masa.Auth.Web.Admin.Rcl/img/subject/timeLineIcon.svg" />
                            </MAvatar>
                        </IconContent>
                        <OppositeContent>
                            <span class="mr-n5">
                                @T("Create")
                            </span>
                        </OppositeContent>
                        <ChildContent>
                            <div class="pb-4 ml-n5">
                                <span>@UserDetail.Creator</span>
                                <br />
                                <span>@UserDetail.CreationTime.ToString(T("$DateTimeFormat"))</span>
                            </div>
                        </ChildContent>
                    </MTimelineItem>
                    @if (UserDetail.ModificationTime is not null)
                    {
                        <MTimelineItem Color="sample-green" Small>
                            <IconContent>
                                <MAvatar Size=10>
                                    <img src="/_content/Masa.Auth.Web.Admin.Rcl/img/subject/timeLineIcon.svg" />
                                </MAvatar>
                            </IconContent>
                            <OppositeContent>
                                <div class="pb-4 ml-n5">
                                    <span>@UserDetail.Modifier</span>
                                    <br />
                                    <span>@UserDetail.ModificationTime?.ToString(T("$DateTimeFormat"))</span>
                                </div>
                            </OppositeContent>
                            <ChildContent>
                                <div class="d-flex">
                                    <MSpacer />
                                    <span class="mr-n5">
                                        @T("Update")
                                    </span>
                                </div>
                            </ChildContent>
                        </MTimelineItem>
                    }
                </MTimeline>
                <div class="d-flex" style="bottom:0px;right:0px;width:100%;position:absolute;">
                    <MSwitch @bind-Value="User.Enabled" Inset Class="label" Label="@(User.Enabled ? T("Enable"):T("Disabled"))" />
                    <MSpacer></MSpacer>
                    <MButton Class="mr-6" Text Color="error" OnClick=OpenRemoveUserDialog>@T("Delete User")</MButton>
                    <MButton Color="primary" Class="small-button" OnClick="async() => await UpdateUserAsync(context)">@T("Save")</MButton>
                </div>
            </div>  
        </div>
                           
    </MForm>

</SheetDialog>