@inherits AdminCompontentBase

<DefaultSheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("User roles and permissions settings")">
    <AutoHeight>
        <HeaderContent>
            <div class="height:55px;">
                <div class="mb-4 d-flex">
                    <TeamSwitch UserId="UserId" RolesChanged="roles => TeamRoles = roles" Style="width:100%;" />
                    <div class="d-flex" style="width:200px;">
                        <MSpacer />
                        <div class="my-auto mr-2 emphasis2-text subtitle">@User.DisplayName</div>
                        <MAvatar Size=48>
                            <img src="@User.Avatar" />
                        </MAvatar>
                    </div>
                </div>
                <div class="d-flex">
                    <RoleSelectForUser Class="mb-6" @bind-Value="Authorization.Roles" />
                    <div style="width:174px;" />
                </div>             
            </div>
        </HeaderContent>
        <AutoHeightContent>
            <div class="global-nav" style="display: flex;height: auto">
                @*<PermissionExtensionConfigure 
                                RoleIds=Authorization.Roles 
                                @bind-ExtensionValue=Authorization.Permissions 
                                @bind-Preview=Preview
                                Style="max-height:calc(100vh - 350px);" />*@
                <PermissionsConfigure Roles=Authorization.Roles.Union(TeamRoles).Distinct().ToList()
                                              Value="Authorization.Permissions.Select(p => p.PermissionId).ToList()"
                                              ValueChanged="value => Authorization.Permissions=value.Select(item => new UserPermissionDto(item,true)).ToList()"
                                              @bind-Preview=Preview
                                              Style="max-height:calc(100vh - 406px);" />
            </div>
        </AutoHeightContent>
        <FooterContent>
            <div class="d-flex mt-6">
                <MSpacer></MSpacer>
                <SButton Medium Outlined OnClick="() => Preview = true">@T("Preview")</SButton>
                <SButton Medium Class="ml-6" OnClick="async () => await UpdateAuthorizationAsync()">@T("Save")</SButton>
            </div>
        </FooterContent>
    </AutoHeight>
</DefaultSheetDialog>
