@using Masa.Stack.Components
@inherits AdminCompontentBase

<AutoHeight>
    <HeaderContent>
        <div class="d-flex">
            <MSpacer />
            <div>
                <UserAutoComplete @bind-Value="UserId" />
            </div>     
            <div @onclick="() => Filter = !Filter" class="ml-4 d-flex button">
                <MIcon Class="ma-auto" Color="emphasis2" Size=20>
                    @(Filter ? IconConstants.Filter : IconConstants.FilterOff)
                </MIcon>
            </div>
            <DefaultButton Small Class="ml-4" OnClick=OpenAddUserDialog>
                <MIcon Size=18>@IconConstants.Add</MIcon>
                <span class="ml-2 btn">@T("Add")</span>
            </DefaultButton>
        </div>

        @if (Filter)
        {
            <div class="d-flex mt-6">
                <DateRangePicker @bind-StartTime=StartTime @bind-EndTime=EndTime />
                <MRow class="ml-6">
                    <MCol Md=4>
                        <BooleanSelect @bind-Value="Enabled" Placeholder="@T("UserState")" />
                    </MCol>
                </MRow>
            </div>
        }
    </HeaderContent>
    <AutoHeightContent>
        <DefaultDataTable Class="mt-6" Headers="Headers" Items="Users" TItem="UserDto" ItemsPerPage="PageSize">
            <HeaderColContent Context="header">
                <span>@header.Text</span>
            </HeaderColContent>
            <ItemColContent>
                @switch (context.Header.Value)
                {
                    case nameof(UserDto.Avatar):
                        <div class="hover-pointer d-flex" @onclick="()=> OpenUpdateUserDialog(context.Item)">
                            <MAvatar Size=40>
                                <img src="@context.Item.Avatar" />
                            </MAvatar>
                            <div class="ml-2 my-auto">
                                <div>@context.Item.Name</div>
                                <div class="regular2--text caption">@context.Item.PhoneNumber</div>
                            </div>
                        </div>
                        break;
                    case (nameof(UserDto.Account)):
                        <span>@context.Item.Account</span>
                        break;
                    case nameof(UserDto.PhoneNumber):
                        <span>@context.Item.PhoneNumber</span>
                        break;
                    case (nameof(UserDto.CreationTime)):
                       <DateTimeTitle Value="@context.Item.CreationTime" />
                        break;
                    case nameof(UserDto.Enabled):
                        <EnableChip Value=context.Item.Enabled />
                        break;
                    case "Action":
                        <MIcon Size="20" OnClick="()=> OpenUpdateUserDialog(context.Item)">@IconConstants.Update</MIcon>
                        <MIcon Size="20" Class="ml-7" OnClick="()=> OpenAuthorizeDialog(context.Item)">@IconConstants.Authorize</MIcon>
                        break;
                    default:
                        <span>@context.Value</span>
                        break;
                }
            </ItemColContent>
        </DefaultDataTable>
    </AutoHeightContent>
    <FooterContent>
        <Pagination Class="mb-2 mt-4" @bind-Page="Page" @bind-PageSize=PageSize Total=Total />
    </FooterContent>
</AutoHeight>

<AddUserDialog @key="Guid.NewGuid()" @bind-Visible="AddUserDialogVisible" OnSubmitSuccess=GetUserAsync />
<UpdateUserDialog @key="Guid.NewGuid()" UserId=CurrentUserId @bind-Visible="UpdateUserDialogVisible" OnSubmitSuccess=GetUserAsync />
<UserAuthorizeDialog @key="Guid.NewGuid()" UserId=CurrentUserId @bind-Visible="AuthorizeDialogVisible" OnSubmitSuccess=GetUserAsync />