@inherits AdminCompontentBase

<DefaultSheetDialog Value="_visible" ValueChanged=UpdateVisible Title="@T("User roles and permissions settings")">
    <AutoHeight>
        <HeaderContent>
            <div class="height:55px;">
                <div class="mb-4 d-flex">
                    @if(User.StaffId is not null)
                    {
                        <TeamSwitch Value=Teams.FirstOrDefault() ValueChanged=TeamValueChanged UserId="_userId" Style="width:100%;" />
                    }
                    else
                    {
                        <MSpacer />
                    }
                    
                    <div class="d-flex" style="width:200px;">
                        <MSpacer />                        
                        <MAvatar Size=48 Class="mr-2">
                            <img src="@User.Avatar" />
                        </MAvatar>
                        <div class="my-auto emphasis2-text subtitle">@User.DisplayName</div>
                    </div>
                </div>
                <div class="d-flex">
                    <RoleSelectForUser Class="mb-6" @bind-Value="Authorization.Roles" />
                    <div style="width:174px;" />
                </div>             
            </div>
        </HeaderContent>
        <AutoHeightContent>
            <div class="global-nav" style="display: flex;max-height:calc(100vh - 380px);">
                <PermissionsConfigure
                    User=_userId
                    Teams=Teams
                    Roles=Authorization.Roles
                    @bind-Value=Authorization.Permissions
                    @bind-Preview=_preview/>
            </div>
        </AutoHeightContent>
        <FooterContent>
            <div class="d-flex mt-6">
                <MSpacer></MSpacer>
                <SButton Medium Outlined OnClick="() => _preview = true">@T("Preview")</SButton>
                <SButton Medium Class="ml-6" OnClick="async () => await UpdateAuthorizationAsync()">@T("Save")</SButton>
            </div>
        </FooterContent>
    </AutoHeight>
</DefaultSheetDialog>
