@inherits AdminCompontentBase

@*<SheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("Add Role")">
    <MForm Model="Role" EnableValidation @ref="Form">
        <div style="padding-left:204px;padding-right:204px;padding-bottom:24px;padding-top:24px;height:100%;width: 100%;position: absolute;">
            <div style="position: relative;" class="full-height">
                <MTextField @bind-Value="Staff.User.Name" Label="@T("Name")" HideDetails="@("auto")" Outlined />
                <MTextField @bind-Value="Staff.User.Name" Label="@T("Name")" HideDetails="@("auto")" Outlined />
            
                <div style="overflow-y:scroll;overflow-y:scroll;max-height:650px;height:100%;">

                </div>

                <div class="d-flex" style="bottom:0px;right:0px;width:100%;position:absolute;">
                    <MSwitch @bind-Value="Staff.Enabled" Inset Class="label" Label="@(Staff.Enabled ? T("Enable"):T("Disabled"))" />
                    <MSpacer></MSpacer>
                    <MButton Class="mr-6" Text Color="error" OnClick=OpenRemoveStaffDialog>@T("Delete Staff")</MButton>
                    <MButton Color="primary" Class="small-button" OnClick="async () => await UpdateStaffAsync(context)">@T("Save")</MButton>
                </div>
            </div>
        </div>

    </MForm>
</SheetDialog>*@