@inherits AdminCompontentBase

<DefaultSheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("Add Role")">
    <MForm Model="Role" EnableValidation @ref="Form">
        <AutoHeight Overflow>
            <HeaderContent>
                <div class="d-flex mb-6">
                    <div class="mx-auto">
                        <PlaceholderTextFiled @bind-Value="Role.Name" Placeholder="@T("Role.Name")" />
                    </div>
                </div>
                <div>
                    <DefaultTextField @bind-Value="Role.Limit" Class="mb-6" Label="@T("Limit the number of bindings")" />
                    <RoleSelectForRole @bind-Value="Role.ChildrenRoles" @ref="RoleSelect" Class="mb-6" />
                    <DefaultTextField @bind-Value="Role.Description" Class="mb-6" Label="@T("Description")" />
                </div>
            </HeaderContent>
            <AutoHeightContent>
                <div class="global-nav" style="display: flex;height: auto">
                    <PermissionsCheck RoleIds=Role.ChildrenRoles
                                  Value="@(Role.Permissions.ToDictionary(id => id,id => true))"
                                  ValueChanged="PermissionsChanged" />
                </div>
            </AutoHeightContent>
            <FooterContent>
                 <div class="d-flex mt-6">
                    <EnableSwitch @bind-Value="Role.Enabled" />
                    <MSpacer></MSpacer>
                    <DefaultButton Medium Outlined OnClick="() => Preview = true">@T("Preview")</DefaultButton>
                    <DefaultButton Medium Class="ml-6" OnClick="async () => await AddRoleAsync(context)">@T("Save")</DefaultButton>
                </div>
            </FooterContent>
        </AutoHeight>
    </MForm>
</DefaultSheetDialog>

<PermissionsPreview @bind-Show="Preview" Value="Role.Permissions.Select(id => id.ToString()).ToList()" />