@inherits AdminCompontentBase

<DefaultSheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("Add Role")">
    <MForm Model="Role" EnableValidation>
        <AutoHeight Overflow>
            <HeaderContent>
                <div class="d-flex mb-6">
                    <div class="mx-auto">
                        <PlaceholderTextFiled @bind-Value="Role.Name" Placeholder="@T("Name")" />
                    </div>
                </div>
                <div>
                    <STextField @bind-Value="Role.Limit" Class="mb-6" Label="@T("Limit the number of bindings")" />
                    <RoleSelectForRole @bind-Value="Role.ChildrenRoles" @ref="RoleSelect" Class="mb-6" />
                    <STextField @bind-Value="Role.Description" Class="mb-6" Label="@T("Description")" />
                </div>
            </HeaderContent>
            <AutoHeightContent>
                <div class="global-nav" style="display: flex;height: auto">
                    <PermissionsConfigure 
                                Roles=Role.ChildrenRoles 
                                @bind-Value=Role.Permissions
                                @bind-Preview=Preview
                                Style="max-height:calc(100vh - 345px);" />
@*                    <PermissionsCheck RoleIds=Role.ChildrenRoles
                                  Value="@(Role.Permissions.ToDictionary(id => id,id => true))"
                                  ValueChanged="PermissionsChanged" />*@
                </div>
            </AutoHeightContent>
            <FooterContent>
                 <div class="d-flex mt-6">
                    <EnableSwitch @bind-Value="Role.Enabled" />
                    <MSpacer></MSpacer>
                    <SButton Medium Outlined OnClick="() => Preview = true">@T("Preview")</SButton>
                    <SButton Medium Class="ml-6" OnClick="async () => await AddRoleAsync(context)">@T("Submit")</SButton>
                </div>
            </FooterContent>
        </AutoHeight>
    </MForm>
</DefaultSheetDialog>