@page "/role"
@inherits AdminCompontentBase

<DefaultCard>
    <AutoHeight>
        <HeaderContent>
            <div class="d-flex mb-6">
                <DefaultTextField @bind-Value="Search" Color="primary" Class="rounded-2 search" Style="max-width:340px;" Placeholder="@T("Search")" HideDetails="@("auto")" Flat Dense Solo BackgroundColor="fill-lighten-1">
                    <PrependInnerContent>
                        <MIcon Size=16 Class="mr-2 default-emphasis-secondary--text">mdi-magnify</MIcon>
                    </PrependInnerContent>
                </DefaultTextField>
                <MSpacer />
                <DefaultButton Medium Class="ml-6" OnClick=OpenAddRoleDialog>
                    @*<DefaultIcon />*@
                    <MIcon Size=18>mdi-plus</MIcon>
                    <span class="ml-2">@T("Add")</span>
                </DefaultButton>
            </div>
        </HeaderContent>
        <AutoHeightContent>
            <DefaultDataTable Headers="Headers" Items="Roles" TItem="RoleDto" ItemsPerPage="PageSize">
                <HeaderColContent Context="header">
                    <span class="text-btn">@header.Text</span>
                </HeaderColContent>
                <ItemColContent>
                    @switch (context.Header.Value)
                    {
                        case nameof(RoleDto.Name):
                            <div class="hover-pointer" @onclick="()=> OpenUpdateRoleDialog(context.Item)">
                                <span class="text-body3 default--text">@context.Item.Name</span>
                            </div>
                            break;
                        case (nameof(RoleDto.CreationTime)):
                            <span class="font-16 default-regular--text">@context.Item.CreationTime.ToString(T("$DateTimeFormat"))</span>
                            break;
                        case nameof(RoleDto.ModificationTime):
                            <span class="font-16 default-regular--text">@context.Item.ModificationTime?.ToString(T("$DateTimeFormat"))</span>
                            break;
                        case (nameof(RoleDto.Creator)):
                            <span class="font-16 default-regular--text">@context.Item.Creator</span>
                            break;
                        case (nameof(RoleDto.Modifier)):
                            <span class="font-16 default-regular--text">@context.Item.Modifier</span>
                            break;
                        case nameof(RoleDto.Enabled):
                            <EnableChip Value="context.Item.Enabled" />
                            break;
                        case "Action":
                            <MIcon Small Color="default-regular" OnClick="()=> OpenUpdateRoleDialog(context.Item)">mdi-pencil</MIcon>
                            <MIcon Small Color="default-regular" Class="ml-7" OnClick="()=> OpenRemoveRoleDialog(context.Item)">mdi-delete</MIcon>
                            break;
                        default:
                            <span class="text-body3">@context.Value</span>
                            break;
                    }
                </ItemColContent>
            </DefaultDataTable>
        </AutoHeightContent>
        <FooterContent>
            <Pagination @bind-Page="Page" @bind-PageSize=PageSize Total=Total />
        </FooterContent>
    </AutoHeight>
</DefaultCard>

<AddRoleDialog @bind-Visible="AddRoleDialogVisible" OnSubmitSuccess=GetRolesAsync />
<UpdateRoleDialog RoleId=CurrentRoleId @bind-Visible="UpdateRoleDialogVisible" OnSubmitSuccess=GetRolesAsync />