@page "/role"
@inherits AdminCompontentBase

<DefaultCard>
    <AutoHeight>
        <HeaderContent>
            <div class="d-flex mb-6">
                <SearchTextField @bind-Value="Search" />
                <MSpacer />
                <DefaultButton Medium Class="ml-6" OnClick=OpenAddRoleDialog>
                    <MIcon Size=18>mdi-plus</MIcon>
                    <span class="ml-2">@T("Add")</span>
                </DefaultButton>
            </div>
        </HeaderContent>
        <AutoHeightContent>
            <DefaultDataTable Headers="Headers" Items="Roles" TItem="RoleDto" ItemsPerPage="PageSize">
                <HeaderColContent Context="header">
                    <span class="body2">@header.Text</span>
                </HeaderColContent>
                <ItemColContent>
                    @switch (context.Header.Value)
                    {
                        case nameof(RoleDto.Name):
                            <div class="hover-pointer" @onclick="()=> OpenUpdateRoleDialog(context.Item)">
                                <span class="subtitle default--text">@context.Item.Name</span>
                            </div>
                            break;
                        case (nameof(RoleDto.CreationTime)):
                            <span class="body regular--text">@context.Item.CreationTime.ToString(T("$DateTimeFormat"))</span>
                            break;
                        case nameof(RoleDto.ModificationTime):
                            <span class="body regular--text">@context.Item.ModificationTime?.ToString(T("$DateTimeFormat"))</span>
                            break;
                        case (nameof(RoleDto.Creator)):
                            <span class="body regular--text">@context.Item.Creator</span>
                            break;
                        case (nameof(RoleDto.Modifier)):
                            <span class="body regular--text">@context.Item.Modifier</span>
                            break;
                        case nameof(RoleDto.Enabled):
                            <EnableChip Value="context.Item.Enabled" />
                            break;
                        case "Action":
                            <MIcon Small Color="regular" OnClick="()=> OpenUpdateRoleDialog(context.Item)">@IconConstants.Update</MIcon>
                            <MIcon Small Color="regular" Class="ml-7" OnClick="()=> OpenRemoveRoleDialog(context.Item)">@IconConstants.Remove</MIcon>
                            break;
                        default:
                            <span class="subtitle">@context.Value</span>
                            break;
                    }
                </ItemColContent>
            </DefaultDataTable>
        </AutoHeightContent>
        <FooterContent>
            <Pagination @bind-Page="Page" @bind-PageSize=PageSize Total=Total />
        </FooterContent>
    </AutoHeight>
</DefaultCard>

<AddRoleDialog @bind-Visible="AddRoleDialogVisible" OnSubmitSuccess=GetRolesAsync />
<UpdateRoleDialog RoleId=CurrentRoleId @bind-Visible="UpdateRoleDialogVisible" OnSubmitSuccess=GetRolesAsync />