@using Masa.Auth.Web.Admin.Rcl.Pages.Subjects.Users.Model
@inherits AdminCompontentBase

<DefaultSheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("Update Role")">
    <MForm Model="Role" EnableValidation @ref="Form">
        <AutoHeight Overflow AutoClass="mt-6">
            <HeaderContent>
                <div class="d-flex">
                    <div class="mx-auto">
                        <ButtonGroup @bind-Value="Tab" TValue="UpdateRoleTabs" />
                    </div>
                </div>
            </HeaderContent>
            <AutoHeightContent>
                <MWindow Value="Tab.ToString()" Class="full-height">
                    <MWindowItem Value="UpdateRoleTabs.BasicInformation.ToString()">
                        <DefaultTitle Class="mb-4">@T("Basic Information")</DefaultTitle>
                        <DefaultTextField @bind-Value="Role.Name" Class="mb-6" Label="@T("Role.Name")" />
                        <DefaultTextField @bind-Value="Role.Limit" TValue="int" OnChange=LimitChanged Class="mb-6" Label="@T("Limit the number of bindings")" />
                        <RoleSelect Value="RoleDetail.ParentRoles" Class="mb-12" Readonly Label="@T("Superior Role")" />
                        <RoleOwner RoleId=RoleId Class="mb-12" />
                        <DefaultTextField @bind-Value="Role.Description" Class="mb-12" Label="@T("Description")" />
                        <Record Creator="@RoleDetail.Creator" CreationTime="@RoleDetail.CreationTime" Modifier="@RoleDetail.Modifier" ModificationTime="@RoleDetail.ModificationTime" />                      
                    </MWindowItem>
                    <MWindowItem Value="UpdateRoleTabs.Permission.ToString()">
                        <RoleSelectForRole RoleId=RoleId @bind-Value="Role.ChildrenRoles" Class="mb-6 mt-1" />
                        <div class="global-nav" style="display: flex;height: auto">
                            <PermissionsCheck RoleIds=Role.ChildrenRoles
                                          Value="@(Role.Permissions.ToDictionary(id => id,id => true))"
                                          ValueChanged="PermissionsChanged" />
                        </div>
                    </MWindowItem>
                </MWindow>
            </AutoHeightContent>
            <FooterContent>
                <div class="d-flex mt-6">
                    <EnableSwitch @bind-Value="Role.Enabled" />
                    <MSpacer></MSpacer>
                    <DefaultButton Medium Outlined Class="mr-6" OnClick="() => Preview = true">@T("Preview")</DefaultButton>
                    <DefaultButton Medium OnClick="async () => await UpdateRoleAsync(context)">@T("Save")</DefaultButton>
                </div>
            </FooterContent>
        </AutoHeight>
    </MForm>
</DefaultSheetDialog>

<PermissionsPreview @bind-Show="Preview" Value="Role.Permissions.Select(id => id.ToString()).ToList()" />