@inherits AdminCompontentBase

<SAutoComplete Value="Value"
               ValueChanged="UpdateValueAsync"
               Items="Clients"
               Label="@T("Client")"
               ItemText="client => client.ClientName"
               ItemValue="client => client.ClientId"
               Disabled=Disabled
               TItem="ClientSelectDto"
               TItemValue="string"
               TValue="string"
               Style="@($"{Style}")"
               Class="@($"{Class}")">
    <ItemContent Context="data">
        <div class="d-flex" style="height:48px;">
            <MAvatar Size=30 Class="ma-auto">
                <img src="@data.Item.LogoUri" />
            </MAvatar>
            <div class="my-auto">
                <span class="body2 emphasis2--text ml-2">@data.Item.ClientName</span> 
            </div>                      
        </div>
    </ItemContent>
</SAutoComplete>