@page "/sso/apiScope"
@inherits AdminCompontentBase

<PageTitle>
    @T("ApiScope")
</PageTitle>

<DefaultCard>
    <AutoHeight>
        <HeaderContent>
            <div class="d-flex mb-6">
                <SearchTextField @bind-Value="Search" />
                <MSpacer />
                <SButton Small Class="ml-6" OnClick="() => OpenAddApiResourceDialog()" BorderRadiusClass="rounded-lg">
                    <MIcon Size=18>@IconConstants.Add</MIcon>
                    <span class="ml-2 btn">@T("Add")</span>
                </SButton>
            </div>
        </HeaderContent>
        <AutoHeightContent>
            <SDataTable
                Height="@("calc(100vh - 288px)")"
                Headers="GetHeaders()" 
                Items="ApiScopes" 
                TItem="ApiScopeDto" 
                ItemsPerPage="PageSize">
                <HeaderColContent Context="header">
                    <span>@header.Text</span>
                </HeaderColContent>
                <ItemColContent>
                    @switch (context.Header.Value)
                    {
                        case nameof(ApiScopeDto.Name):
                            <div class="hover-pointer" @onclick="()=> OpenUpdateApiResourceDialog(context.Item)">
                                <span>@context.Item.Name</span>
                            </div>
                            break;
                        case (nameof(ApiScopeDto.DisplayName)):
                            <span>@context.Item.DisplayName</span>
                            break;
                        case nameof(ApiScopeDto.Required):
                            <span>@(context.Item.Required ? T("Yes") : T("No"))</span>
                            break;
                        case (nameof(ApiScopeDto.Description)):
                            <span class="description">@context.Item.Description</span>
                            break;
                        case nameof(ApiScopeDto.Enabled):
                            <EnableChip Value="@context.Item.Enabled" />
                            break;
                        case "Action":
                            <SIcon Tooltip="@T("Update")" OnClick="()=> OpenUpdateApiResourceDialog(context.Item)">@IconConstants.Update</SIcon>
                            <SIcon Tooltip="@T("Delete")" Class="ml-6" OnClick="()=> OpenRemoveApiScopeDialog(context.Item)">@IconConstants.Remove</SIcon>
                            break;
                        default:
                            <span>@context.Value</span>
                            break;
                    }
                </ItemColContent>
            </SDataTable>
        </AutoHeightContent>
        <FooterContent>
            <SPagination Class="mt-5" @bind-Page="Page" @bind-PageSize=PageSize Total=Total/>
        </FooterContent>
    </AutoHeight>
</DefaultCard>

<AddApiScopeDialog @bind-Visible="AddApiScopeDialogVisible" OnSubmitSuccess=GetApiScopesAsync />
<UpdateApiScopeDialog @bind-Visible="UpdateApiScopeDialogVisible" ApiScopeId=CurrentApiScopeId OnSubmitSuccess=GetApiScopesAsync />