@inherits AdminCompontentBase

<DefaultSheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("Update ApiScope")">
    <MForm Model=ApiScope EnableValidation>
        <AutoHeight Overflow>
            <AutoHeightContent>
                <DefaultTitle Class="mb-4">@T("Basic Information")</DefaultTitle>
                <MRow Class="mb-6">
                    <MCol>
                        <DefaultTextField @bind-Value="ApiScope.DisplayName" Label="@T("DisplayName")" />
                    </MCol>
                    <MCol>
                        <DefaultTextField Readonly Value="ApiScope.Name" Label="@T("ApiScope.Name")" />
                    </MCol>
                </MRow>
                <MRow Class="mb-6">
                    <MCol>
                        <DefaultTextField @bind-Value="ApiScope.Description" Label="@T("Description")" />
                    </MCol>
                </MRow>
                <div class="d-flex mb-10">
                    <MCheckbox @bind-Value="ApiScope.Required" Class="pt-0 mt-0" Label="@T(nameof(ApiScope.Required))" HideDetails="@("auto")" />
                    <MCheckbox @bind-Value="ApiScope.Emphasize" Class="ml-12 pt-0 mt-0" Label="@T(nameof(ApiScope.Emphasize))" HideDetails="@("auto")" />
                    <MCheckbox @bind-Value="ApiScope.ShowInDiscoveryDocument" Class="ml-12 pt-0 mt-0" Label="@T(nameof(ApiScope.ShowInDiscoveryDocument))" HideDetails="@("auto")" />
                </div>            
                <DefaultTitle Class="mb-2">@T("User Claims")</DefaultTitle>
                <UserClaimSelect @bind-Value=ApiScope.UserClaims />
            </AutoHeightContent>
            <FooterContent>
                <div Class="d-flex mt-6">
                    <EnableSwitch @bind-Value="ApiScope.Enabled" />
                    <MSpacer></MSpacer>
                    <DefaultButton Medium OnClick="async () => await UpdatetApiScopeAsync(context)">@T("Submit")</DefaultButton>
                </div>
            </FooterContent>
        </AutoHeight>
    </MForm>
</DefaultSheetDialog>