@inherits AdminCompontentBase

<DefaultSheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("Update ApiScope")">
    <MForm Model=ApiScope EnableValidation @ref="Form">
        <AutoHeight Overflow>
            <AutoHeightContent>
                <div class="font-14-bold">@T("Basic Information")</div>
                <MRow Class="mt-4">
                    <MCol>
                        <DefaultTextField @bind-Value="ApiScope.DisplayName" Label="@T("DisplayName")" />
                    </MCol>
                    <MCol>
                        <DefaultTextField @bind-Value="ApiScope.Name" Label="@T("ApiScope.Name")" />
                    </MCol>
                </MRow>
                <MRow Class="mt-1">
                    <MCol>
                        <DefaultTextField @bind-Value="ApiScope.Description" Label="@T("Description")" />
                    </MCol>
                </MRow>
                <MRow Class="mt-1">
                    <MCol Class="d-flex">
                        <MCheckbox @bind-Value="ApiScope.Required" Class="pt-0 mt-0" Label="@T(nameof(ApiScope.Required))"></MCheckbox>
                        <MCheckbox @bind-Value="ApiScope.Emphasize" Class="ml-12 pt-0 mt-0" Label="@T(nameof(ApiScope.Emphasize))"></MCheckbox>
                        <MCheckbox @bind-Value="ApiScope.ShowInDiscoveryDocument" Class="ml-12 pt-0 mt-0" Label="@T(nameof(ApiScope.ShowInDiscoveryDocument))"></MCheckbox>
                    </MCol>
                </MRow>
                <div class="mt-6 font-14-bold">@T("User Claims")</div>
                <UserClaimSelect @bind-Value=ApiScope.UserClaims Class="mt-4" Style="height:65%!important" />
            </AutoHeightContent>
            <FooterContent>
                <div class="d-flex mt-6">
                    <EnableSwitch @bind-Value="ApiScope.Enabled" />
                    <MSpacer></MSpacer>
                    <DefaultButton Medium OnClick="async () => await UpdatetApiScopeAsync(context)">@T("Submit")</DefaultButton>
                </div>
            </FooterContent>
        </AutoHeight>
    </MForm>
</DefaultSheetDialog>