@page "/sso/client"
@inherits AdminCompontentBase

<PageTitle>
    Clients
</PageTitle>

<MCard>
    <MCardTitle>
        <MTextField @bind-Value="_clientPaginationDto.Search" FullWidth=false Color="primary" Class="rounded-2 search" Placeholder="@T("Search")" HideDetails="@("auto")" Flat Dense Solo BackgroundColor="fill-lighten-1">
            <PrependInnerContent>
                <MIcon Size=16 Class="mr-2 default-emphasis-secondary--text">mdi-magnify</MIcon>
            </PrependInnerContent>
        </MTextField>
        <MSpacer/>
        <MButton Color="primary" Class="ml-6 medium-button" OnClick="()=>{_addDialog=true;}">
            <MIcon Size=18>mdi-plus</MIcon>
            <span class="ml-2">@T("Add")</span>
        </MButton>
    </MCardTitle>
    <MCardText>
        <MDataTable Headers="_headers" Items="_clients" TItem="ClientDto" ItemsPerPage="_clientPaginationDto.PageSize" HideDefaultFooter Class="table-border-none">
            <HeaderColContent Context="header">
                <span class="text-btn">@header.Text</span>
            </HeaderColContent>
            <ItemColContent>
                @switch (context.Header.Value)
                {
                    case nameof(ClientDto.LogoUri):
                        <div class="hover-pointer d-flex my-1">
                            <MAvatar Size=48>
                                <img src="@context.Item.LogoUri" />
                            </MAvatar>
                            <div class="ml-4 block-center">
                                <div class="text-body3 default-emphasis-secondary--text">@context.Item.ClientName</div>
                            </div>
                        </div>
                        break;
                    case nameof(ClientDto.Enabled):
                        string color = context.Item.Enabled ? "sample-green" : "error";
                        <MChip Color="@($"{color}-lighten-5")" TextColor="@color" Ripple="false">
                            <span>@T(context.Item.Enabled?"Enabled":"Disabled")</span>
                        </MChip>
                        break;
                    case "Action":
                        <MIcon Small Color="default-regular" OnClick="()=>OpenUpdateDialog(context.Item.Id)">mdi-pencil</MIcon>
                        break;
                    default:
                        <span class="text-body3">@context.Value</span>
                        break;
                }
            </ItemColContent>
            <FooterContent>
                <DataTableFooter Class="mt-4" Page=_clientPaginationDto.Page PageSize=_clientPaginationDto.PageSize Total=100 />
            </FooterContent>
        </MDataTable>
    </MCardText>
</MCard>

<AddClientDialog @bind-Value="_addDialog" OnSuccessed="LoadData"/>
<UpdateClientDialog @ref="_updateClientDialog" @bind-Value=_updateDialog OnSuccessed="LoadData" OnDeleted="LoadData"/>