@inherits AdminCompontentBase

<SheetDialog Value=Show Title="@T("Add Api Permission")" ValueChanged="ShowChanged">
    <MCard class="pt-9 d-flex flex-column full-height" Style="margin-left:228px;margin-right:228px;">
        <MCardText>
            <MRow>
                <MCol Md=12>
                    <DefaultTextField Label="@T("Permission Name")" @bind-Value="_apiPermissionDetailDto.Name"></DefaultTextField>
                </MCol>
                <MCol Md=6>
                    <MSelect @bind-Value="_apiPermissionDetailDto.AppId"
                             Label="@T("Pre Code Select")"
                             Outlined Dense HideDetails="@("auto")"
                             Items="@AppItems"
                             ItemText="u => u.Name"
                             ItemValue="u => u.Identity">
                    </MSelect>
                </MCol>
                <MCol Md=6>
                    <DefaultTextField Label="@T("Code")" @bind-Value="_apiPermissionDetailDto.Code" Messages='new List<string>{"推荐Code方式，格式参考示例：resource.method"}'>
                    </DefaultTextField>
                </MCol>
                <MCol Md=12>
                    <MSelect @bind-Value="_apiPermissionDetailDto.Type"
                             Label="@T("Permission Type")"
                             Outlined Dense HideDetails="@("auto")"
                             Items="@PermissionTypes"
                             ItemText="u => u.Text"
                             ItemValue="u => u.Value">
                    </MSelect>
                </MCol>
                <MCol Md=12>
                    <DefaultTextField Label="@T("Icon Code")" @bind-Value="_apiPermissionDetailDto.Icon">
                        <PrependContent>
                            <div class="d-flex align-center mt-n1">
                                <MIcon Size=30>
                                    mdi-image
                                </MIcon>
                            </div>
                        </PrependContent>
                    </DefaultTextField>
                </MCol>
                <MCol Md=12>
                    <DefaultTextField Label="@T("Permission Url")" @bind-Value="_apiPermissionDetailDto.Url"></DefaultTextField>
                </MCol>
                <MCol Md=12>
                    <MTextarea class="mt-6" Label="@T("Description")" @bind-Value="_apiPermissionDetailDto.Description" Outlined Height="120" NoResize>
                    </MTextarea>
                </MCol>
            </MRow>
        </MCardText>
        <MCardActions class="d-flex align-center mb-12 px-6">
            <MSpacer />
            <MButton class="rounded-pill primary" MinWidth="100" OnClick="OnSubmitHandler">@T("Submit")</MButton>
        </MCardActions>
    </MCard>
</SheetDialog>
