@inherits AdminCompontentBase

<SheetDialog Value=Show Title="@T("Add Menu Permission")" ValueChanged="ShowChanged">
    <MCard Class="pt-9 d-flex flex-column full-height" Style="margin-left:228px;margin-right:228px;">
        <MCardText>
            <MForm Model=_menuPermissionDetailDto EnableValidation @ref="_form">
                <MRow>
                    <MCol Md=12>
                        <STextField Label="@T("Permission Name")" @bind-Value="_menuPermissionDetailDto.Name" />
                    </MCol>
                    <MCol Md=6>
                        <MSelect @bind-Value="_menuPermissionDetailDto.AppId"
                                 Label="@T("Pre Code Select")"
                                 Outlined HideDetails="@("auto")"
                                 Items="@AppItems"
                                 ItemText="u => u.Name"
                                 ItemValue="u => u.Identity">
                        </MSelect>
                    </MCol>
                    <MCol Md=6>
                        <STextField Label="@T("Code")" @bind-Value="_menuPermissionDetailDto.Code" Messages='new List<string>{"推荐Code方式，格式参考示例：resource.method"}' />
                    </MCol>
                    <MCol Md=12>
                        <MSelect @bind-Value="_menuPermissionDetailDto.Type"
                                 Label="@T("Permission Type")"
                                 Outlined HideDetails="@("auto")"
                                 Items="@SelectPermissionTypes"
                                 ItemText="u => u.Text"
                                 ItemValue="u => u.Value">
                        </MSelect>
                    </MCol>
                    @if (_menuPermissionDetailDto.Type == PermissionTypes.Menu)
                    {
                        <MCol Md=12>
                            <STextField Label="@T("Permission Url")" @bind-Value="_menuPermissionDetailDto.Url" />
                        </MCol>
                    }
                    <MCol Md=12>
                        <STextField Label="@T("Icon Code")" Placeholder="@T("Support mdi and fas icon")" @bind-Value="_menuPermissionDetailDto.Icon">
                            <PrependContent>
                                <div class="d-flex align-center mt-n1">
                                    <MIcon Size=30>
                                        mdi-image
                                    </MIcon>
                                </div>
                            </PrependContent>
                        </STextField>
                    </MCol>
                    <MCol Md=12>
                        <MTextarea class="mt-6" Label="@T("Description")" @bind-Value="_menuPermissionDetailDto.Description" Outlined Height="120" NoResize />
                    </MCol>
                </MRow>
            </MForm>
        </MCardText>
        <MCardActions class="d-flex align-center mb-12 px-6">
            <EnableSwitch @bind-Value="_menuPermissionDetailDto.Enabled" />
            <MSpacer />
            <SButton Medium OnClick="OnSubmitHandler">@T("Submit")</SButton>
        </MCardActions>
    </MCard>
</SheetDialog>
