@inherits AdminCompontentBase
@page "/permission/index"

<PageTitle>
    @T("Permission")
</PageTitle>

<MRow Class="full-height" NoGutters>
    <MCol Md="@("auto")" Class="d-flex flex-column">
        <SSearchableExtend Split=true MaxWidth=300 @bind-Value="_search">
            <MAutocomplete HideDetails=true TItemValue="string" TItem="ProjectDto" TValue="string"
                           OnSelectedItemUpdate="SelectProjectItem" Value="_curProjectId"
                           Solo Class="elevation-0"
                           Items="@_projectItems"
                           ItemText="u => u.Name"
                           ItemValue="u => u.Identity"></MAutocomplete>
        </SSearchableExtend>
        <MCard style="width:300px;" Class="flex-grow-1 mt-4 pt-4">
            <SElevationTab TabMinWidth="120" ItemsClass="mt-4" Tabs='new List<string>{T("Menu Permission"),T("Api Permission")}' Dense @bind-Tab="_tab">
                <SElevationTabItem>
                    <MTreeview @bind-Active="_menuPermissionActive"
                               Items="_menuPermissions" Open="_menuOpenNode"
                               OnActiveUpdate="(List<AppPermissionsViewModel> e)=>ActiveMenuPermission(e)"
                               TItem="AppPermissionsViewModel"
                               TKey="Guid" MandatoryActive
                               Search="@_search"
                               Activatable Hoverable
                               ItemText="r=>r.Name"
                               ItemKey="r=>r.Id"
                               ItemChildren="r=>r.Children">
                        <LabelContent>
                            <MHover Context="hoverComtext">
                                <div @attributes="hoverComtext.Attrs" class="px-2 d-flex justify-space-between align-center">
                                    <span>@context.Item.Name</span>
                                    <SIcon Style="@(hoverComtext.Hover?"display:flex":"display:none")" Tooltip="@T("Add")" OnClick="()=>_addMenuPermission.Show(context.Item)">@IconConstants.Add</SIcon>
                                </div>
                            </MHover>
                        </LabelContent>
                    </MTreeview>
                </SElevationTabItem>
                <SElevationTabItem>
                    <MTreeview @bind-Active="_apiPermissionActive"
                               Items="_apiPermissions" Open="_apiOpenNode"
                               OnActiveUpdate="ActiveApiPermission"
                               TItem="AppPermissionsViewModel"
                               TKey="Guid" MandatoryActive
                               Activatable Hoverable
                               ItemText="r=>r.Name"
                               ItemKey="r=>r.Id"
                               ItemChildren="r=>r.Children">
                        <LabelContent>
                            <MHover Context="hoverComtext">
                                <div @attributes="hoverComtext.Attrs" class="px-2 d-flex justify-space-between align-center">
                                    <span>@context.Item.Name</span>
                                    <SIcon Style="@((hoverComtext.Hover && !context.Item.IsPermission)?"display:flex":"display:none")" Tooltip="@T("Add")" OnClick="()=>_addApiPermission.Show(context.Item)">@IconConstants.Add</SIcon>
                                </div>
                            </MHover>
                        </LabelContent>
                    </MTreeview>
                </SElevationTabItem>
            </SElevationTab>
        </MCard>
    </MCol>
    <MCol Class="full-height ml-6">
        <MWindow Value="_tab" Reverse Class="full-height">
            <MWindowItem Value='T("Menu Permission")' Class="full-height">
                @if (_showMenuInfo && _menuPermissionDetailDto.Id != Guid.Empty)
                {
                    <MCard Class="full-height d-flex flex-column">
                        <MCardTitle>
                            <h6>@T("Permission Info")</h6>
                        </MCardTitle>
                        <MCardText>
                            <MForm EnableValidation Model=_menuPermissionDetailDto @ref="_formMenu">
                                <MRow>
                                    <MCol Md=12>
                                        <STextField Label="@T("Code")" Required Prefix="@($"{_menuPermissionDetailDto.AppId}.")" @bind-Value="_menuPermissionDetailDto.Code" Messages='new List<string>{"推荐Code方式，格式参考示例：resource.method"}'>
                                        </STextField>
                                    </MCol>
                                    <MCol Md=6>
                                        <STextField Label="@T("Name")" Required @bind-Value="_menuPermissionDetailDto.Name"></STextField>
                                    </MCol>

                                    <MCol Md=6>
                                        <MCascader @bind-Value="_menuPermissionDetailDto.ParentId"
                                               Items="MenuTreeParent(_menuPermissionDetailDto)" HideDetails="true"
                                               Dense Outlined ChangeOnSelect
                                               ItemText="u => u.Name" ItemValue="u => u.Id" ItemChildren="u => u.Children">
                                        </MCascader>
                                    </MCol>

                                    <MCol Md=6>
                                        <STextField Label="@T("Icon")" Placeholder="@T("Support mdi and fas icon")" @bind-Value="_menuPermissionDetailDto.Icon">
                                            <PrependContent>
                                                <div class="d-flex align-center mt-n1">
                                                    <MIcon Size=30 Style="max-height:30px;max-width:30px;">
                                                        @(string.IsNullOrWhiteSpace(_menuPermissionDetailDto.Icon) ? "mdi-image" : _menuPermissionDetailDto.Icon)
                                                    </MIcon>
                                                </div>
                                            </PrependContent>
                                        </STextField>
                                    </MCol>
                                    <MCol Md=6>
                                        <STextField Label="@T("Type")" Value="_menuPermissionDetailDto.Type.GetDescription().Description" Disabled />
                                    </MCol>
                                    <MCol Md=6>
                                        <STextField Label="@T("Url")" @bind-Value="_menuPermissionDetailDto.Url" />
                                    </MCol>
                                    <MCol Md=6>
                                        <SNumberTextField Label="@T("Order")" @bind-Value="_menuPermissionDetailDto.Order" />
                                    </MCol>
                                    <MCol Md=12>
                                        <SAutoComplete @bind-Value="_menuPermissionDetailDto.ApiPermissions"
                                                   Items="_childApiItems"
                                                   ItemText="r=>r.Text"
                                                   ItemValue="r=>r.Value"
                                                   Chips
                                                   SmallChips
                                                   Label="@T("Mount Api Permission")"
                                                   Multiple />
                                    </MCol>
                                    <MCol Md=12>
                                        <SGroupBox Title="@T("Permission Role")" Style="min-height: 48px;">
                                            @foreach (var role in _menuPermissionDetailDto.Roles)
                                            {
                                                <MChip Small Class="mx-1">
                                                    @role.Name
                                                </MChip>
                                            }
                                        </SGroupBox>
                                    </MCol>
                                    <MCol Md=12>
                                        <SGroupBox Title="@T("Permission User")" Style="min-height: 48px;">
                                            <div>
                                                @foreach (var item in _menuPermissionDetailDto.Users)
                                                {
                                                    <MChip Small Class="mx-1">
                                                        @item.Name
                                                    </MChip>
                                                }
                                            </div>
                                            <div class="mt-2">
                                                @foreach (var item in _menuPermissionDetailDto.Teams)
                                                {
                                                    <MChip Small Style="background: #EBF6FF !important;color: #37A7FF;" Class="mx-1">
                                                        @item.Name
                                                    </MChip>
                                                }
                                            </div>
                                        </SGroupBox>
                                    </MCol>
                                    <MCol Md=12>
                                        <MTextarea Label="@T("Description")" @bind-Value="_menuPermissionDetailDto.Description" Outlined Height="120" NoResize>
                                        </MTextarea>
                                    </MCol>
                                </MRow>
                            </MForm>
                        </MCardText>
                        <MCardActions class="d-flex align-center mb-10 px-6">
                            <EnableSwitch @bind-Value="_menuPermissionDetailDto.Enabled" />
                            <MSpacer />
                            <MButton Text Class="error--text" MinWidth="100" OnClick="()=>DeletePermissionAsync(_menuPermissionDetailDto.Id)">@T("Delete Permission")</MButton>
                            <MButton class="rounded-pill primary" MinWidth="100" OnClick="UpdateMenuPermissionAsync">@T("Save")</MButton>
                        </MCardActions>
                    </MCard>
                }
            </MWindowItem>
            <MWindowItem Value='T("Api Permission")' Class="full-height">
                @if (_showApiInfo && _apiPermissionDetailDto.Id != Guid.Empty)
                {
                    <MCard Class="full-height d-flex flex-column">
                        <MCardTitle>
                            <h6>@T("Permission Info")</h6>
                        </MCardTitle>
                        <MCardText>
                            <MForm EnableValidation Model=_apiPermissionDetailDto @ref="_formApi">
                                <MRow>
                                    <MCol Md=12>
                                        <STextField Label="@T("Code")" Required Prefix="@($"{_apiPermissionDetailDto.AppId}.")" @bind-Value="_apiPermissionDetailDto.Code" Messages='new List<string>{"推荐Code方式，格式参考示例：resource.method"}'>
                                        </STextField>
                                    </MCol>
                                    <MCol Md=6>
                                        <STextField Label="@T("Name")" Required @bind-Value="_apiPermissionDetailDto.Name"></STextField>
                                    </MCol>
                                    <MCol Md=6>
                                        <STextField Label="@T("Url")" @bind-Value="_apiPermissionDetailDto.Url"></STextField>
                                    </MCol>
                                    <MCol Md=6>
                                        <SNumberTextField Label="@T("Order")" @bind-Value="_apiPermissionDetailDto.Order" />
                                    </MCol>
                                    <MCol Md=6>
                                        <STextField Label="@T("Type")" Value="_apiPermissionDetailDto.Type.GetDescription().Description" Disabled />
                                    </MCol>
                                    <MCol Md=12>
                                        <MTextarea class="mt-6" Label="@T("Description")" @bind-Value="_apiPermissionDetailDto.Description" Outlined Height="120" NoResize>
                                        </MTextarea>
                                    </MCol>
                                </MRow>
                            </MForm>
                        </MCardText>
                        <MCardActions class="d-flex align-center mb-10 px-6">
                            <MSpacer />
                            <MButton Text Class="error--text" MinWidth="100" OnClick="()=>DeletePermissionAsync(_apiPermissionDetailDto.Id)">@T("Delete Permission")</MButton>
                            <MButton class="rounded-pill primary" MinWidth="100" OnClick="UpdateApiPermissionAsync">@T("Save")</MButton>
                        </MCardActions>
                    </MCard>
                }
            </MWindowItem>
        </MWindow>
    </MCol>
</MRow>

<AddMenuPermission @ref="_addMenuPermission" OnSubmit="AddMenuPermissionAsync" />
<AddApiPermission @ref=_addApiPermission OnSubmit="AddApiPermissionAsync" />