@inherits AdminCompontentBase
@page "/permission/index"

<MRow>
    <MCol Md="@("auto")">
        <MCard style="width:300px;" Class="full-height">
            <ElevationTab TabMinWidth="120" Headers='new List<string>{T("Menu Permission"),T("Api Permission")}' Dense @bind-TabIndex="_tab">
                <ElevationTabItem>
                    <MTreeview @bind-Active="_menuActive"
                               Items="_menuPermissions"
                               Activatable Hoverable
                               ItemText="r=>r.Name"
                               ItemKey="r=>r.Id"
                               ItemChildren="r=>r.Children">
                        <LabelContent>
                            <MHover Context="hoverComtext">
                                <div @attributes="hoverComtext.Attrs" class="d-flex justify-space-between align-center">
                                    <span>@context.Item.Name</span>
                                    <MIcon Size=20 style="@(hoverComtext.Hover?"display:flex":"display:none")">mdi-plus</MIcon>
                                </div>
                            </MHover>
                        </LabelContent>
                    </MTreeview>
                </ElevationTabItem>
                <ElevationTabItem>
                    <MTreeview @bind-Active="_apiActive"
                               Items="_apiPermissions"
                               Activatable Hoverable
                               ItemText="r=>r.Name"
                               ItemKey="r=>r.Id"
                               ItemChildren="r=>r.Children">
                        <LabelContent>
                            <MHover Context="hoverComtext">
                                <div @attributes="hoverComtext.Attrs" class="d-flex justify-space-between align-center">
                                    <span>@context.Item.Name</span>
                                    <MIcon Size=20 style="@(hoverComtext.Hover?"display:flex":"display:none")">mdi-plus</MIcon>
                                </div>
                            </MHover>
                        </LabelContent>
                    </MTreeview>
                </ElevationTabItem>
            </ElevationTab>
        </MCard>
    </MCol>
    <MCol>
        <MWindow @bind-Value="_tab" Reverse>
            <MWindowItem Value="0">
                <MCard>
                    <MCardTitle>
                        <h6>权限信息</h6>
                    </MCardTitle>
                    <MCardText>
                        <MRow>
                            <MCol Md=6>
                                <MSelect @bind-Value="@value3"
                                         Label="Outlined style"
                                         Outlined Dense HideDetails="@("auto")"
                                         Items="@items"
                                         ItemText="u => u.Label"
                                         ItemValue="u => u.Value">
                                </MSelect>
                            </MCol>
                            <MCol Md=6>
                                <DefaultTextField TValue="string" Messages='new List<string>{"推荐Code方式，格式参考示例：resource.method"}'>
                                </DefaultTextField>
                            </MCol>
                            <MCol Md=6>
                                <DefaultTextField TValue="string"></DefaultTextField>
                            </MCol>
                            <MCol Md=6>
                                <DefaultTextField TValue="string"></DefaultTextField>
                            </MCol>
                            <MCol Md=6>
                                <DefaultTextField TValue="string">
                                    <PrependContent>
                                        <div class="d-flex align-center mt-n1">
                                            <MIcon Size=30>
                                                mdi-image
                                            </MIcon>
                                        </div>
                                    </PrependContent>
                                </DefaultTextField>
                            </MCol>
                            <MCol Md=6>
                                <DefaultTextField TValue="string"></DefaultTextField>
                            </MCol>
                            <MCol Md=12>
                                <DefaultTextField TValue="string"></DefaultTextField>
                            </MCol>
                            <MCol Md=12>
                                <MAutocomplete @bind-Value="_values"
                                               Items="_items"
                                               ItemText="r=>r"
                                               ItemValue="r=>r"
                                               Outlined
                                               Dense Chips
                                               SmallChips
                                               Label="Outlined"
                                               Multiple></MAutocomplete>
                            </MCol>
                            <MCol Md=12>
                                <GroupBox Title="挂靠角色">
                                    <MChip Small>
                                        UI
                                    </MChip>
                                    <MChip Small>
                                        UX
                                    </MChip>
                                </GroupBox>
                            </MCol>
                            <MCol Md=12>
                                <GroupBox Title="权限使用者" class="mt-3">
                                    <div>
                                        <MChip Small>
                                            UX
                                        </MChip><MChip Small>
                                            UX
                                        </MChip><MChip Small>
                                            UX
                                        </MChip><MChip Small>
                                            UX
                                        </MChip><MChip Small>
                                            UX
                                        </MChip>
                                    </div>
                                    <div class="mt-3">
                                        <MChip Small>
                                            UX
                                        </MChip><MChip Small>
                                            UX
                                        </MChip><MChip Small>
                                            UX
                                        </MChip><MChip Small>
                                            UX
                                        </MChip><MChip Small>
                                            UX
                                        </MChip>
                                    </div>
                                </GroupBox>
                            </MCol>
                            <MCol Md=12>
                                <MTextarea class="mt-6" Label="@T("Description")" Outlined Height="120" NoResize>
                                </MTextarea>
                            </MCol>
                        </MRow>
                    </MCardText>
                    <MCardActions>

                    </MCardActions>
                </MCard>
            </MWindowItem>
            <MWindowItem Value="1">
                <MCard>
                    <MCardTitle>
                        <h6>权限信息</h6>
                    </MCardTitle>
                    <MCardText>
                        <MRow>
                            <MCol Md=6>
                                <MSelect @bind-Value="@value3"
                                         Label="Outlined style"
                                         Outlined Dense HideDetails="@("auto")"
                                         Items="@items"
                                         ItemText="u => u.Label"
                                         ItemValue="u => u.Value">
                                </MSelect>
                            </MCol>
                            <MCol Md=6>
                                <DefaultTextField TValue="string" Messages='new List<string>{"推荐Code方式，格式参考示例：resource.method"}'>
                                </DefaultTextField>
                            </MCol>
                            <MCol Md=6>
                                <DefaultTextField TValue="string"></DefaultTextField>
                            </MCol>
                            <MCol Md=6>
                                <DefaultTextField TValue="string"></DefaultTextField>
                            </MCol>
                            <MCol Md=6>
                                <DefaultTextField TValue="string">
                                    <PrependContent>
                                        <div class="d-flex align-center mt-n1">
                                            <MIcon Size=30>
                                                mdi-image
                                            </MIcon>
                                        </div>
                                    </PrependContent>
                                </DefaultTextField>
                            </MCol>
                            <MCol Md=6>
                                <DefaultTextField TValue="string"></DefaultTextField>
                            </MCol>
                            <MCol Md=12>
                                <DefaultTextField TValue="string"></DefaultTextField>
                            </MCol>
                            <MCol Md=12>
                                <MTextarea class="mt-6" Label="@T("Description")" Outlined Height="120" NoResize>
                                </MTextarea>
                            </MCol>
                        </MRow>
                    </MCardText>
                    <MCardActions>

                    </MCardActions>
                </MCard>
            </MWindowItem>
        </MWindow>
    </MCol>
</MRow>

<SheetDialog @bind-Value=_isShow>

</SheetDialog>