@inherits AdminCompontentBase

<DefaultSheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("Add ApiResource")">
    <MForm Model=ApiResource EnableValidation @ref="Form">
        <AutoHeight Overflow>
            <AutoHeightContent>
                <div class="font-14-bold">@T("Basic Information")</div>
                <MRow Class="mt-4">
                    <MCol>
                        <DefaultTextField @bind-Value="ApiResource.DisplayName" Label="@T("DisplayName")" />
                    </MCol>
                    <MCol>
                        <DefaultTextField @bind-Value="ApiResource.Name" Label="@T("ApiResource.Name")" />
                    </MCol>
                </MRow>
                <MRow Class="mt-1">
                    <MCol>
                        <DefaultTextField @bind-Value="ApiResource.Description" Label="@T("Description")" />
                    </MCol>
                </MRow>
                <MRow Class="mt-1">
                    <MCol Class="d-flex">
                        <MCheckbox @bind-Value="ApiResource.ShowInDiscoveryDocument" Class="pt-0 mt-0" Label="@T(nameof(ApiResource.ShowInDiscoveryDocument))"></MCheckbox>
                    </MCol>
                </MRow>
                <div class="d-flex mt-6">
                    <div class="pr-6" style="width:50%">
                        <div class="font-14-bold">@T("User Claims")</div>
                        <UserClaimSelect @bind-Value=ApiResource.UserClaims Chunk="3" Class="mt-4" />
                    </div>
                    <div class="pl-6" style="width:50%">
                        <div class="font-14-bold">@T("Api Scopes")</div>
                        <ApiScopeSelect @bind-Value=ApiResource.ApiScopes Chunk="3" Class="mt-4" />
                    </div>
                </div>
            </AutoHeightContent>
            <FooterContent>
                <div class="d-flex mt-6">
                    <EnableSwitch @bind-Value="ApiResource.Enabled" />
                    <MSpacer></MSpacer>
                    <DefaultButton Medium OnClick="async () => await AddApiResourceAsync(context)">@T("Submit")</DefaultButton>
                </div>
            </FooterContent>
        </AutoHeight>
    </MForm>
</DefaultSheetDialog>