@page "/sso/apiResource"
@inherits AdminCompontentBase

<DefaultCard>
    <AutoHeight>
        <HeaderContent>
            <div class="d-flex mb-6">
                <SearchTextField @bind-Value="Search" />
                <MSpacer />
                <DefaultButton Small OnClick="() => OpenAddApiResourceDialog()">
                    <MIcon Size=18>@IconConstants.Add</MIcon>
                    <span class="ml-2 btn">@T("Add")</span>
                </DefaultButton>
            </div>
        </HeaderContent>
        <AutoHeightContent>
            <DefaultDataTable Headers="Headers" Items="ApiResources" TItem="ApiResourceDto" ItemsPerPage="PageSize">
                <HeaderColContent Context="header">
                    <span class="body2 default2--text">@header.Text</span>
                </HeaderColContent>
                <ItemColContent>
                    @switch (context.Header.Value)
                    {
                        case nameof(ApiResourceDto.Name):
                            <div class="hover-pointer" @onclick="()=> OpenUpdateApiResourceDialog(context.Item)">
                                <span class="subtitle emphasis2--text">@context.Item.Name</span>
                            </div>
                            break;
                        case (nameof(ApiResourceDto.DisplayName)):
                            <span class="body regular--text">@context.Item.DisplayName</span>
                            break;
                        case (nameof(ApiResourceDto.Description)):
                            <span class="body regular--text">@context.Item.Description</span>
                            break;
                        case nameof(ApiResourceDto.Enabled):
                            <EnableChip Value="@context.Item.Enabled" />
                            break;
                        case "Action":
                            <MIcon Small Color="regular" OnClick="()=> OpenUpdateApiResourceDialog(context.Item)">@IconConstants.Update</MIcon>
                            <MIcon Small Color="regular" Class="ml-7" OnClick="()=> OpenRemoveApiResourceDialog(context.Item)">@IconConstants.Remove</MIcon>
                            break;
                        default:
                            <span class="subtitle">@context.Value</span>
                            break;
                    }
                </ItemColContent>
            </DefaultDataTable>
        </AutoHeightContent>
        <FooterContent>
            <Pagination Class="mt-5" @bind-Page="Page" @bind-PageSize=PageSize Total=Total />
        </FooterContent>
    </AutoHeight>
</DefaultCard>

<AddApiResourceDialog @bind-Visible="AddApiResourceDialogVisible" OnSubmitSuccess=GetApiResourcesAsync />
<UpdateApiResourceDialog @bind-Visible="UpdateApiResourceDialogVisible" ApiResourceId="CurrentApiResourceId" OnSubmitSuccess=GetApiResourcesAsync />