@page "/sso/apiResource"
@inherits AdminCompontentBase

<PageTitle>
    @T("ApiResource")
</PageTitle>

<DefaultCard>
    <AutoHeight>
        <HeaderContent>
            <div class="d-flex mb-6">
                <SearchTextField @bind-Value="Search" />
                <MSpacer />
                <SButton Small OnClick="() => OpenAddApiResourceDialog()">
                    <MIcon Size=18>@IconConstants.Add</MIcon>
                    <span class="ml-2 btn">@T("Add")</span>
                </SButton>
            </div>
        </HeaderContent>
        <AutoHeightContent>
            <SDataTable Headers="GetHeaders()" Items="ApiResources" TItem="ApiResourceDto" ItemsPerPage="PageSize">
                <HeaderColContent Context="header">
                    <span>@header.Text</span>
                </HeaderColContent>
                <ItemColContent>
                    @switch (context.Header.Value)
                    {
                        case nameof(ApiResourceDto.Name):
                            <div class="hover-pointer" @onclick="()=> OpenUpdateApiResourceDialog(context.Item)">
                                <span>@context.Item.Name</span>
                            </div>
                            break;
                        case (nameof(ApiResourceDto.DisplayName)):
                            <span>@context.Item.DisplayName</span>
                            break;
                        case (nameof(ApiResourceDto.Description)):
                            <span>@context.Item.Description</span>
                            break;
                        case nameof(ApiResourceDto.Enabled):
                            <EnableChip Value="@context.Item.Enabled" />
                            break;
                        case "Action":
                            <MIcon Size="20" OnClick="()=> OpenUpdateApiResourceDialog(context.Item)">@IconConstants.Update</MIcon>
                            <MIcon Size="20" Class="ml-6" OnClick="()=> OpenRemoveApiResourceDialog(context.Item)">@IconConstants.Remove</MIcon>
                            break;
                        default:
                            <span>@context.Value</span>
                            break;
                    }
                </ItemColContent>
            </SDataTable>
        </AutoHeightContent>
        <FooterContent>
            <SPagination Class="mt-5" @bind-Page="Page" @bind-PageSize=PageSize Total=Total />
        </FooterContent>
    </AutoHeight>
</DefaultCard>

<AddApiResourceDialog @bind-Visible="AddApiResourceDialogVisible" OnSubmitSuccess=GetApiResourcesAsync />
<UpdateApiResourceDialog @bind-Visible="UpdateApiResourceDialogVisible" ApiResourceId="CurrentApiResourceId" OnSubmitSuccess=GetApiResourcesAsync />