@inherits AdminCompontentBase

<SheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("Update ApiResource")">
    <MForm Model=ApiResource EnableValidation @ref="Form">
        <div class="sheetDialogPadding full-height flex-column">
            <div class="mt-6 flex-height-auto overflow-y">
                <div class="text-subtitle2">@T("Basic Information")</div>
                <MRow Class="mt-4">
                    <MCol>
                        <DefaultTextField @bind-Value="ApiResource.DisplayName" Label="@T("DisplayName")" />
                    </MCol>
                    <MCol>
                        <DefaultTextField @bind-Value="ApiResource.Name" Label="@T("ApiResource.Name")" />
                    </MCol>
                </MRow>
                <MRow Class="mt-1">
                    <MCol>
                        <DefaultTextField @bind-Value="ApiResource.Description" Label="@T("Description")" />
                    </MCol>
                </MRow>
                <MRow Class="mt-1">
                    <MCol Class="d-flex">
                        <MCheckbox @bind-Value="ApiResource.ShowInDiscoveryDocument" Class="pt-0 mt-0" Label="@T(nameof(ApiResource.ShowInDiscoveryDocument))"></MCheckbox>
                    </MCol>
                </MRow>
                <div class="d-flex mt-6" style="position: relative;height: 67%;">
                    <div class="pr-6" style="width:50%">
                        <div class="text-subtitle2">@T("User Claims")</div>
                        <UserClaimSelect @bind-Value=ApiResource.UserClaims Class="mt-4" />
                    </div>
                    <div class="pl-6" style="width:50%">
                        <div class="text-subtitle2">@T("Api Scopes")</div>
                        <ApiScopeSelect @bind-Value=ApiResource.ApiScopes Class="mt-4" />
                    </div>
                </div>
            </div>
            <div class="d-flex mt-6">
                <MSwitch @bind-Value="ApiResource.Enabled" Inset Class="label" Label="@(ApiResource.Enabled ? T("Enable"):T("Disabled"))" />
                <MSpacer></MSpacer>
                <MButton OnClick="async () => await UpdatetApiResourceAsync(context)" Color="primary" Class="small-butto">@T("Submit")</MButton>
            </div>
        </div>
    </MForm>
</SheetDialog>