@inherits AdminCompontentBase

<DefaultSheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("Update ApiResource")">
    <MForm Model=ApiResource EnableValidation EnableI18n>
        <AutoHeight>
        <AutoHeightContent>
            <div class="subtitle2">@T("Basic Information")</div>
                <MRow Class="mt-4">
                    <MCol>
                        <STextField @bind-Value="ApiResource.DisplayName" Required Label="@T("DisplayName")" />
                    </MCol>
                    <MCol>
                        <STextField Disabled Value="ApiResource.Name" Required Label="@T("ApiResource.Name")" />
                    </MCol>
                </MRow>
                <MRow Class="mt-1">
                    <MCol>
                        <STextField @bind-Value="ApiResource.Description" Label="@T("Description")" />
                    </MCol>
                </MRow>
                <MRow Class="mt-1">
                    <MCol Class="d-flex">
                        <MCheckbox @bind-Value="ApiResource.ShowInDiscoveryDocument" Class="pt-0 mt-0" Label="@T(nameof(ApiResource.ShowInDiscoveryDocument))"></MCheckbox>
                    </MCol>
                </MRow>
                <div class="d-flex mt-6" style="position: relative;height: 67%;">
                    <div class="pr-6" style="width:50%">
                        <div class="subtitle2">@T("User Claims")</div>
                        <UserClaimSelect @bind-Value=ApiResource.UserClaims Chunk="3" Class="mt-4" />
                    </div>
                    <div class="pl-6" style="width:50%">
                        <div class="subtitle2">@T("Api Scopes")</div>
                        <ApiScopeSelect @bind-Value=ApiResource.ApiScopes Chunk="3" Class="mt-4" />
                    </div>
                </div>
        </AutoHeightContent>
        <FooterContent>
            <div class="d-flex mt-6">
                <EnableSwitch @bind-Value="ApiResource.Enabled" />
                <MSpacer></MSpacer>
                <SButton Medium OnClick="async () => await UpdatetApiResourceAsync(context)">@T("Save")</SButton>
            </div>
        </FooterContent>
    </AutoHeight>      
    </MForm>
</DefaultSheetDialog>