@inherits AdminCompontentBase

<SSelect Value="Value"
               ValueChanged="ValueChanged"
               Items="ExternalThirdPartyIdps"
               Label="@T("Type")"
               ItemText="e => e.DisplayName"
               ItemValue="e => e.Scheme"
               Style="@($"{Style}")"
               Class="@($"{Class}")">
    <ItemContent Context="data">
        <div class="d-flex" style="height:48px;">
            <MAvatar Size="30" >
                <img src="@data.Item.Icon" />
            </MAvatar>
            <div class="my-auto">
                <span class="body2 emphasis2--text ml-2">@data.Item.DisplayName</span> 
            </div>                      
        </div>
    </ItemContent>
</SSelect>
