@inherits AdminCompontentBase

<DefaultTitle>@T("History record")</DefaultTitle>
<div class="d-flex mt-7">
    <div class="mr-n7 body2 regular3--text" style="text-align: right;margin-top: -2px;">
        <div>@T("Create")</div>
        <div style="margin-top: 46px;">@T("Update")</div>
    </div>
    <div>
         <MTimeline Dense>
        <MTimelineItem Color="sample-green" Small Style="height:1px;">
            <IconContent>
                <MAvatar Size=15>
                    <img src="/_content/Masa.Auth.Web.Admin.Rcl/img/subject/timeLineIcon.svg" />
                </MAvatar>
            </IconContent>
            <ChildContent>
                <div class="mt-n3 ml-n7">
                    <div class="body2 regular--text" style="min-height:11px;">@Creator</div>
                    <SDateTimeTitle Class="body2 regular3--text" Value="CreationTime" DateTime />                    
                </div>
            </ChildContent>
        </MTimelineItem>
        @if (ModificationTime is not null)
        {
            <MTimelineItem Color="sample-green" Small Class="mt-16" Style="height:1px;">
                <IconContent>
                    <MAvatar Size=15>
                        <img src="/_content/Masa.Auth.Web.Admin.Rcl/img/subject/timeLineIcon.svg" />
                    </MAvatar>
                </IconContent>
                <ChildContent>
                    <div class="mt-n3 ml-n7">
                        <div class="body2 regular--text" style="min-height:11px;">@Modifier</div>
                        <SDateTimeTitle Class="body2 regular3--text" Value="ModificationTime" DateTime />   
                    </div>
                </ChildContent>
            </MTimelineItem>
        }
    </MTimeline>
    </div>  
</div>
