@using Masa.Stack.Components.Logins
@namespace Masa.Stack.Components
@inherits MasaComponentBase

<SDefaultSheet Class="px-12 pb-12" Style="position: relative">
    <div style="height: 60px;" class="d-flex align-center mb-12">
        <MButton Icon Class="ml-n1" Color="emphasis" OnClick="HandleOnClick">
            <MIcon>mdi-keyboard-backspace</MIcon>
        </MButton>
    </div>

    <div class="d-flex flex-column justify-space-between" style="height: calc(100% - 108px)">
        <div>
            <div class="mb-12">
                <div class="h5 regular--text">@T("UpdatePassword")</div>
                <div class="h7 regular3--text">@T("Account"): @Account</div>
            </div>

            <MForm Model="this" EnableValidation
                   @ref="@_form">
                <STextField @bind-Value="NewPassword"
                                  Class="mb-6"
                                  Type="password"
                                  Label="@T("NewPassword")"
                                  HideDetails="false">
                </STextField>

                <STextField @bind-Value="ConfirmNewPassword"
                                  Type="password"
                                  Label="@T("ConfirmNewPassword")"
                                  Placeholder="@T("PlaceholderForConfirmNewPassword")"
                                  HideDetails="false">
                </STextField>
            </MForm>
        </div>
        <SButton Class="align-self-center" Large Type="submit"
                       OnClick="HandleOnValidSubmit">
            @T("Ok")
        </SButton>
    </div>

</SDefaultSheet>
