@inherits AdminCompontentBase
@typeparam TValue

@if (StyleType == StyleTypes.Toggle)
{
    <MButtonGroup Class="@Class" Value="Value.ToString()" Rounded>
        @foreach (var (key, value) in KeyValues)
        {
            <MButton OnClick="async() => await ValueChanged.InvokeAsync(value)" Width=100 Value="@value.ToString()" Class="@(Value.Equals(value) ? "button-group-active":"button-group")">
                <MIcon Size=18>fa fa-regular fa-mars</MIcon>
                <span class="ml-1">@T(key)</span>
            </MButton>
        }
    </MButtonGroup>
}
else
{
    <LabeledRadioGroup Value="Value.ToString()" Dense>
        @foreach (var (key, value) in KeyValues)
        {
            <LabeledRadio MinWidth=70 Value="@value.ToString()" OnClick="async() => await ValueChanged.InvokeAsync(value)">
                @T(key)
            </LabeledRadio>
        }
    </LabeledRadioGroup>
}
