@inherits AdminCompontentBase

<MAutocomplete Value="Value"
               ValueChanged="ValueChanged"
               Items="Clients"
               Color="primary"
               Label="@T("Client")"
               ItemText="client => client.ClientName"
               ItemValue="client => client.Id"
               Outlined
               Disabled=Disabled
               HideDetails="@("auto")"
               Style="@($"{Style}")"
               Class="@($"{Class}")">
    <ItemContent Context="data">
        <div class="d-flex" style="height:48px;">
            <MAvatar Size=30 Class="ma-auto">
                <img src="@data.Item.LogoUri" />
            </MAvatar>
            <div class="my-auto">
                <span class="text-btn neutral-lighten-1--text ml-2">@data.Item.ClientName</span> 
            </div>                      
        </div>
    </ItemContent>
</MAutocomplete>