@inherits AdminCompontentBase

<div class="d-flex px-6 @Class" style="border: 1px solid #E2E7F4;box-sizing: border-box;border-radius: 8px;height: 48px;min-width: 285.6px;">
    <div class="ma-auto d-flex" style="height:24px;min-width:245px;">
        <MIcon Size=24 Color="emphasis2">mdi-calendar-month</MIcon>        
        <MMenu @bind-Value="StartTimeVisible" CloseOnContentClick="false" OffsetY Transition="scale-transition">
            <ActivatorContent>
                <div class="ml-5 body2 my-auto hover-pointer" style="min-width:80px;height:20px;" @attributes="@context.Attrs">
                    @(StartTime?.ToString(T("$DateFormat")))
                </div>
            </ActivatorContent>
            <ChildContent>
                <MDatePicker Value=StartTime Max=EndTime ValueChanged=UpdateStartTimeAsync TValue="DateOnly?" OnInput="()=> StartTimeVisible = false"></MDatePicker>
            </ChildContent>
        </MMenu>      
        <div class="ml-4" style="width: 0px;height:24px;border: 1px solid #E2E7F4;"></div>
        <MMenu @bind-Value="EndTimeVisible" CloseOnContentClick="false" OffsetY Transition="scale-transition">
            <ActivatorContent>
                <div class="ml-5 body2 my-auto hover-pointer" style="min-width:80px;height:20px;" @attributes="@context.Attrs">
                    @(EndTime?.ToString(T("$DateFormat")))
                </div>
            </ActivatorContent>
            <ChildContent>
                <MDatePicker Value=EndTime Min=StartTime ValueChanged=UpdateEndTimeAsync TValue="DateOnly?" OnInput="()=> EndTimeVisible = false"></MDatePicker>
            </ChildContent>
        </MMenu>
    </div>
</div>