@inherits AdminCompontentBase

<div class="mt-5 d-flex">
    <div class="d-flex" style="height: 30px !important;">
        <MSelect Value=PageSize
                 ValueChanged=PageSizeChanged
                 Color="primary"
                 Style="max-width:120px;"
                 Dense                
                 Outlined
                 Items="@PageSizeSelect"
                 ItemText="p => p.ToString()"
                 ItemValue="p => p"
                 HideDetails="@("auto")"
                 Class="rounded-2 small">
        </MSelect>
        <div class="ml-2 mt-1 block-center font-12-medium">@T("Rows per page")</div>
        <div class="ml-2 mt-1 block-center font-12-medium">
            <span>@T("Total") @Total @T("Item")</span>
        </div>
    </div>
    <div class="@Class ml-auto">
        <span @onclick=Previous>
            <MIcon Class="hover-pointer" Disabled=PreviousDisabled Size=24>mdi-chevron-left</MIcon>
        </span>
        <span class="ma-5 font-12">@Page/@TotalPage</span>
        <span @onclick=Next>
            <MIcon Class="hover-pointer" Disabled=NextDisabled Size=24>mdi-chevron-right</MIcon>
        </span>
    </div>
</div>

@code {
    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public int Page { get; set; }

    [Parameter]
    public EventCallback<int> PageChanged { get; set; }

    [Parameter]
    public int PageSize { get; set; }

    [Parameter]
    public EventCallback<int> PageSizeChanged { get; set; }

    [Parameter]
    public long Total { get; set; }

    [Parameter]
    public List<int> PageSizeSelect { get; set; } = new() { 10, 20, 50, 100 };

    private int TotalPage
    {
        get
        {
            var totalPage = (int)((Total + PageSize - 1) / PageSize);
            return totalPage == 0 ? 1 : totalPage;
        }
    }

    bool NextDisabled => Page == TotalPage;

    bool PreviousDisabled => Page == 1;

    async Task Next()
    {
        if (NextDisabled is false)
        {
            await PageChanged.InvokeAsync(++Page);
        }
    }

    async Task Previous()
    {
        if (PreviousDisabled is false)
        {
            await PageChanged.InvokeAsync(--Page);
        }
    }
}
