@inherits AdminCompontentBase

<div class="@Class" style="@Style">
    <MChip Color="@($"{Color}-lighten-5")" TextColor="@Color" Ripple="false">
        <span>@T(Value?"Enabled":"Disabled")</span>
    </MChip>
</div>