@inherits AdminCompontentBase

<div class="mt-6 text-subtitle2">@T("History record")</div>
<div class="mt-7 d-flex">
    <div class="mr-n7 text-btn neutral-lighten-4--text" style="text-align: right;margin-top: -2px;">
        <div>@T("Create")</div>
        <div style="margin-top: 46px;">@T("Update")</div>
    </div>
    <div>
         <MTimeline Dense>
        <MTimelineItem Color="sample-green" Small Style="height:1px;">
            <IconContent>
                <MAvatar Size=15>
                    <img src="/_content/Masa.Auth.Web.Admin.Rcl/img/subject/timeLineIcon.svg" />
                </MAvatar>
            </IconContent>
            <ChildContent>
                <div class="mt-n3 ml-n7">
                    <div class="text-btn neutral-lighten-2--text" style="min-height:11px;">@Creator</div>
                    <div class="text-btn neutral-lighten-4--text">@CreationTime.ToString(T("$DateTimeFormat"))</div>
                </div>
            </ChildContent>
        </MTimelineItem>
        @if (ModificationTime is not null)
        {
            <MTimelineItem Color="sample-green" Small Class="mt-16" Style="height:1px;">
                <IconContent>
                    <MAvatar Size=15>
                        <img src="/_content/Masa.Auth.Web.Admin.Rcl/img/subject/timeLineIcon.svg" />
                    </MAvatar>
                </IconContent>
                <ChildContent>
                    <div class="mt-n3 ml-n7">
                        <div class="text-btn neutral-lighten-2--text" style="min-height:11px;">@Modifier</div>
                        <div class="text-btn neutral-lighten-4--text">@ModificationTime?.ToString(T("$DateTimeFormat"))</div>
                    </div>
                </ChildContent>
            </MTimelineItem>
        }
    </MTimeline>
    </div>  
</div>
