@page "/operationLog"
@inherits AdminCompontentBase

<PageTitle>
    @T("OperationLog")
</PageTitle>
<div style="height: calc(100vh - 250px);@(OperationLogs.Count<=2?"min-height: calc(100vh - 120px);":"")">
    <AutoHeight AutoClass="mt-6 m-sheet theme--light m-card pa-6 full-height pr-0">
        <HeaderContent>
            <div class="d-flex">
                <SDateTimeRangePicker @bind-StartTime=StartTime @bind-EndTime=EndTime />
                <SRelativeTime @bind-StartTime=StartTime @bind-EndTime=EndTime Class="ml-6" />
                <MSpacer />
                <EnumAutocomplete @bind-Value="OperationType" TValue="OperationTypes" Label="@T("OperationType")" FillBackground=false Class="ml-6" Style="width: 100px !important;" />               
                <SUserAutoComplete @bind-Value="UserId" Label="@T("Operator")" FillBackground=false Class="ml-6" Style="width: 134px !important;" />
                <SearchTextField @bind-Value="Search" Placeholder="@T("Please enter operation description")" Clearable FillBackground=false Class="ml-6" Style="width: 134px !important;" />
            </div>        
        </HeaderContent>
        <AutoHeightContent>
            <MVirtualScroll OverscanCount=5 TItem="OperationLogDto" Items="OperationLogs">
                <ItemContent>              
                    <div class="d-flex mb-6" style="height:36px;">
                        <div class="mr-1 h5 regular--text">@context.OperationTime.ToString("MM-dd")</div>
                        <div class="mt-auto body regular3--text">@context.OperationTime.ToString("HH:mm:ss")</div>
                    </div>
                    <div>
                        @foreach (var (key, value) in new List<(string, string)>
                        {
                            (T(nameof(OperationLogDto.Operator)),context.OperatorName),
                            (T(nameof(OperationLogDto.OperationType)),@T(context.OperationType.ToString())),
                            (T(nameof(OperationLogDto.OperationDescription)),@context.OperationDescription)
                        })
                        {
                            <div class="d-flex mb-6">
                                <div class="mr-6" style="max-width:185px;width:185px;">
                                    <div class="body emphasis--text fill-background py-1 px-4" style="height:32px;">
                                        @key
                                    </div>
                                </div>
                                <div class="d-flex body regular--text">
                                    <div class="my-auto">：@value</div>
                                </div>
                            </div>
                        }
                    </div>
                    <MDivider Class="mb-6" />
                </ItemContent>
            </MVirtualScroll>           
        </AutoHeightContent>
        <FooterContent>
            <SPagination Class="mt-6" @bind-Page="Page" @bind-PageSize=PageSize Total=Total />
        </FooterContent>
    </AutoHeight>
</div>
