@inherits AdminCompontentBase

<SheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("Add IdentityResource")">
    <MForm Model=IdentityResource EnableValidation @ref="Form">
        <div class="sheetDialogPadding full-height flex-column">
            <div class="flex-height-auto overflow-y mt-6">
                <div class="text-subtitle2">@T("Basic Information")</div>
                <MRow Class="mt-4">
                    <MCol>
                        <DefaultTextField @bind-Value="IdentityResource.DisplayName" Label="@T("DisplayName")" />
                    </MCol>
                    <MCol>
                        <DefaultTextField @bind-Value="IdentityResource.Name" Label="@T("IdentityResource.Name")" />
                    </MCol>
                </MRow>
                <MRow Class="mt-1">
                    <MCol>
                        <DefaultTextField @bind-Value="IdentityResource.Description" Label="@T("Description")" />
                    </MCol>
                </MRow>
                <MRow Class="mt-1">
                    <MCol Class="d-flex">
                        <MCheckbox @bind-Value="IdentityResource.Required" Class="pt-0 mt-0" Label="@T(nameof(IdentityResource.Required))"></MCheckbox>
                        <MCheckbox @bind-Value="IdentityResource.Emphasize" Class="ml-12 pt-0 mt-0" Label="@T(nameof(IdentityResource.Emphasize))"></MCheckbox>
                        <MCheckbox @bind-Value="IdentityResource.ShowInDiscoveryDocument" Class="ml-12 pt-0 mt-0" Label="@T(nameof(IdentityResource.ShowInDiscoveryDocument))"></MCheckbox>
                    </MCol>
                </MRow>
                <div class="mt-6 text-subtitle2">@T("User Claims")</div>
                <UserClaimSelect @bind-Value=IdentityResource.UserClaims Class="mt-4" Style="height:65%!important" />
            </div>
            <div class="d-flex mt-6">
                <MSwitch @bind-Value="IdentityResource.Enabled" Inset Class="label" Label="@(IdentityResource.Enabled ? T("Enable"):T("Disabled"))" />
                <MSpacer></MSpacer>
                <MButton OnClick="async () => await AddIdentityResourceAsync(context)" Color="primary" Class="small-button ml-6">@T("Submit")</MButton>
            </div>
        </div>
    </MForm>
</SheetDialog>