@inherits AdminCompontentBase

<DefaultSheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("Add IdentityResource")">
    <MForm Model=IdentityResource EnableValidation EnableI18n>
        <AutoHeight Overflow>
            <AutoHeightContent>
                <DefaultTitle Class="mb-4">@T("Basic Information")</DefaultTitle>
                <MRow Class="mb-6">
                    <MCol>
                        <STextField @bind-Value="IdentityResource.DisplayName" Label="@T("DisplayName")" />
                    </MCol>
                    <MCol>
                        <STextField @bind-Value="IdentityResource.Name" Label="@T("Name")" />
                    </MCol>
                </MRow>
                <MRow Class="mb-7">
                    <MCol>
                        <STextField @bind-Value="IdentityResource.Description" Label="@T("Description")" />
                    </MCol>
                </MRow>
                <div class="d-flex mb-10">
                    <MCheckbox @bind-Value="IdentityResource.Required" Class="pt-0 mt-0" Label="@T(nameof(IdentityResource.Required))" HideDetails="@("auto")" />
                    <MCheckbox @bind-Value="IdentityResource.Emphasize" Class="ml-12 pt-0 mt-0" Label="@T(nameof(IdentityResource.Emphasize))" HideDetails="@("auto")" />
                    <MCheckbox @bind-Value="IdentityResource.ShowInDiscoveryDocument" Class="ml-12 pt-0 mt-0" Label="@T(nameof(IdentityResource.ShowInDiscoveryDocument))" HideDetails="@("auto")" />
                </div>
                <DefaultTitle Class="mb-2">@T("User Claims")</DefaultTitle>
                <UserClaimSelect @bind-Value=IdentityResource.UserClaims />
            </AutoHeightContent>
            <FooterContent>
                <div class="d-flex mt-6">
                    <EnableSwitch @bind-Value="IdentityResource.Enabled" />
                    <MSpacer></MSpacer>
                    <SButton Medium OnClick="async () => await AddIdentityResourceAsync(context)">@T("Submit")</SButton>
                </div>
            </FooterContent>
        </AutoHeight>       
    </MForm>
</DefaultSheetDialog>