@page "/sso/identityResource"
@inherits AdminCompontentBase

<DefaultCard>
    <AutoHeight>
        <HeaderContent>
            <div class="d-flex mb-6">
                <SearchTextField @bind-Value="Search" />
                <MSpacer />
                <DefaultButton Small OnClick="() => AddStandardIdentityResourcesAsync()">
                    <MIcon Size=18>mdi-cog-outline</MIcon>
                    <span class="ml-2">@T("Create standard identityResource")</span>
                </DefaultButton>
                <DefaultButton Small Class="ml-6" OnClick="() =>  OpenAddRoleDialog()">
                    <MIcon Size=18>@IconConstants.Add</MIcon>
                    <span class="ml-2">@T("Add")</span>
                </DefaultButton>
            </div>
        </HeaderContent>
        <AutoHeightContent>
            <DefaultDataTable Headers="Headers" Items="IdentityResources" TItem="IdentityResourceDto" ItemsPerPage="PageSize">
                <HeaderColContent Context="header">
                    <span class="body2">@header.Text</span>
                </HeaderColContent>
                <ItemColContent>
                    @switch (context.Header.Value)
                    {
                        case nameof(IdentityResourceDto.Name):
                            <div class="hover-pointer" @onclick="()=> OpenUpdateRoleDialog(context.Item)">
                                <span class="subtitle default--text">@context.Item.Name</span>
                            </div>
                            break;
                        case (nameof(IdentityResourceDto.DisplayName)):
                            <span class="font-16 regular--text">@context.Item.DisplayName</span>
                            break;
                        case nameof(IdentityResourceDto.Required):
                            <span class="font-16 regular--text">@(context.Item.Required ? T("Yes") : T("No"))</span>
                            break;
                        case (nameof(IdentityResourceDto.Description)):
                            <span class="font-16 regular--text">@context.Item.Description</span>
                            break;
                        case nameof(IdentityResourceDto.Enabled):
                            <EnableChip Value="@context.Item.Enabled" />
                            break;
                        case "Action":
                            <MIcon Small Color="regular" OnClick="()=> OpenUpdateRoleDialog(context.Item)">mdi-pencil</MIcon>
                            <MIcon Small Color="regular" Class="ml-7" OnClick="()=> OpenRemoveIdentityResourceDialog(context.Item)">mdi-delete</MIcon>
                            break;
                        default:
                            <span class="subtitle">@context.Value</span>
                            break;
                    }
                </ItemColContent>
            </DefaultDataTable>
        </AutoHeightContent>
        <FooterContent>
            <Pagination Class="mt-5" @bind-Page="Page" @bind-PageSize=PageSize Total=Total />
        </FooterContent>
    </AutoHeight>
</DefaultCard>

<AddIdentityResourceDialog @bind-Visible="AddIdentityResourceDialogVisible" OnSubmitSuccess=GetIdentityResourcesAsync />
<UpdateIdentityResourceDialog @bind-Visible="UpdateIdentityResourceDialogVisible" IdentityResourceId=CurrentIdentityResourceId OnSubmitSuccess=GetIdentityResourcesAsync />
