@inherits AdminCompontentBase

<SheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("Update IdentityResource")">
    <MForm Model=IdentityResource EnableValidation @ref="Form">
        <div class="full-height flex-column">
            <div class="mt-6 flex-height-auto overflow-y">
                <div class="text-subtitle2">@T("Basic Information")</div>
                <MRow Class="mt-4">
                    <MCol>
                        <MTextField @bind-Value="IdentityResource.DisplayName" Label="@T("DisplayName")" HideDetails="@("auto")" Outlined />
                    </MCol>
                    <MCol>
                        <MTextField @bind-Value="IdentityResourceDetail.Name" Readonly Label="@T("IdentityResource.Name")" HideDetails="@("auto")" Outlined />
                    </MCol>
                </MRow>
                <MRow Class="mt-1">
                    <MCol>
                        <MTextField @bind-Value="IdentityResource.Description" Label="@T("Description")" HideDetails="@("auto")" Outlined />
                    </MCol>
                </MRow>
                <MRow Class="mt-1">
                    <MCol>
                         <MSwitch @bind-Value="IdentityResource.Required" Flat Label="@("Whether must:"+ (IdentityResource.Required ? T("True"):T("false")))"></MSwitch>
                    </MCol>
                </MRow>
                <div class="mt-6 text-subtitle2">@T("User Claims")</div>
                <UserClaimSelect @bind-Value=IdentityResource.UserClaims Class="mt-4" />
            </div>
            <div class="d-flex mt-6">
                <MSwitch @bind-Value="IdentityResource.Enabled" Inset Class="label" Label="@(IdentityResource.Enabled ? T("Enable"):T("Disabled"))" />
                <MSpacer></MSpacer>
                <MButton OnClick="async () => await UpdatetIdentityResourceAsync(context)" Color="primary" Class="small-button ml-6" Text>@T("Submit")</MButton>
            </div>
        </div>
    </MForm>
</SheetDialog>