@inherits AdminCompontentBase

<MCardText Class="py-0 full-height">
    <PlaceholderTextFiled Style="width:404px;" OnInput="OnNameChanged" Value="@Value.Name" Placeholder="@T("Team Name")" />
    <MListItem class="mt-12 px-0 remover-ripple remover-hover" Ripple=false>
        <MListItemAvatar Color="@Value.Avatar.Color" Height=80 Width=80>
            <span class="white--text" style="font-size:48px;">@Value.Avatar.Name?.FirstOrDefault()</span>
        </MListItemAvatar>
        <MListItemContent class="py-0">
            <MListItemTitle>
                <DefaultTextField @bind-Value="@Value.Avatar.Name" Placeholder="Michael Harmen"></DefaultTextField>
            </MListItemTitle>
            <MListItemSubtitle class="mt-2">
                <ColorGroup @bind-Value="@Value.Avatar.Color" Colors='_colors' />
            </MListItemSubtitle>
        </MListItemContent>
    </MListItem>
    <MSelect class="mt-12" @bind-Value="@Value.Type" Dense
             Label="@T("Team Type")"
             Outlined HideDetails="true"
             Items="@_teamTypes"
             ItemText="u => u.Name"
             ItemValue="u => u.Id">
    </MSelect>
    <MTextarea class="mt-12" Label="@T("Description")" HideDetails="true" @bind-Value="@Value.Description" Outlined Height="120" NoResize>
    </MTextarea>
</MCardText>
