@using System.Globalization
@inherits AdminCompontentBase

<MHover Context="hoverContext" Class="d-flex flex-column">
    <MCard MinHeight=Height @attributes="hoverContext.Attrs" Elevation="@(hoverContext.Hover ? 6 : 0)">
        <MCardTitle class="pb-1 px-0 pt-1">
            <MListItem>
                <MListItemAvatar Height=40 Width=40 MinHeight="40" MinWidth="40">
                    <MImage Src="@Team.Avatar"></MImage>
                </MListItemAvatar>
                <MListItemContent class="pb-0">
                    <MListItemTitle class="d-flex justify-space-between align-center">
                        <span class="body2 masa-text-3-1">@T("Member") : @Team.MemberCount </span>
                        <SIcon Tooltip="@T("Edit")" OnClick="HandleEditClick">@IconConstants.Update</SIcon>
                    </MListItemTitle>
                    <MListItemSubtitle class="h6 masa-text-1-2">@Team.Name</MListItemSubtitle>
                </MListItemContent>
            </MListItem>
        </MCardTitle>
        <MCardText class="flex-grow-1" style="text-align: justified;max-height:100px;">
            <span class="subtitle masa-text-2-1" style="display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;">
                @Team.Description
            </span>
        </MCardText>
        <MCardActions class="px-4">
            <div class="avatar-list-stacked">
                @foreach (var adminAvatar in Team.AdminAvatar)
                {
                    <MAvatar Size="24">
                        <MImage Width="24" Height="24" Src="@adminAvatar"></MImage>
                    </MAvatar>
                }
            </div>
            <MSpacer />
            <span class="body2 masa-text-1-2">@Team.Modifier</span>
            <span class="mx-2" style="color:#E2E7F4">|</span>
            <span class="body2 masa-text-3-1">@T("Edit In") @Team.ModificationTime.Humanize(culture:I18n.Culture)</span>
        </MCardActions>
    </MCard>
</MHover>

@code {
    [Parameter]
    public EventCallback OnEditClick { get; set; }

    [Parameter]
    public int Height { get; set; } = 230;

    [EditorRequired]
    [Parameter]
    public TeamDto Team { get; set; } = null!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public string? Style { get; set; }

    private async Task HandleEditClick()
    {
        if (OnEditClick.HasDelegate)
        {
            await OnEditClick.InvokeAsync();
        }
    }
}