@using System.Globalization
@inherits AdminCompontentBase

<MHover Context="hoverContext" Class="d-flex flex-column">
    <MCard Outlined MinHeight=Height @attributes="hoverContext.Attrs" Elevation="@(hoverContext.Hover ? 6 : 0)">
        <MCardTitle class="pb-1 px-0 pt-1">
            <MListItem>
                <MListItemAvatar Height=40 Width=40 MinHeight="40" MinWidth="40">
                    <MImage Src="https://cdn.masastack.com/stack/images/website/masa-blazor/lists/3.png"></MImage>
                </MListItemAvatar>
                <MListItemContent class="pb-0">
                    <MListItemTitle class="d-flex justify-space-between align-center">
                        <span class="font-14 default-secondary--text">@T("Member") : @Team.MemberCount </span>
                        <MIcon Size=20 OnClick="HandleEditClick">mdi-pencil</MIcon>
                    </MListItemTitle>
                    <MListItemSubtitle class="font-18-medium default-emphasis-secondary--text">@Team.Name</MListItemSubtitle>
                </MListItemContent>
            </MListItem>
        </MCardTitle>
        <MCardText class="flex-grow-1" style="text-align: justified;">
            <span class="text-body3"> @Team.Description</span>
        </MCardText>
        <MCardActions class="px-4 pb-4">
            <img src="https://cdn.masastack.com/stack/images/website/masa-blazor/lists/3.png" height=24 width=24 />
            <span class="font-14 ml-3">@Team.Creator</span>
            <MSpacer />
            <span class="font-14 default-secondary--text">@Team.Modifier @T("Edit In") @Team.ModificationTime.Humanize(culture:new CultureInfo(I18n.CurrentLanguage))</span>
        </MCardActions>
    </MCard>
</MHover>

@code {
    [Parameter]
    public EventCallback OnEditClick { get; set; }

    [Parameter]
    public int Height { get; set; } = 230;

    [EditorRequired]
    [Parameter]
    public TeamDto Team { get; set; } = null!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public string? Style { get; set; }

    private async Task HandleEditClick()
    {
        if (OnEditClick.HasDelegate)
        {
            await OnEditClick.InvokeAsync();
        }
    }
}