@inherits AdminCompontentBase
@page "/team/index"

<PageTitle>@T("Team")</PageTitle>

<MRow>
    <MCol Md="12" Class="d-flex justify-space-between">
        <OutlinedSearchTextField @bind-Value="_search" BackgroundColor="white" OnKeyDown="SearchKeyDown" PrependInnerIcon="@IconConstants.Search" />
        <PermissionView Code="@ElementPermissionCodes.TeamAdd">
            <SButton Small Class="ml-4" OnClick="_addSheet.Show">
                <MIcon Size=18>@IconConstants.Add</MIcon>
                <span class="ml-2 btn">@T("Create Team")</span>
            </SButton>
        </PermissionView>
    </MCol>
    @foreach (var team in _teams)
    {
        <MCol Md="4">
            <TeamCard Team=team OnEditClick="()=>EditTeamHandler(team.Id)" />
        </MCol>
    }
</MRow>

<AddSheet OnSubmit="OnCreate" @ref="_addSheet" />
<UpdateSheet @ref="_updateSheet" OnUpdateBase="OnUpdateBasicInfo" OnUpdateAdmin="OnUpdateAdminPersonnel"
             OnUpdateMember="OnUpdateMemberPersonnel" OnDelete="OnDelete" />