@inherits AdminCompontentBase
@page "/team/sheet"

<MCard Class="mx-auto" MaxWidth="1200">
    <MStepper Value="_step" Elevation=0>
        <MStepperHeader Style="box-shadow:none !important">
            <MStepperStep Step="1" Complete="_step>1">
                @T("Fill the basic team information")
            </MStepperStep>
            <MDivider></MDivider>
            <MStepperStep Step="2" Complete="_step>2">
                 @T("Setup team admins")
            </MStepperStep>
            <MDivider></MDivider>
            <MStepperStep Step="3">
                 @T("Setup team members")
            </MStepperStep>
        </MStepperHeader>

        <MStepperItems>
            <MStepperContent Style="padding-top:12px !important;" Step="1">
                <MCardText>
                    <MTextField class="mx-auto text-h5" style="width:220px;" HideDetails="@("auto")" Placeholder="@T("Team Name")" TValue="string"></MTextField>
                    <MListItem class="mt-12 px-0">
                        <MListItemAvatar Color="primary" Height=80 Width=80>
                            <span class="white--text" style="font-size:48px;">V</span>
                        </MListItemAvatar>
                        <MListItemContent class="py-0">
                            <MListItemTitle> 
                                <MTextField Class="" HideDetails="@("auto")" Dense Outlined Placeholder="icon" TValue="string"></MTextField>
                            </MListItemTitle>
                            <MListItemSubtitle class="mt-2">
                                <Masa.Auth.Web.Admin.Rcl.Shared.Presets.ColorGroup Colors='new List<string>{"purple","green","red"}' />
                            </MListItemSubtitle>
                        </MListItemContent>
                    </MListItem>
                    <MSelect class="mt-12" @bind-Value="@value3" Dense
                             Label="Outlined style"
                             Outlined
                             Items="@items"
                             ItemText="u => u.Label"
                             ItemValue="u => u.Value">
                    </MSelect>
                    <MTextarea class="mt-12" Label="@T("Description")" Outlined Height="120" NoResize>
                    </MTextarea>
                </MCardText>
                <MCardActions class="d-flex justify-end align-center mb-6">
                    <MButton class="rounded-pill primary" MinWidth="100" OnClick="()=>{ _step++; }">@T("Next step")</MButton>
                </MCardActions>
            </MStepperContent>
            <MStepperContent Style="padding-top:12px !important;" Step="2">
                <MCardText>
                    <MAutocomplete @bind-Value="_values"
                                   Items="_items"
                                   ItemText="r=>r"
                                   ItemValue="r=>r"
                                   Outlined
                                   Dense
                                   Chips
                                   SmallChips
                                   Label="Outlined"
                                   Multiple>
                        <SelectionContent Context="data">
                            <MChip Close Small OnCloseClick="()=>Remove(data.Item)">
                                @data.Item
                            </MChip>
                        </SelectionContent>
                    </MAutocomplete>
                </MCardText>
                <MCardActions class="d-flex justify-end align-center  mb-6">
                    <MButton class="rounded-pill primary" MinWidth="100" OnClick="()=>{ _step--; }">@T("Previous step")</MButton>
                    <MButton class="rounded-pill primary" MinWidth="100" OnClick="()=>{ _step++; }">@T("Next step")</MButton>
                </MCardActions>
            </MStepperContent>
            <MStepperContent Style="padding-top:12px !important;" Step="3">
                <MCardText>
                    <MAutocomplete @bind-Value="_values"
                                   Items="_items"
                                   ItemText="r=>r"
                                   ItemValue="r=>r"
                                   Outlined
                                   Dense
                                   Chips
                                   SmallChips
                                   Label="Outlined"
                                   Multiple>
                        <SelectionContent Context="data">
                            <MChip Close Small OnCloseClick="()=>Remove(data.Item)">
                                @data.Item
                            </MChip>
                        </SelectionContent>
                    </MAutocomplete>
                </MCardText>
                <MCardActions class="d-flex justify-end align-center  mb-6">
                    <MButton class="rounded-pill primary" MinWidth="100" OnClick="()=>{ _step--; }">@T("Previous step")</MButton>
                    <MButton class="rounded-pill primary" MinWidth="100">@T("Submit")</MButton>
                </MCardActions>
            </MStepperContent>
        </MStepperItems>
    </MStepper>

</MCard>

@code {
    int _step = 1;
    string value3 = "";
    public class Item
    {
        public string Label { get; set; }
        public string Value { get; set; }

        public Item(string label, string value)
        {
            Label = label;
            Value = value;
        }
    }

    List<Item> items = new()
        {
            new Item("Foo", "1"),
            new Item("Bar", "2"),
            new Item("Fizz", "3"),
            new Item("Buzz", "4"),
        };

    private List<string> _items = new List<string>
    {
        "foo", "bar", "fizz", "buzz"
    };
    private List<string> _values = new List<string>
    {
        "foo", "bar"
    };

    public void Remove(string item)
    {
        var index = _values.IndexOf(item);
        if (index >= 0)
        {
            _values.RemoveAt(index);
        }
    }

    public class Data
    {
        public int Id { get; set; }

        public string Name { get; set; } = "";

        public List<Data> Children { get; set; } = new();
    }
}