@inherits AdminCompontentBase
@page "/team/index"

<PageTitle>@T("Team")</PageTitle>

<MRow>
    <MCol Md="12" Class="d-flex justify-space-between">
        <OutlinedSearchTextField @bind-Value="_search" BackgroundColor="white" OnKeyDown="SearchKeyDown" PrependInnerIcon="@IconConstants.Search" />
        <PermissionView Code="@ElementPermissionCodes.TeamAdd">
            <SButton Small Class="rounded-lg" OnClick="_addSheet.Show" BorderRadiusClass="rounded-lg">
                <MIcon Size=18>@IconConstants.Add</MIcon>
                <span class="ml-2 btn">@T("Add")</span>
            </SButton>
        </PermissionView>
    </MCol>
    
</MRow>
<MRow Style="overflow:auto;">
    @foreach (var team in _teams)
    {
        <MCol Md="4">
            <TeamCard Team=team OnEditClick="()=>EditTeamHandler(team.Id)" />
        </MCol>
    }
</MRow>

<AddSheet OnSubmit="OnCreate" @ref="_addSheet" />
<UpdateSheet @ref="_updateSheet" OnUpdate="OnUpdate" OnDelete="OnDelete" />