@inherits AdminCompontentBase

<DefaultSheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("Add ThirdPartyIdp")">
    <MForm Model=ThirdPartyIdp EnableValidation @ref="Form">
        <AutoHeight Overflow>
            <HeaderContent>
                <div class="d-flex">
                    <div class="mx-auto text-center" style="width:212px;">
                        <DefaultUploadImage @bind-Value="ThirdPartyIdp.Icon" Avatar Size="80" WhenFileChangeUpload />
                    </div>
                </div>
            </HeaderContent>
            <AutoHeightContent>
                <MRow Class="mb-6 mt-12">
                    <MCol>
                        <DefaultTextField @bind-Value="ThirdPartyIdp.Name" Label="@T("Name")" />
                    </MCol>
                    <MCol>
                        <DefaultTextField @bind-Value="ThirdPartyIdp.DisplayName" Label="@T(nameof(ThirdPartyIdp.DisplayName))" />
                    </MCol>
                </MRow>
                <MRow Class="mb-6">
                    <MCol>
                        <DefaultTextField @bind-Value="ThirdPartyIdp.ClientId" Label="@T(nameof(ThirdPartyIdp.ClientId))" />
                    </MCol>
                    <MCol>
                        <DefaultTextField @bind-Value="ThirdPartyIdp.ClientSecret" Label="@T(nameof(ThirdPartyIdp.ClientSecret))" />
                    </MCol>
                </MRow>
                <MRow Class="mb-6">
                    <MCol>
                        <DefaultTextField @bind-Value="ThirdPartyIdp.Url" Label="@T("URL")" />
                    </MCol>
                    <MCol>
                        <EnumSelect @bind-Value="ThirdPartyIdp.VerifyType" TValue="AuthenticationTypes" Label="@T(nameof(AuthenticationTypes))" />
                    </MCol>
                </MRow>
@*                <MRow Class="mb-6">
                    <MCol>
                        <MFileInput TValue="IBrowserFile" Outlined Dense Label="@T(nameof(ThirdPartyIdp.VerifyFile))" />
                    </MCol>
                </MRow>*@
                <MRow Class="mb-6">
                    <MCol>
                        <div class="d-flex defaultRadio">
                            <div class="body regular--text my-auto">@T("Unique identification of third-party platforms")</div>
                            <MRadioGroup @bind-Value="@ThirdPartyIdp.IdentificationType" Class="my-auto ml-6" Row>
                                <MRadio Label="@T("PhoneNumber")"
                                        Color="green"
                                        Value="IdentificationTypes.PhoneNumber">
                                </MRadio>
                                <MRadio Label="@T("Email")"
                                        Color="green"
                                        Value="IdentificationTypes.Email">
                                </MRadio>
                            </MRadioGroup>
                        </div>
                    </MCol>
                </MRow>
            </AutoHeightContent>
            <FooterContent>
                <div class="d-flex mt-6">
                    <EnableSwitch @bind-Value="ThirdPartyIdp.Enabled" />
                    <MSpacer></MSpacer>
                    <DefaultButton Medium OnClick="async () => await AddThirdPartyIdpAsync(context)">@T("Submit")</DefaultButton>
                </div>
            </FooterContent>
        </AutoHeight>
    </MForm>
</DefaultSheetDialog>
