@inherits AdminCompontentBase

<DefaultSheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("Add ThirdPartyIdp")">
    <MForm Model=ThirdPartyIdp EnableValidation EnableI18n>
        <AutoHeight Overflow>
            <HeaderContent>
                <ExternalThirdPartySelect Value="@ThirdPartyIdp.ThirdPartyIdpType.ToString()" ValueChanged="ThirdPartyIdpValueChanged" />           
            </HeaderContent>
            <AutoHeightContent>
                <MRow Class="mb-6 mt-12">
                    <MCol>
                        <STextField @bind-Value="ThirdPartyIdp.Name" Required Label="@T("Name")" />
                    </MCol>
                    <MCol>
                        <STextField @bind-Value="ThirdPartyIdp.DisplayName" Required Label="@T(nameof(ThirdPartyIdp.DisplayName))" />
                    </MCol>
                </MRow>
                <MRow Class="mb-6">
                    <MCol>
                        <STextField @bind-Value="ThirdPartyIdp.ClientId" Required Label="@T(nameof(ThirdPartyIdp.ClientId))" />
                    </MCol>
                    <MCol>
                        <STextField @bind-Value="ThirdPartyIdp.ClientSecret" Required Label="@T(nameof(ThirdPartyIdp.ClientSecret))" />
                    </MCol>
                </MRow>
                <MRow Class="mb-6">
                    <MCol>
                        <STextField @bind-Value="ThirdPartyIdp.CallbackPath" Label="@T("CallbackPath")" />                      
                    </MCol>
                    <MCol>
                        <SUrlTextField @bind-Value="ThirdPartyIdp.AuthorizationEndpoint" Label="@T("AuthorizationEndpoint")" />                 
                    </MCol>
                </MRow>
                <MRow Class="mb-6">
                    <MCol>
                        <SUrlTextField @bind-Value="ThirdPartyIdp.TokenEndpoint" Label="@T("TokenEndpoint")" /> 
                    </MCol>
                     <MCol>
                        <SUrlTextField @bind-Value="ThirdPartyIdp.UserInformationEndpoint" Label="@T("UserInformationEndpoint")" />                       
                    </MCol>
                </MRow>
                <MRow Class="mb-6">
                    <MCol>
                        <MapJsonKey @bind-Value="ThirdPartyIdp.JsonKeyMap" />
                    </MCol>
                </MRow>
                <MRow Class="mb-6">
                    <MCol>
                        <MCheckbox @bind-Value="ThirdPartyIdp.MapAll" Label="@T("Map all json key")" />
                    </MCol>
                </MRow>
            </AutoHeightContent>
            <FooterContent>
                <div class="d-flex mt-6">
                    <EnableSwitch @bind-Value="ThirdPartyIdp.Enabled" />
                    <MSpacer></MSpacer>
                    <SButton Medium OnClick="async () => await AddThirdPartyIdpAsync(context.EditContext)">@T("Submit")</SButton>
                </div>
            </FooterContent>
        </AutoHeight>
    </MForm>
</DefaultSheetDialog>
