@page "/thirdPartyIdp"
@inherits AdminCompontentBase

<DefaultCard>
    <AutoHeight>
        <HeaderContent>
            <div class="d-flex mb-6">
                <SearchTextField @bind-Value="Search" />
                <MSpacer />
                <DefaultButton Small OnClick="() => OpenAddThirdPartyIdpDialog()">
                    <MIcon Size=18>@IconConstants.Add</MIcon>
                    <span class="ml-2">@T("Add")</span>
                </DefaultButton>
            </div>
        </HeaderContent>
        <AutoHeightContent>
            <DefaultDataTable Headers="Headers" Items="ThirdPartyIdps" TItem="ThirdPartyIdpDto" ItemsPerPage="PageSize">
                <HeaderColContent Context="header">
                    <span class="body2">@header.Text</span>
                </HeaderColContent>
                <ItemColContent>
                    @switch (context.Header.Value)
                    {
                        case nameof(ThirdPartyIdpDto.Icon):
                            <MAvatar Size="20">
                                <img src="@context.Item.Icon" />
                            </MAvatar>
                            break;
                        case nameof(ThirdPartyIdpDto.Name):
                            <div class="hover-pointer" @onclick="()=> OpenUpdateThirdPartyIdpDialog(context.Item)">
                                <span class="subtitle default--text">@context.Item.Name</span>
                            </div>
                            break;
                        case (nameof(ThirdPartyIdpDto.DisplayName)):
                            <span class="font-16 regular--text">@context.Item.DisplayName</span>
                            break;
                        case nameof(ThirdPartyIdpDto.VerifyType):
                            <span class="font-16 regular--text">@T(context.Item.VerifyType.ToString())</span>
                            break;
                        case nameof(ThirdPartyIdpDto.CreationTime):
                            <span class="font-16 regular--text">@context.Item.CreationTime.ToString(T("$DateTimeFormat"))</span>
                            break;
                        case nameof(ThirdPartyIdpDto.Url):
                            <span class="font-16 regular--text">@context.Item.Url</span>
                            break;
                        case "Action":
                            <MIcon Small Color="regular" OnClick="()=> OpenUpdateThirdPartyIdpDialog(context.Item)">mdi-pencil</MIcon>
                            <MIcon Small Color="regular" Class="ml-7" OnClick="()=> OpenRemoveThirdPartyIdpDialog(context.Item)">mdi-delete</MIcon>
                            break;
                        default:
                            <span class="subtitle">@context.Value</span>
                            break;
                    }
                </ItemColContent>
            </DefaultDataTable>
        </AutoHeightContent>
        <FooterContent>
            <Pagination Class="mt-5" @bind-Page="Page" @bind-PageSize=PageSize Total=Total />
        </FooterContent>
    </AutoHeight>
</DefaultCard>

<AddThirdPartyIdpDialog @bind-Visible="AddThirdPartyIdpDialogVisible" OnSubmitSuccess=GetThirdPartyIdpsAsync />
<UpdateThirdPartyIdpDialog ThirdPartyIdpId=CurrentThirdPartyIdpId @bind-Visible="UpdateThirdPartyIdpDialogVisible" OnSubmitSuccess=GetThirdPartyIdpsAsync />