@inherits AdminCompontentBase

<DefaultSheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("Update ThirdPartyIdp")">
    <MForm Model=ThirdPartyIdp EnableValidation @ref="Form">
        <AutoHeight Overflow Class="mt-6">
            <HeaderContent>
                <div class="d-flex">
                    <div class="mx-auto text-center" style="width:212px;">
                        <UploadImage @bind-Value="ThirdPartyIdp.Icon" Avatar Size="120" WhenFileChangeUpload />
                    </div>
                </div>
            </HeaderContent>
            <AutoHeightContent>
                <div class="subtitle2">@T("Basic Information")</div>
                <MRow Class="mt-4">
                    <MCol>
                        <DefaultTextField @bind-Value="ThirdPartyIdpDetail.Name" Readonly Label="@T("ThirdPartyIdp.Name")" />
                    </MCol>
                    <MCol>
                        <DefaultTextField @bind-Value="ThirdPartyIdp.DisplayName" Label="@T(nameof(ThirdPartyIdp.DisplayName))" />
                    </MCol>
                </MRow>
                <MRow Class="mt-1">
                    <MCol>
                        <DefaultTextField @bind-Value="ThirdPartyIdp.ClientId" Label="@T(nameof(ThirdPartyIdp.ClientId))" />
                    </MCol>
                    <MCol>
                        <DefaultTextField @bind-Value="ThirdPartyIdp.ClientSecret" Label="@T(nameof(ThirdPartyIdp.ClientSecret))" />
                    </MCol>
                </MRow>
                <MRow Class="mt-1">
                    <MCol>
                        <DefaultTextField @bind-Value="ThirdPartyIdp.Url" Label="@T(nameof(ThirdPartyIdp.Url))" />
                    </MCol>
                    <MCol>
                        <EnumSelect @bind-Value="ThirdPartyIdp.VerifyType" TValue="AuthenticationTypes" Label="@T(nameof(AuthenticationTypes))" />
                    </MCol>
                </MRow>
                <MRow Class="mt-1">
                    <MCol>
                        <span>@T(nameof(ThirdPartyIdp.VerifyFile))</span>
                        <MFileInput TValue="IBrowserFile" />@*@bind-Value="ThirdPartyIdp.VerifyFile" *@
                    </MCol>
                </MRow>
            </AutoHeightContent>
            <FooterContent>
                <div class="d-flex mt-6">
                    <EnableSwitch @bind-Value="ThirdPartyIdp.Enabled" />
                    <MSpacer></MSpacer>
                    <DefaultButton Medium OnClick="async () => await UpdateThirdPartyIdpAsync(context)">@T("Submit")</DefaultButton>
                </div>
            </FooterContent>
        </AutoHeight>
    </MForm>
</DefaultSheetDialog>