@inherits AdminCompontentBase

<DefaultSheetDialog Value="Visible" ValueChanged=UpdateVisible Title="@T("Update ThirdPartyIdp")">
    <MForm Model=ThirdPartyIdp EnableValidation EnableI18n>
        <AutoHeight Overflow>
            <HeaderContent>
                <div class="d-flex">
                    <div class="mx-auto text-center" style="width:212px;">
                        <UploadAvatar @bind-Value="ThirdPartyIdp.Icon" Avatar Size="80" WhenFileChangeUpload />
                    </div>
                </div>
            </HeaderContent>
            <AutoHeightContent>
                <MRow Class="mb-6 mt-12">
                    <MCol>
                        <STextField @bind-Value="ThirdPartyIdpDetail.Name" Required Readonly Label="@T("ThirdPartyIdp.Name")" />
                    </MCol>
                    <MCol>
                        <STextField @bind-Value="ThirdPartyIdp.DisplayName" Required Label="@T(nameof(ThirdPartyIdp.DisplayName))" />
                    </MCol>
                </MRow>
                <MRow Class="mb-6">
                    <MCol>
                        <STextField @bind-Value="ThirdPartyIdp.ClientId" Required Label="@T(nameof(ThirdPartyIdp.ClientId))" />
                    </MCol>
                    <MCol>
                        <STextField @bind-Value="ThirdPartyIdp.ClientSecret" Required Label="@T(nameof(ThirdPartyIdp.ClientSecret))" />
                    </MCol>
                </MRow>
                <MRow Class="mb-6">
                    <MCol>
                        <STextField @bind-Value="ThirdPartyIdp.CallbackPath" Label="@T("CallbackPath")" />                      
                    </MCol>
                    <MCol>
                        <SUrlTextField @bind-Value="ThirdPartyIdp.AuthorizationEndpoint" Label="@T("AuthorizationEndpoint")" />                 
                    </MCol>
                </MRow>
                <MRow Class="mb-6">
                    <MCol>
                        <SUrlTextField @bind-Value="ThirdPartyIdp.TokenEndpoint" Label="@T("TokenEndpoint")" /> 
                    </MCol>
                     <MCol>
                        <SUrlTextField @bind-Value="ThirdPartyIdp.UserInformationEndpoint" Label="@T("UserInformationEndpoint")" />                       
                    </MCol>
                </MRow>            
            </AutoHeightContent>
            <FooterContent>
                <div class="d-flex mt-6">
                    <EnableSwitch @bind-Value="ThirdPartyIdp.Enabled" />
                    <MSpacer></MSpacer>
                    <SButton Medium OnClick="async () => await UpdateThirdPartyIdpAsync(context.EditContext)">@T("Save")</SButton>
                </div>
            </FooterContent>
        </AutoHeight>
    </MForm>
</DefaultSheetDialog>