@inherits AdminCompontentBase

<SheetDialog Value=Visible Title="@T("Copy Department")" ValueChanged="VisibleChanged" ContentClass="px-sheet-dialog">
    <MWindow @bind-Value="_step" Class="full-height">
        <MWindowItem Value="1" Class="full-height">
            <MCard Class="mx-auto d-flex flex-column full-height">
                <MCardText Class="d-flex align-center full-height">
                    <div class="full-width">
                        <PlaceholderTextFiled @bind-Value="@Dto.Name" Class="mb-12" style="width:323px;" HideDetails="@("auto")" Placeholder="@T("Enter department name")"></PlaceholderTextFiled>
                        <MCheckbox Class="d-flex justify-center" @bind-Value="@Dto.MigrateStaff">
                            <LabelContent>
                                <span class="secondary--text">
                                    @T("Relocate former department staff")
                                </span>
                            </LabelContent>
                        </MCheckbox>
                    </div>
                </MCardText>
                <MCardActions class="d-flex justify-end mb-12 py-0">
                    <DefaultButton Medium OnClick="NextStep">@T("Next step")</DefaultButton>
                </MCardActions>
            </MCard>
        </MWindowItem>
        <MWindowItem Value="2" Class="full-height">
            <MCard Class="mx-auto d-flex flex-column full-height">
                <MCardText Class="d-flex flex-column full-height">
                    <PlaceholderTextFiled @bind-Value="@Dto.Name" HideDetails="@("auto")" style="width:323px;" Placeholder="@T("Enter department name")"></PlaceholderTextFiled>
                    <MCascader Items="Departments" Dense Label="@T("Department Location")"
                               ItemText="u => u.Name" @bind-Value="@Dto.ParentId"
                               ItemValue="u => u.Id"
                               ItemChildren="u => u.Children">
                    </MCascader>
                    <div class="d-flex align-center mt-6">
                        <span class="h5 emphasis2--text">@T("Member")</span>
                        <MSpacer />
                        <MAutocomplete Items="_removeStaffs" TItem="StaffDto" TValue="Guid" TItemValue="StaffDto"
                                       ItemText="r=>r.Name" PrependInnerIcon="@IconConstants.Search"
                                       ItemValue="r=>r" HideDetails="true" OnSelectedItemUpdate="AddStaff"
                                       Outlined Dense Clearable Style="max-width:340px;"
                                       Label="@T("Search for members")">
                            <ItemContent Context="data">
                                <MListItemAvatar>
                                    <img src="@data.Item.Avatar">
                                </MListItemAvatar>
                                <MListItemContent>
                                    <MListItemTitle>
                                        @data.Item.Name
                                    </MListItemTitle>
                                    <MListItemSubtitle>
                                        @data.Item.JobNumber
                                    </MListItemSubtitle>
                                </MListItemContent>
                            </ItemContent>
                        </MAutocomplete>
                    </div>
                    <MRow class="mt-6 flex-grow-1" style="min-height:calc(100vh - 560px);overflow-y:scroll;">
                        @foreach (var staff in Dto.Staffs)
                        {
                            <MCol Md="3">
                                <MHover Context="hoverComtext">
                                    <MListItem @attributes="hoverComtext.Attrs" class="px-4" Ripple=false>
                                        <MListItemAvatar MinHeight=40 MinWidth=40 Height=40 Width=40>
                                            <img src="@staff.Avatar" />
                                        </MListItemAvatar>
                                        <MListItemContent class="py-1">
                                            <MListItemTitle class="subtitle emphasis2--text">@staff.DisplayName</MListItemTitle>
                                            <MListItemSubtitle class="body2 regular-secondary--text">@staff.Name<MDivider Vertical /> @staff.JobNumber</MListItemSubtitle>
                                        </MListItemContent>
                                        <div style="@(hoverComtext.Hover?"display:flex":"display:none")" class="align-center">
                                            <MIcon Size="24" OnClick="()=>RemoveStaff(staff)">mdi-close</MIcon>
                                        </div>
                                    </MListItem>
                                </MHover>
                            </MCol>
                        }
                    </MRow>
                    <MTextarea class="mt-6" @bind-Value="Dto.Description" Label="@T("Description")" Outlined Height="120" NoResize />
                </MCardText>
                <MCardActions class="d-flex align-center mb-10 px-6">
                    <MSwitch @bind-Value="@Dto.Enabled" Inset Label="@T("Enable")" class="mt-0"></MSwitch>
                    <MSpacer />
                    <DefaultButton Medium Outlined OnClick="()=> _step = 1 ">@T("Previous step")</DefaultButton>
                    <DefaultButton Medium Disabled="@string.IsNullOrEmpty(Dto.Name.Trim())" OnClick="OnSubmitHandler">@T("Submit")</DefaultButton>
                </MCardActions>
            </MCard>
        </MWindowItem>
    </MWindow>
</SheetDialog>
