@page "/org/index"
@inherits AdminCompontentBase

<MRow>
    <MCol Md="@("auto")">
        <MCard style="width:300px;">
            <MCardTitle>
                部门管理
            </MCardTitle>
            <MCardText>
                <MTreeview Active="_active"
                           Items="_departments"
                           OnActiveUpdate="(List<DepartmentItemResponse> e)=>ActiveUpdated(e)"
                           Activatable
                           ItemText="r=>r.Name"
                           ItemKey="r=>r.Id"
                           ItemChildren="r=>r.Children">
                    <LabelContent>
                        <div class="d-flex justify-space-between align-center">
                            <span>@context.Item.Name</span>
                            <MMenu Right Bottom class="mr-2">
                                <ActivatorContent Context="activatorContext">
                                    <MButton Icon @attributes="@activatorContext.Attrs">
                                        <MIcon Small>fas fa-ellipsis-v</MIcon>
                                    </MButton>
                                </ActivatorContent>
                                <ChildContent>
                                    <MList>
                                        <MListItem OnClick="()=>OpenAddDialog(context.Item.Id,context.Item.Name)">
                                            <MIcon Small>mdi-plus-circle-outline</MIcon>
                                            <MListItemTitle Class="ml-2"> @T("AddSubordinate") </MListItemTitle>
                                        </MListItem>
                                        <MListItem>
                                            <MIcon Small>mdi-pencil-outline</MIcon>
                                            <MListItemTitle Class="ml-2"> @T("Edit") </MListItemTitle>
                                        </MListItem>
                                        <MListItem>
                                            <MIcon Small>mdi-trash-can-outline</MIcon>
                                            <MListItemTitle Class="ml-2"> @T("Delete") </MListItemTitle>
                                        </MListItem>
                                    </MList>
                                </ChildContent>
                            </MMenu>
                        </div>
                    </LabelContent>
                </MTreeview>
            </MCardText>
        </MCard>
    </MCol>
    <MCol>
        <MRow>
            <MCol Md="4">
                <MCard>
                    <MListItem>
                        <MListItemAvatar>
                            <MImage Src="https://cdn.masastack.com/stack/images/website/masa-blazor/lists/1.png"></MImage>
                        </MListItemAvatar>
                        <MListItemContent>
                            <MListItemTitle>二级部门</MListItemTitle>
                            <MListItemSubtitle>880个</MListItemSubtitle>
                        </MListItemContent>
                    </MListItem>
                </MCard>
            </MCol>
            <MCol Md="4">
                <MCard>
                    <MListItem>
                        <MListItemAvatar>
                            <MImage Src="https://cdn.masastack.com/stack/images/website/masa-blazor/lists/1.png"></MImage>
                        </MListItemAvatar>
                        <MListItemContent>
                            <MListItemTitle>三级部门</MListItemTitle>
                            <MListItemSubtitle>880个</MListItemSubtitle>
                        </MListItemContent>
                    </MListItem>
                </MCard>
            </MCol>
            <MCol Md="4">
                <MCard>
                    <MListItem>
                        <MListItemAvatar>
                            <MImage Src="https://cdn.masastack.com/stack/images/website/masa-blazor/lists/1.png"></MImage>
                        </MListItemAvatar>
                        <MListItemContent>
                            <MListItemTitle>四级部门</MListItemTitle>
                            <MListItemSubtitle>880个</MListItemSubtitle>
                        </MListItemContent>
                    </MListItem>
                </MCard>
            </MCol>
        </MRow>
        <MRow>
            @*          <MDataTable Headers="_headers" Items="_departmentUsers.Where(u=>u.Select)" TItem="UserItemResponse" HideDefaultFooter Class="user mt-2 table-border-none">
                <HeaderColContent Context="header">
                <span class="text-subtitle">@header.Text</span>
                </HeaderColContent>
                <ItemColContent>
                @switch (context.Header.Value)
                {
                case nameof(UserItemResponse.Gender):
                var genderText = "";
                if (context.Item.Gender.HasValue)
                {
                if (context.Item.Gender.Value)
                {
                genderText = "男";
                }
                else
                {
                genderText = "女";
                }
                }
                else
                {
                genderText = "未知";
                }
                <span>@genderText</span>
                break;
                case nameof(UserItemResponse.State):
                @if (context.Item.State == (int)State.Enable)
                {
                <MChip Color="green" TextColor="white" Ripple="false">
                <span>@State.Enable.ToString()</span>
                </MChip>
                }
                else
                {
                <MChip Color="gray" Ripple="false">
                <span>@State.Disabled.ToString()</span>
                </MChip>
                }
                break;
                case "Action":
                <MMenu Right Bottom>
                <ActivatorContent Context="activatorContext">
                <MButton Icon @attributes="@activatorContext.Attrs">
                <MIcon XSmall>fas fa-ellipsis-v</MIcon>
                </MButton>
                </ActivatorContent>
                <ChildContent>
                <MList>
                <MListItem>
                <MIcon Small>fas fa-user-tie</MIcon>
                <MListItemTitle Class="ml-2"> Details </MListItemTitle>
                </MListItem>
                <MListItem>
                <MIcon Small>far fa-trash-alt</MIcon>
                <MListItemTitle Class="ml-2"> Delete </MListItemTitle>
                </MListItem>
                </MList>
                </ChildContent>
                </MMenu>
                break;
                default:
                @context.Value
                break;
                }
                </ItemColContent>
                </MDataTable>*@
        </MRow>
    </MCol>
</MRow>
