@page "/org/index"
@inherits AdminCompontentBase

<MRow>
    <MCol Md="@("auto")">
        <MCard style="width:300px;">
            <MCardTitle>
                部门管理
            </MCardTitle>
            <MCardText>
                <MTreeview Active="_active"
                           Items="_departments"
                           OnActiveUpdate="(List<DepartmentDto> e)=>ActiveUpdated(e)"
                           Activatable
                           ItemText="r=>r.Name"
                           ItemKey="r=>r.Id"
                           ItemChildren="r=>r.Children">
                    <LabelContent>
                        <MHover Context="_">
                            <div class="d-flex justify-space-between align-center">
                                <span>@context.Item.Name</span>
                                <MMenu Right Bottom class="mr-2">
                                    <ActivatorContent Context="activatorContext">
                                        <MButton Icon @attributes="@activatorContext.Attrs">
                                            <MIcon Small>fas fa-ellipsis-v</MIcon>
                                        </MButton>
                                    </ActivatorContent>
                                    <ChildContent>
                                        <MList>
                                            <MListItem>
                                                <MIcon Small>mdi-copy</MIcon>
                                                <MListItemTitle Class="ml-2"> @T("Copy") </MListItemTitle>
                                            </MListItem>
                                            <MListItem>
                                                <MIcon Small>mdi-pencil</MIcon>
                                                <MListItemTitle Class="ml-2"> @T("Edit") </MListItemTitle>
                                            </MListItem>
                                            <MListItem>
                                                <MIcon Small>mdi-plus</MIcon>
                                                <MListItemTitle Class="ml-2"> @T("AddChild") </MListItemTitle>
                                            </MListItem>
                                        </MList>
                                    </ChildContent>
                                </MMenu>
                            </div>
                        </MHover>
                    </LabelContent>
                </MTreeview>
            </MCardText>
        </MCard>
    </MCol>
    <MCol>
        <MRow>
            <MCol Md="4">
                <MCard>
                    <MListItem>
                        <MListItemAvatar>
                            <MImage Src="https://cdn.masastack.com/stack/images/website/masa-blazor/lists/1.png"></MImage>
                        </MListItemAvatar>
                        <MListItemContent>
                            <MListItemTitle>二级部门</MListItemTitle>
                            <MListItemSubtitle>880个</MListItemSubtitle>
                        </MListItemContent>
                    </MListItem>
                </MCard>
            </MCol>
            <MCol Md="4">
                <MCard>
                    <MListItem>
                        <MListItemAvatar>
                            <MImage Src="https://cdn.masastack.com/stack/images/website/masa-blazor/lists/1.png"></MImage>
                        </MListItemAvatar>
                        <MListItemContent>
                            <MListItemTitle>三级部门</MListItemTitle>
                            <MListItemSubtitle>880个</MListItemSubtitle>
                        </MListItemContent>
                    </MListItem>
                </MCard>
            </MCol>
            <MCol Md="4">
                <MCard>
                    <MListItem>
                        <MListItemAvatar>
                            <MImage Src="https://cdn.masastack.com/stack/images/website/masa-blazor/lists/1.png"></MImage>
                        </MListItemAvatar>
                        <MListItemContent>
                            <MListItemTitle>四级部门</MListItemTitle>
                            <MListItemSubtitle>880个</MListItemSubtitle>
                        </MListItemContent>
                    </MListItem>
                </MCard>
            </MCol>
        </MRow>
        <MRow>
            <MDataTable Headers="_headers" Items="staffItems" TItem="StaffDto" HideDefaultFooter Class="user mt-2 table-border-none">
                <HeaderColContent Context="header">
                    <span class="text-subtitle">@header.Text</span>
                </HeaderColContent>
                <ItemColContent>
                    @switch (context.Header.Value)
                    {
                        case nameof(StaffDto.Name):
                            <div>
                                <MAvatar>
                                    <MImage Src="@(context.Item.Avatar)" Alt="Jack"></MImage>
                                </MAvatar>
                                <span class="ml-2">@context.Item.Name</span>
                            </div>
                            break;
                        case "Action":
                            <MIcon Small>mdi-pencil</MIcon>
                            break;
                        default:
                            @context.Value
                            break;
                    }
                </ItemColContent>
            </MDataTable>
        </MRow>
    </MCol>
</MRow>
