@page "/organization/index"
@inherits AdminCompontentBase

<PageTitle>
    @T("Department Management")
</PageTitle>

<MRow Class="full-height">
    <MCol Md="@("auto")">
        <MCard style="width:300px;" Class="full-height">
            <MCardTitle>
                <SearchableExtend>
                    @T("Department Management")
                </SearchableExtend>
            </MCardTitle>
            <MCardText>
                <MTreeview @bind-Active="_active"
                           Items="_departments"
                           OnActiveUpdate="ActiveUpdated"
                           TItem="DepartmentDto"
                           TKey="Guid"
                           Activatable Hoverable
                           ItemText="r=>r.Name"
                           ItemKey="r=>r.Id"
                           ItemChildren="r=>r.Children">
                    <LabelContent>
                        <MHover Context="hoverComtext">
                            <div @attributes="hoverComtext.Attrs" class="d-flex justify-space-between align-center">
                                <span>@context.Item.Name</span>
                                <MMenu Right Bottom class="mr-2">
                                    <ActivatorContent Context="activatorContext">
                                        <MButton style="@(hoverComtext.Hover?"display:flex":"display:none")" Icon @attributes="@activatorContext.Attrs">
                                            <MIcon Small>fas fa-ellipsis-v</MIcon>
                                        </MButton>
                                    </ActivatorContent>
                                    <ChildContent>
                                        <MList>
                                            @if (!context.Item.IsRoot)
                                            {
                                                <MListItem OnClick="()=>Copy(context.Item.Id)">
                                                    <MIcon Small>mdi-content-copy</MIcon>
                                                    <MListItemTitle Class="ml-2"> @T("Copy") </MListItemTitle>
                                                </MListItem>
                                            }
                                            <MListItem OnClick="()=> Update(context.Item.Id)">
                                                <MIcon Small>mdi-pencil</MIcon>
                                                <MListItemTitle Class="ml-2"> @T("Edit") </MListItemTitle>
                                            </MListItem>
                                            <MListItem OnClick="()=>Add(context.Item.Id)">
                                                <MIcon Small>mdi-plus</MIcon>
                                                <MListItemTitle Class="ml-2"> @T("AddChild") </MListItemTitle>
                                            </MListItem>
                                        </MList>
                                    </ChildContent>
                                </MMenu>
                            </div>
                        </MHover>
                    </LabelContent>
                </MTreeview>
            </MCardText>
        </MCard>
    </MCol>
    <MCol Class="d-flex flex-column">
        <MRow Class="flex-grow-0">
            <MCol Md="4">
                <MCard Height="112">
                    <MListItem class="fill-height">
                        <MListItemAvatar Height=80 Width=80>
                            <MImage Src="https://cdn.masastack.com/stack/images/website/masa-blazor/lists/3.png"></MImage>
                        </MListItemAvatar>
                        <MListItemContent>
                            <MListItemTitle class="text-h7 neutral-lighten-3--text">@T("Secondary Department")</MListItemTitle>
                            <MListItemSubtitle class="text-h5 neutral-lighten-1--text">@_departmentChildrenCountDto.SecondLevel<span class="text-subtitle2 ml-1">@T("PCS")</span></MListItemSubtitle>
                        </MListItemContent>
                    </MListItem>
                </MCard>
            </MCol>
            <MCol Md="4">
                <MCard Height="112">
                    <MListItem class="fill-height">
                        <MListItemAvatar Height=80 Width=80>
                            <MImage Src="https://cdn.masastack.com/stack/images/website/masa-blazor/lists/3.png"></MImage>
                        </MListItemAvatar>
                        <MListItemContent>
                            <MListItemTitle class="text-h7 neutral-lighten-3--text">@T("Tertiary Department")</MListItemTitle>
                            <MListItemSubtitle class="text-h5 neutral-lighten-1--text">@_departmentChildrenCountDto.ThirdLevel<span class="text-subtitle2 ml-1">@T("PCS")</span></MListItemSubtitle>
                        </MListItemContent>
                    </MListItem>
                </MCard>
            </MCol>
            <MCol Md="4">
                <MCard Height="112">
                    <MListItem class="fill-height">
                        <MListItemAvatar Height=80 Width=80>
                            <MImage Src="https://cdn.masastack.com/stack/images/website/masa-blazor/lists/3.png"></MImage>
                        </MListItemAvatar>
                        <MListItemContent>
                            <MListItemTitle class="text-h7 neutral-lighten-3--text">@T("Fourth Department")</MListItemTitle>
                            <MListItemSubtitle class="text-h5 neutral-lighten-1--text">@_departmentChildrenCountDto.FourthLevel<span class="text-subtitle2 ml-1">@T("PCS")</span></MListItemSubtitle>
                        </MListItemContent>
                    </MListItem>
                </MCard>
            </MCol>
        </MRow>
        <MRow Class="flex-grow-1">
            <MCol Md="12">
                <MCard Class="full-height">
                    <MCardText>
                        <MDataTable Headers="_headers" Items="@_paginationStaffs.Items" TItem="StaffDto" ItemClass="my-2" HideDefaultFooter="true" Class="mt-2 table-border-none table-space-v-4 full-height d-flex flex-column">
                            <HeaderColContent Context="header">
                                <span class="text-subtitle">@header.Text</span>
                            </HeaderColContent>
                            <TopContent>
                                <div class="d-flex justify-space-between">
                                    <DefaultTextField @bind-Value="@_getStaffsDto.Search" Style="max-width:341px;" HideDetails=true
                                                      Placeholder="@T("Search")" PrependInnerIcon="mdi-magnify" OnKeyDown="EnterSearch">
                                    </DefaultTextField>
                                    <MButton class="rounded-pill primary" MinWidth="100" OnClick="()=>_addStaff=true">
                                        <MIcon Left Dark>
                                            mdi-plus
                                        </MIcon>
                                        @T("Add")
                                    </MButton>
                                </div>
                            </TopContent>
                            <ItemColContent>
                                @switch (context.Header.Value)
                                {
                                    case nameof(UserDto.Name):
                                        <div>
                                            <MAvatar>
                                                <MImage Src="@(context.Item.User.Avatar)" Alt="Jack"></MImage>
                                            </MAvatar>
                                            <span class="ml-2">@context.Item.User.Name</span>
                                        </div>
                                        break;
                                    case "Action":
                                        <MIcon Small OnClick="()=>UpdateStaff(context.Item.Id)">mdi-pencil</MIcon>
                                        break;
                                    default:
                                        //@context.Value
                                        break;
                                }
                            </ItemColContent>
                            <FooterContent>
                                <DataTableFooter Class="mb-4 mt-2" Total="_paginationStaffs.Total" Page=_getStaffsDto.Page PageSize=_getStaffsDto.PageSize />
                            </FooterContent>
                        </MDataTable>
                    </MCardText>
                </MCard>
            </MCol>
        </MRow>
    </MCol>
</MRow>

<OrgSheet @bind-Show=_showAdd Dto="@_upsertDepartmentDto" OnDelete="DeleteAsync" OnSubmit="SubmitAsync" Departments=_departments />
<CopyOrgSheet @bind-Show=_showCopy Dto="_copyDepartmentDto" Departments=_departments OnSubmit="SubmitAsync" />


<Masa.Auth.Web.Admin.Rcl.Pages.Subjects.Users.AddStaffDialog @bind-Visible=_addStaff OnSubmitSuccess="LoadStaffsAsync" />
<Masa.Auth.Web.Admin.Rcl.Pages.Subjects.Users.UpdateStaffDialog @bind-Visible=_updateStaff StaffId=_currentStaffId OnSubmitSuccess="LoadStaffsAsync" />