@page "/organization/index"
@inherits AdminCompontentBase

<PageTitle>
    @T("Department Management")
</PageTitle>

<MRow Class="full-height" NoGutters>
    <MCol Md="@("auto")">
        <MCard style="width:300px;" Class="full-height">
            <MCardTitle>
                <SearchableExtend>
                    @T("Department Management")
                </SearchableExtend>
            </MCardTitle>
            <MCardText>
                <MTreeview @bind-Active="_active"
                           Items="_departments"
                           OnActiveUpdate="ActiveUpdated"
                           TItem="DepartmentDto"
                           TKey="Guid"
                           Activatable Hoverable
                           ItemText="r=>r.Name"
                           ItemKey="r=>r.Id"
                           ItemChildren="r=>r.Children">
                    <LabelContent>
                        <MHover Context="hoverComtext">
                            <div @attributes="hoverComtext.Attrs" class="d-flex justify-space-between align-center">
                                <span>@context.Item.Name</span>
                                <MMenu Right Bottom class="mr-2">
                                    <ActivatorContent Context="activatorContext">
                                        <MButton style="@(hoverComtext.Hover?"display:flex":"display:none")" Icon @attributes="@activatorContext.Attrs">
                                            <MIcon Small>fas fa-ellipsis-v</MIcon>
                                        </MButton>
                                    </ActivatorContent>
                                    <ChildContent>
                                        <MList>
                                            @if (!context.Item.IsRoot)
                                            {
                                                <MListItem OnClick="()=>Copy(context.Item.Id)">
                                                    <MIcon Small>mdi-content-copy</MIcon>
                                                    <MListItemTitle Class="ml-2"> @T("Copy") </MListItemTitle>
                                                </MListItem>
                                            }
                                            <MListItem OnClick="()=> Update(context.Item.Id)">
                                                <MIcon Small>@IconConstants.Update</MIcon>
                                                <MListItemTitle Class="ml-2"> @T("Edit") </MListItemTitle>
                                            </MListItem>
                                            <MListItem OnClick="()=>Add(context.Item.Id)">
                                                <MIcon Small>@IconConstants.Add</MIcon>
                                                <MListItemTitle Class="ml-2"> @T("AddChild") </MListItemTitle>
                                            </MListItem>
                                        </MList>
                                    </ChildContent>
                                </MMenu>
                            </div>
                        </MHover>
                    </LabelContent>
                </MTreeview>
            </MCardText>
        </MCard>
    </MCol>
    <MCol Class="d-flex flex-column ml-6">
        <MRow Class="flex-grow-0">
            <MCol Md="4">
                <MCard Height="112">
                    <MListItem class="fill-height">
                        <MListItemAvatar Height=80 Width=80>
                            <MImage Src="https://cdn.masastack.com/stack/images/website/masa-blazor/lists/3.png"></MImage>
                        </MListItemAvatar>
                        <MListItemContent>
                            <MListItemTitle class="h5 regular-secondary--text">@T("Secondary Department")</MListItemTitle>
                            <MListItemSubtitle class="h5 emphasis2--text">@_departmentChildrenCountDto.SecondLevel<span class="subtitle2 ml-1">@T("PCS")</span></MListItemSubtitle>
                        </MListItemContent>
                    </MListItem>
                </MCard>
            </MCol>
            <MCol Md="4">
                <MCard Height="112">
                    <MListItem class="fill-height">
                        <MListItemAvatar Height=80 Width=80>
                            <MImage Src="https://cdn.masastack.com/stack/images/website/masa-blazor/lists/3.png"></MImage>
                        </MListItemAvatar>
                        <MListItemContent>
                            <MListItemTitle class="h5 regular-secondary--text">@T("Tertiary Department")</MListItemTitle>
                            <MListItemSubtitle class="h5 emphasis2--text">@_departmentChildrenCountDto.ThirdLevel<span class="subtitle2 ml-1">@T("PCS")</span></MListItemSubtitle>
                        </MListItemContent>
                    </MListItem>
                </MCard>
            </MCol>
            <MCol Md="4">
                <MCard Height="112">
                    <MListItem class="fill-height">
                        <MListItemAvatar Height=80 Width=80>
                            <MImage Src="https://cdn.masastack.com/stack/images/website/masa-blazor/lists/3.png"></MImage>
                        </MListItemAvatar>
                        <MListItemContent>
                            <MListItemTitle class="h5 regular-secondary--text">@T("Fourth Department")</MListItemTitle>
                            <MListItemSubtitle class="h5 emphasis2--text">@_departmentChildrenCountDto.FourthLevel<span class="subtitle2 ml-1">@T("PCS")</span></MListItemSubtitle>
                        </MListItemContent>
                    </MListItem>
                </MCard>
            </MCol>
        </MRow>
        <MRow Class="flex-grow-1">
            <MCol Md="12">
                <DefaultCard>
                    <AutoHeight>
                        <HeaderContent>
                            <div class="d-flex mb-6">
                                <SearchTextField @bind-Value="@_getStaffsDto.Search" PrependInnerIcon="@IconConstants.Search" OnKeyDown="EnterSearch" />
                                <MSpacer />
                                <SButton Small OnClick="()=>_addStaff=true" BorderRadiusClass="rounded-lg">
                                    <MIcon Size=18>@IconConstants.Add</MIcon>
                                    <span class="ml-2 btn">@T("Add")</span>
                                </SButton>
                            </div>
                        </HeaderContent>
                        <AutoHeightContent>
                            <SDataTable
                                FixedHeader
                                Height="@("calc(100vh - 420px)")"
                                Headers="GetHeaders()" 
                                Items="@_paginationStaffs.Items" 
                                TItem="StaffDto">
                                <HeaderColContent Context="header">
                                    <span class="body-bold">@header.Text</span>
                                </HeaderColContent>
                                <ItemColContent>
                                    @switch (context.Header.Value)
                                    {
                                        case nameof(UserDto.Name):
                                            <div>
                                                <MAvatar>
                                                    <MImage Src="@(context.Item.Avatar)" Alt="Jack"></MImage>
                                                </MAvatar>
                                                <span class="ml-2">@context.Item.Name</span>
                                            </div>
                                            break;
                                        case "Action":
                                            <SIcon Tooltip="@T("Edit")" OnClick="()=>UpdateStaff(context.Item.Id)">@IconConstants.Update</SIcon>
                                            break;
                                        default:
                                            <span>@context.Value</span>
                                            break;
                                    }
                                </ItemColContent>
                            </SDataTable>
                        </AutoHeightContent>
                        <FooterContent>
                            <SPagination 
                                Class="mt-4" 
                                Page="_getStaffsDto.Page" 
                                PageSize=_getStaffsDto.PageSize 
                                Total=_paginationStaffs.Total 
                                PageChanged="PageChangedHandler" 
                                PageSizeChanged="PageSizeChangedHandler" />
                        </FooterContent>
                    </AutoHeight>
                </DefaultCard>            
            </MCol>
        </MRow>
    </MCol>
</MRow>

<OrgSheet @bind-Show=_showAdd Dto="@_upsertDepartmentDto" OnDelete="DeleteAsync" OnSubmit="SubmitAsync" Departments=_departments />
<CopyOrgSheet @ref="_copyOrgSheet" Departments=_departments OnSubmit="SubmitAsync" />
<Masa.Auth.Web.Admin.Rcl.Pages.Subjects.Users.AddStaffDialog @bind-Visible=_addStaff OnSubmitSuccess="LoadStaffsAsync" />
<Masa.Auth.Web.Admin.Rcl.Pages.Subjects.Users.UpdateStaffDialog @bind-Visible=_updateStaff StaffId=_currentStaffId OnSubmitSuccess="LoadStaffsAsync" />