@page "/EmailRegisteredSuccess"

@inherits SsoLayoutComponentBase
@layout SimpleLayout

<MCard Width=510 Height=620>
    <MCardTitle Class="d-flex justify-center h4 my-12">
        @T("RegistrationSuccess") <MIcon Color="success">mdi-check-circle</MIcon>
    </MCardTitle>
    <MCardText>
        <MDivider>
            <span class="regular3--text caption" style="line-height: 1px !important">@T("ReplenishInfo")</span>
        </MDivider>
        <MTextField Style="width:200px;" @bind-Value="_displayName" Class="mx-auto mb-4"></MTextField>
        <MTextField PrependInnerIcon="mdi-cellphone" @bind-Value="@_phoneNumber" Label="@T("PhoneNumber")"
                    Placeholder="@T("PhoneNumberPlaceHolder")" Outlined Autofocus>
        </MTextField>
        <MTextField Class="mt-3" @bind-Value="@_smsCode" Outlined Label="@T("SMSCode")"
                    Placeholder="@T("SMSCodePlaceHolder")" Type="number"
                    NumberProps="@(prop=> { prop.Min = 100000; prop.Max = 999999; prop.HideControl = true; })">
            <AppendContent>
                <MButton Style="margin-top:-16px;margin-right:-12px;height:54px;min-width: 120px;"
                         Class="primary rounded-r-lg" Disabled=!_canSmsCode>
                    @(_canSmsCode ? @T("GetSmsCode") : _smsCodeTime)
                </MButton>
            </AppendContent>
        </MTextField>
    </MCardText>
    <MCardActions Class="d-flex justify-center">
        <MButton Class="rounded-pill text-btn white--text" Height=48 Width=340 Color="primary">
            @T("Sure")
        </MButton>
    </MCardActions>
</MCard>

@code {
    string _phoneNumber=string.Empty;
    string _displayName=string.Empty;
    int? _smsCode;
    bool _canSmsCode = true;
    int _smsCodeTime = LoginOptions.GetSmsCodeInterval;
}
