@page "/account/{tab}/index"
@page "/account/{tab}"

@inherits SsoCompontentBase
@inject IClientStore _clientStore
@inject IAuthenticationSchemeProvider _schemeProvider
@inject IAuthClient _authClient
@layout SimpleLayout

@if (_viewModel.EnableLocalLogin)
{
    <MCard Width=510 Height=620 MaxHeight="620">
        <div class="tab-header">
            <MTabs Value="Tab" ValueChanged="TabChanged" BackgroundColor="transparent" Color="primary" HideSlider Grow>
                <MTab Value="@("login")">
                    <div class="full-height d-flex flex-column">
                        <span style="height:4px;background: #4318FF;visibility: hidden;" class="tab-top-slider full-width rounded rounded-t-0" />
                        <span class="flex-grow-1 d-flex align-center mt-n1">
                            @T("Login")
                        </span>
                    </div>
                </MTab>
                <MTab Value="@("register")">
                    <div class="full-height d-flex flex-column">
                        <span style="height:4px;background: #4318FF;visibility: hidden;" class="tab-top-slider full-width rounded rounded-t-0" />
                        <span class="flex-grow-1 d-flex align-center mt-n1">
                            @T("Register")
                        </span>
                    </div>
                </MTab>
            </MTabs>
        </div>
        <MTabsItems Value="@Tab">
            <MTabItem Value="@("login")">
                <CascadingValue Value="@ReturnUrl">
                    <LoginSection LoginHint="@_loginHint" ExternalProviderList="@_viewModel.VisibleExternalProviders" />
                </CascadingValue>
            </MTabItem>
            <MTabItem Value="@("register")">
                <CascadingValue Value="@ReturnUrl">
                    <RegisterSection RegisterFields="@_viewModel.RegisterFields.ToList()" />
                </CascadingValue>
            </MTabItem>
        </MTabsItems>
    </MCard>
}
else
{
    @if (_viewModel.VisibleExternalProviders.Any())
    {
        <ExternalProviders ExternalProviderList="@_viewModel.VisibleExternalProviders" Environment="" ReturnUrl="@ReturnUrl" />
    }
    else
    {
        <MAlert Type="AlertTypes.Warning">
            <strong>Invalid login request</strong>
            There are no login schemes configured for this request.
        </MAlert>
    }
}
